Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

:memo: fix typo
  posts/2023/05/why-esmodule.md
  posts/2023/06/react-use-hook.md
Due: prettier --check

:memo: init
  posts/2023/06/how-to-analyze-nodejs-performance.md
Due: prettier --check

:memo: add esmodule
  posts/2023/06/what-is-esmodule.md
Due: prettier --check

:memo: init
  posts/2023/06/what-is-esmodule.md
Due: prettier --check

:memo: post
  posts/2023/06/how-to-analyze-nodejs-performance.md
  public/2023/06/images/flamebearer1.png
  public/2023/06/images/flamebearer2.png
  public/2023/06/images/import-graph-visualizer.png
Due: prettier --check

:memo: set published false
  posts/2023/06/what-is-esmodule.md
Due: prettier --check

:memo: update post
  posts/2023/05/what-is-in-naver.md
Due: prettier --check

:bug: [#623] fix wrong expression
  posts/2022/04/deep-dive-in-react-rendering.md
Due: prettier --check

:memo: esmodule
  posts/2023/06/what-is-esmodule.md
Due: prettier --check

:memo: fix typo
  posts/2020/10/defer-than-async.md
Due: prettier --check

:package: nextjs@14
  next-env.d.ts
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint

:memo: add new post
  posts/2023/10/react-deep-dive.md
  public/2023/10/images/react-deep-dive-github.png
  public/2023/10/images/yceffort-github.png
Due: prettier --check

:package: update lock file
  pnpm-lock.yaml
Due: none

:bug: update import path
  src/app/opengraph-image.tsx
Due: eslint

:fire: remove viewport
  src/app/layout.tsx
Due: eslint

page.tsx 업데이트
  src/app/about/page.tsx
Due: eslint

:fire: Remove commitlint configuration and update TypeScript module resolution
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --check, eslint

:art: Update TypeScript reference link and remove obsolete navigation types
  next-env.d.ts
Due: eslint

:arrow_up: Update dependencies to latest versions for improved performance and security
  package.json
  pnpm-lock.yaml
Due: prettier --check

:arrow_up: Upgrade Next.js and React dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --check

:arrow_up: Update Node.js version in .nvmrc and upgrade dependencies in package.json
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --check

✨ Refactor code structure for improved readability and maintainability
  .github/workflows/ci.yaml
  .github/workflows/lighthouse.yaml
  .github/workflows/lint.yaml
Due: none

🗑️ Remove deprecated Dockerfile and devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --check

🔧 Update GitHub Actions workflows for improved setup and consistency
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/is-website-vulnerable.yaml
  .github/workflows/lighthouse.yaml
  .github/workflows/lint.yaml
  .github/workflows/optimize-images.yaml
  package.json
Due: prettier --check

🔄 Refactor metadata generation to use Promise for params in page components
  next-env.d.ts
  src/app/[year]/[...slug]/page.tsx
  src/app/pages/[id]/page.tsx
  src/app/tags/[tag]/pages/[id]/page.tsx
Due: eslint

✨ Consolidate CI workflows by merging linting and Lighthouse jobs into a single configuration
  .github/workflows/ci.yaml
  .github/workflows/lighthouse.yaml
  .github/workflows/lint.yaml
Due: none

🔧 Simplify parameter extraction in metadata generation functions for improved readability
  src/app/[year]/[...slug]/page.tsx
  src/app/pages/[id]/page.tsx
  src/app/tags/[tag]/pages/[id]/page.tsx
Due: eslint

🎨 Refactor CSS styles for OpenGraph component and global styles for improved consistency and readability
  src/app/tailwind.css
  src/assets/css/global.css
  src/components/OpenGraph/index.module.css
Due: none

✨ Add support for rehype-slug and update remark dependencies for improved Markdown processing
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/[year]/[...slug]/page.tsx
  src/utils/Markdown.ts
Due: prettier --check, eslint
