Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

불필요한 link 제거
  src/pages/_document.tsx
Due: eslint

[#374] javascript dependency manager
  posts/2021/07/javascript-dependency-manager-dont-mange-dependencies.md
  public/2021/07/images/bundlephobia-react.png
  public/2021/07/images/disk-inventory-x.png
  public/2021/07/images/packagephobia-eslint-config-yceffort.png
Due: prettier --check

[#374] 비문 수정
  posts/2021/07/javascript-dependency-manager-dont-mange-dependencies.md
Due: prettier --check

[#374] add heading tag
  posts/2021/07/javascript-dependency-manager-dont-mange-dependencies.md
Due: prettier --check

[#374] 제목 수정
  posts/2021/07/javascript-dependency-manager-dont-mange-dependencies.md
Due: prettier --check

[ImgBot] Optimize images
  public/2021/07/images/bundlephobia-react.png
  public/2021/07/images/disk-inventory-x.png
  public/2021/07/images/packagephobia-eslint-config-yceffort.png
Due: none

add condition
  src/pages/_app.tsx
Due: eslint

누락된 as 추가
  src/components/layouts/Post/math.tsx
Due: eslint

[Post] fix broken syntax
  posts/2018/06/01/golang-structure-embedding.md
  posts/2018/07/03/ethereum-create-private-blockchain-1.md
  posts/2018/07/03/ethereum-create-private-blockchain-2.md
  posts/2018/11/03/history-of-bitcoin.md
  posts/2019/05/09/javascript-closure.md
  posts/2019/08/20/typescript-type-assertion.md
  posts/2019/09/30/handle-browser-history.md
  posts/2019/10/15/react-text-highlight.md
  posts/2020/01/delete-merged-branch.md
  posts/2020/04/koa-middleware-with-typescript.md
  posts/2020/07/the-cost-of-javascript-2019.md
Due: prettier --check

[Post] fix descriptions
  posts/2020/07/math-for-programmer-chapter1-1-logical-operation.md
  posts/2020/07/math-for-programmer-chapter1-2-set.md
  posts/2020/07/math-for-programmer-chapter2-1-integer.md
  posts/2020/07/math-for-programmer-chapter2-2-notation.md
  posts/2020/07/math-for-programmer-chapter2-3-rational-irrational-real-number.md
Due: prettier --check

[Post] Promise
  posts/2021/07/promise-then-f-f-vs-promise-catch.md
Due: prettier --check

[Post] replace useless space
  posts/2021/07/promise-then-f-f-vs-promise-catch.md
Due: prettier --check

[Post] Remove useless image
  posts/2021/07/deep-dive-to-export.md
Due: prettier --check

update devDependencies
  package-lock.json
  package.json
Due: prettier --check

[WIP] og:img
  functions/index.js
  functions/package-lock.json
  functions/package.json
  src/pages/generate-screenshot.tsx
Due: prettier --check, eslint

update screenshot
  functions/index.js
  functions/package-lock.json
  functions/package.json
  functions/ui-debug.log
  src/pages/generate-screenshot.tsx
  src/utils/common.ts
Due: prettier --check, eslint

update region
  functions/index.js
  functions/package.json
  src/utils/common.ts
Due: prettier --check, eslint

잘못된 로직 수정
  src/utils/common.ts
Due: eslint

[#378] remove unused packages
  functions/package-lock.json
  functions/package.json
Due: prettier --check

.firebaserc 이동
  functions/.firebaserc
Due: none

[#381] add images
  public/2021/08/images/yceffort-page-speed-insight.png
  public/2021/08/images/yceffort-search-console.png
  public/2021/08/images/yceffort-web-vitals-extension.png
Due: none

[#381] Post
  posts/2021/08/core-web-vital.md
Due: prettier --check

[#381] prettier:fix
  posts/2021/08/core-web-vital.md
Due: prettier --check

[#381] add missing table line
  posts/2021/08/core-web-vital.md
Due: prettier --check

[ImgBot] Optimize images
  public/2021/08/images/yceffort-page-speed-insight.png
  public/2021/08/images/yceffort-search-console.png
  public/2021/08/images/yceffort-web-vitals-extension.png
Due: none

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
