Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

mdx 주석 스타일로 변경
  posts/2022/02/think-about-ternary-operator.mdx
Due: none

workflow 노드 버전 업데이트
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
Due: none

lint:fix
  .eslintrc.js
Due: eslint

install typescript@4.5.5
  package-lock.json
  package.json
Due: prettier --check

add eslint disable comment
  src/utils/Markdown.ts
  typing/custom.d.ts
Due: eslint

placeholder 변경
  src/components/MDXComponents.tsx
Due: eslint

[Post] fix
  posts/2018/07/31/fedcoin-A-Blockchain-Backed-Central-Bank-Cryptocurrency.md
  posts/2018/10/05/what-determines-the-price-of-bitcoin.md
  posts/2018/11/08/step-by-step-machine-learning-01.md
  posts/2018/11/21/transferwise-chairman-distributed-ledger-technology-is-very-hard-to-use.md
  posts/2019/01/30/pytorch-3-convolutional-neural-network(3).md
  posts/2019/05/20/react-study-7-component-life-cycle.md
  posts/2019/12/20/tensorflowjs-01-get-started.md
  posts/2019/12/20/tensorflowjs-02-setup.md
  posts/2020/07/faster-async-functions-and-promises.md
  posts/2020/09/tricky-javascript-interview-questions.md
  posts/2020/11/retrospect-eslint-prettier.md
  posts/2020/12/side-project-diary-2020.md
  posts/2021/03/server-side-rendering-and-react-components.md
  posts/2021/12/nextjs-lesson-and-learn.md
Due: prettier --check

mdx 파일 지원
  src/utils/Post.ts
Due: eslint

prettier 최신버전 설치
  package-lock.json
  package.json
Due: prettier --check

update dependencies
  package-lock.json
  package.json
  src/utils/Markdown.ts
Due: prettier --check, eslint

update mdx components
  src/components/Link.tsx
  src/components/MDXComponents.ts
  src/components/MDXComponents.tsx
Due: eslint

fix build errors
  src/components/MobileNav.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint

mdx로 변경
  posts/2021/11/human-readable-javascript.mdx
  posts/2021/11/jorney-from-tags-to-dom.mdx
  posts/2022/02/think-about-ternary-operator.mdx
Due: none

[Post] add link
  posts/2022/03/polymorphic-function-in-typescript.md
Due: prettier --check

[Post] fix typo
  posts/2022/03/typescript-omit-exclude-pick.md
Due: prettier --check

[Post] complete
  posts/2022/03/rust-wasm-project-tutorial-1.md
  public/2022/03/images/wasm-alert.png
Due: prettier --check

[Post] writing
  posts/2022/03/rust-wasm-project-tutorial-1.md
Due: prettier --check

[Post] add comment
  posts/2022/03/rust-wasm-project-tutorial-1.md
Due: prettier --check

[Post] prettier:fix
  posts/2022/03/rust-wasm-project-tutorial-1.md
Due: prettier --check

[Post] writing..
  posts/2022/03/rust-wasm-project-tutorial-1.md
Due: prettier --check

[Post] init
  posts/2022/03/rust-wasm-tutorial-4.md
Due: prettier --check

[Post] post renaming
  posts/2022/03/rust-wasm-project-tutorial-1.md
  posts/2022/03/rust-wasm-tutorial-4.md
Due: prettier --check

[Post] init
  posts/2022/03/react-hooks-in-caution.mdx
Due: none

[Post] prettier:fix
  posts/2022/03/react-hooks-in-caution.md
  posts/2022/03/rust-wasm-project-tutorial-1.md
Due: prettier --check

[Post] description
  posts/2022/03/react-hooks-in-caution.md
Due: prettier --check

update package.json
  functions/package-lock.json
  functions/package.json
Due: prettier --check

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
