Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

[Post] writing
  posts/2022/01/javascript-self-profiling.md
Due: prettier --check

[Post] Prettier:fix
  posts/2022/01/javascript-self-profiling.md
Due: prettier --check

[Post] init
  posts/2022/01/javascript-self-profiling.md
Due: prettier --check

[Post] fix typo
  posts/2022/01/javascript-self-profiling.md
Due: prettier --check

[Post] prettier:fix
  posts/2022/01/javascript-self-profiling.md
Due: prettier --check

[Post] Writing
  posts/2022/01/javascript-self-profiling.md
Due: prettier --check

writing post
  posts/2022/01/javascript-self-profiling.md
  public/2022/01/images/javascript-profiler-example.png
  public/2022/01/images/performance-example.png
Due: prettier --check

불필요한 any 제거
  src/utils/Post.ts
Due: eslint

Markdown 리팩토링
  src/utils/Markdown.ts
Due: eslint

함수형으로 간결하게 변경
  src/utils/Post.ts
Due: eslint

theme 버튼 반대로 변경
  src/components/ThemeSwitch.tsx
Due: eslint

ThemeSwitch 리팩토링
  src/components/ThemeSwitch.tsx
  src/components/icons/themes/moon.tsx
  src/components/icons/themes/sun.tsx
Due: eslint

상수로 리팩토링
  src/components/ThemeSwitch.tsx
  src/constants/Theme.ts
Due: eslint

불필요한 주석 제거
  src/components/Footer.tsx
Due: eslint

폴더 구조 변경
  public/imageInfo.json
  src/common/const.ts
  src/components/ThemeSwitch.tsx
  src/components/layouts/List.tsx
  src/components/layouts/Post.tsx
  src/config.ts
  src/constants/index.ts
  src/pages/[year]/[...slugs].tsx
  src/pages/index.tsx
  src/pages/pages/[id].tsx
  src/pages/tags.tsx
  src/pages/tags/[tag]/pages/[id].tsx
  src/type/index.ts
  src/utils/Contact.ts
  src/utils/Post.ts
  tsconfig.json
  tsconfig.tsbuildinfo
Due: prettier --check, eslint

[Post] RSC
  posts/2022/01/how-react-server-components-work.md
Due: prettier --check

[Post] Writing
  posts/2022/01/how-react-server-components-work.md
Due: prettier --check
