Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

:package: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

:green_heart: fix wrong indent
  .github/workflows/lighthouse.yaml
Due: none

:green_heart: specific lighthouse upload target
  .github/workflows/lighthouse.yaml
Due: none

:green_heart: lint lighthouse.yaml
  .github/workflows/lighthouse.yaml
Due: none

:bug: change npm to pnpm
  .github/workflows/lighthouse.yaml
Due: none

:sparkles: [#592] add lighthouse ci
  .github/workflows/lighthouse.yaml
Due: none

:bug: fix typo
  posts/2022/06/preload-scanner.md
Due: prettier --check

:bug: fix typo
  posts/2022/04/chrome-memory-profiler.md
  posts/2022/06/optimize-LCP.md
Due: prettier --check

:bug: fix target branch of lirantal/is-website-vulnerable from master to main
  .github/workflows/is-website-vulnerable.yaml
Due: none

:bug: fix typo
  posts/2020/10/defer-than-async.md
Due: prettier --check

:fire: remove k8s/*
  k8s/app/deployment.yaml
  k8s/app/ingress.yaml
  k8s/app/service.yaml
Due: none

Update deep-dive-in-react-rendering.md
  posts/2022/04/deep-dive-in-react-rendering.md
Due: prettier --check

:package: update nextjs
  package.json
  pnpm-lock.yaml
Due: prettier --check

:bug: fix build error
  src/components/MDXComponents.tsx
Due: eslint

:package: update eslint & prettier
  .eslintrc.js
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint

:bug: fix wrong json
  .devcontainer/devcontainer.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

:recycle: clean package.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

:bug: fix typo
  posts/2021/08/async-resources-async-hooks.md
  posts/2022/04/chrome-memory-profiler.md
Due: prettier --check

:package: add lint
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: prettier --check

:package: update package
  package.json
  pnpm-lock.yaml
Due: prettier --check

:bug: fix wrong link
  src/components/LayoutWrapper.tsx
  src/components/Link.tsx
  src/components/Tag.tsx
Due: eslint

:package: install firebase
  package.json
  pnpm-lock.yaml
Due: prettier --check

:sparkles: firebase analytics
  src/lib/firebase.ts
  src/pages/_app.tsx
Due: eslint

:lipstick: prettier:fix
  package.json
  src/components/Link.tsx
  src/components/Tag.tsx
  src/lib/firebase.ts
  src/pages/_app.tsx
Due: prettier --check, eslint

:bug: fix pre-commit
  .husky/pre-commit
Due: none

:fire: remove @babel/core
  package.json
  pnpm-lock.yaml
Due: prettier --check

:rocket: resolve dependency issues
  package.json
  pnpm-lock.yaml
Due: prettier --check

:package: next@13.4
  package.json
  pnpm-lock.yaml
Due: prettier --check

:sparkles: app dir 활성화
  next-env.d.ts
  next.config.js
  tsconfig.json
Due: prettier --check, eslint

:sparkles: main head 로 분리
  src/components/Head.tsx
  src/pages/_document.tsx
Due: eslint

:sparkles: use client 추가
  src/components/MobileNav.tsx
  src/components/ThemeSwitch.tsx
Due: eslint

:rocket: index 페이지를 app dir로 분리
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/app/page.tsx
  src/components/OpenGraph/index.module.css
  src/components/OpenGraph/index.tsx
Due: eslint

:recycle: memo 추가
  src/components/MobileNav.tsx
Due: eslint

:recycle: next/image 로 변경
  src/components/OpenGraph/index.tsx
Due: eslint

:bug: react 추가
  src/components/MobileNav.tsx
Due: eslint

:package: next-mdx-remote@4.4.1
  package.json
  pnpm-lock.yaml
  src/components/MobileNav.tsx
Due: prettier --check, eslint

:bug: use client 추가
  src/pages/[year]/[...slugs].tsx
Due: eslint

:bug: development: false
  src/utils/Markdown.ts
Due: eslint

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
