Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

skip warning
  src/utils/Markdown.js
Due: eslint

prettier:fix
  package.json
Due: prettier --check

remove imageInfo
  .gitignore
  package.json
  public/imageInfo.json
Due: prettier --check

remove imageInfo.ts
  src/utils/imageInfo.ts
Due: eslint

[Post] init
  posts/2021/12/nextjs-lesson-and-learn.md
Due: prettier --check

[Post] writing
  posts/2021/12/nextjs-lesson-and-learn.md
Due: prettier --check

[Post] prettier:fix
  posts/2021/12/nextjs-lesson-and-learn.md
Due: prettier --check

[Post] prettier
  posts/2021/12/nextjs-lesson-and-learn.md
Due: prettier --check

[Post] add
  posts/2021/12/nextjs-lesson-and-learn.md
Due: prettier --check

Revert "build markdown"
  src/utils/Markdown.ts
  tsconfig.json
Due: prettier --check, eslint

remove imageInfo warning
  src/utils/Markdown.ts
Due: eslint

[Post] Complete
  posts/2021/12/nextjs-lesson-and-learn.md
Due: prettier --check

prettier:fix
  posts/2021/12/nextjs-lesson-and-learn.md
Due: prettier --check

lint:fix
  src/utils/Markdown.ts
Due: eslint

[Post] 2021 retrospective
  posts/2019/12/13/retrospective-2019.md
Due: prettier --check

[Post] 2021
  posts/2022/01/2021-retrospective.md
Due: prettier --check

[Post] Writing
  posts/2022/01/2021-retrospective.md
  public/2022/01/images/git-contribution-graph.png
Due: prettier --check

[Post] Writing
  posts/2022/01/2021-retrospective.md
Due: prettier --check

finish
  posts/2022/01/2021-retrospective.md
Due: prettier --check

prettier:fix
  posts/2019/12/13/retrospective-2019.md
  posts/2022/01/2021-retrospective.md
Due: prettier --check

writing post
  posts/2022/01/2021-retrospective.md
  public/2022/01/images/2021_running.jpeg
Due: prettier --check

prettier:fix
  posts/2022/01/2021-retrospective.md
Due: prettier --check

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
