Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

[Post] writing
  posts/2022/04/deep-dive-in-react-rendering.md
Due: prettier --check

[Post] fix typo
  posts/2022/04/react-18-changelog.md
Due: prettier --check

minify sitemap
  src/utils/siteMap.ts
Due: eslint

[Post] add Post
  posts/2022/04/temporary-suspension-pwa.md
  public/2022/04/images/bandwidth.png
Due: prettier --check

PWA disable
  next.config.js
Due: eslint

도커 알파인 노드 버전 업
  Dockerfile
Due: none

@types/date-fns 삭제
  package-lock.json
  package.json
Due: prettier --check

sharp 설치
  package-lock.json
  package.json
Due: prettier --check

k8s app 설정
  k8s/app/deployment.yaml
  k8s/app/ingress.yaml
  k8s/app/service.yaml
Due: none

next-pwa@5.5.0
  package-lock.json
  package.json
Due: prettier --check

remove unused import
  src/components/icons/profile.tsx
Due: eslint

[Post] complete
  posts/2022/04/best-practice-useCallback-useMemo.md
Due: prettier --check

[Post] init
  posts/2022/04/memo-for-referential-stability-in-react.md
Due: prettier --check

[Post] complete
  posts/2022/04/memo-for-referential-stability-in-react.md
Due: prettier --check

[Post] fix typo
  posts/2022/04/memo-for-referential-stability-in-react.md
Due: prettier --check

pwa on
  next.config.js
Due: eslint

[Post] prettier:fix
  posts/2022/04/memo-for-referential-stability-in-react.md
Due: prettier --check

[#538] add devcontainer.json
  .devcontainer/devcontainer.json
Due: prettier --check

[Post] fix typo
  posts/2021/08/event-loop-deep-dive.md
  posts/2022/01/javascript-self-profiling.md
  posts/2022/02/rust-for-javascript-developer-chapter1.md
  posts/2022/04/best-practice-useCallback-useMemo.md
  posts/2022/04/deep-dive-in-react-rendering.md
  posts/2022/04/memo-for-referential-stability-in-react.md
Due: prettier --check

[Blog] remove www
  src/utils/Contact.ts
Due: eslint

[Blog] add twitter
  src/components/Footer.tsx
  src/config.ts
  src/pages/about.tsx
Due: eslint

[Post] init
  posts/2022/04/how-javascript-memory-works.md
Due: prettier --check

[Post] writing
  posts/2022/04/how-javascript-memory-works.md
Due: prettier --check

[Post] 파일명 변경
  posts/2022/04/how-javascript-memory-works.md
  posts/2022/04/how-javascript-variable-works-in-memory.md
Due: prettier --check

[Post] fix typo
  posts/2022/04/how-javascript-variable-works-in-memory.md
Due: prettier --check

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
