Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

add post
  posts/2022/03/understanding-typescript-never.md
Due: prettier --check

[Post] fix typo
  posts/2022/02/javascript-monorepo.md
  posts/2022/02/rust-for-javascript-developer-chapter1.md
  posts/2022/03/understanding-typescript-never.md
Due: prettier --check

[Post] fix typo
  posts/2018/08/02/a-blockchain-solution-to-control.md
  posts/2022/03/understanding-typescript-never.md
Due: prettier --check

[Post] Complete
  posts/2022/03/understanding-typescript-never.md
Due: prettier --check

[Post] fix
  posts/2022/03/understanding-typescript-never.md
Due: prettier --check

[Post] typescript never
  posts/2022/03/understanding-typescript-never.md
Due: prettier --check

update packages
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: prettier --check

[Post] Complete
  posts/2022/03/polymorphic-function-in-typescript.md
Due: prettier --check

[Post] fix
  posts/2022/03/polymorphic-function-in-typescript.md
Due: prettier --check

[Post] fix typo
  posts/2022/03/polymorphic-function-in-typescript.md
Due: prettier --check

[Post] remove useless space
  posts/2022/03/polymorphic-function-in-typescript.md
Due: prettier --check

[Post] init
  posts/2022/03/typescript-omit-exclude-pick.md
Due: prettier --check

[Post] Complete
  posts/2022/03/typescript-omit-exclude-pick.md
Due: prettier --check

[Post] Change title and description
  posts/2022/03/typescript-omit-exclude-pick.md
Due: prettier --check

[Post] prettier:fix
  posts/2022/03/typescript-omit-exclude-pick.md
Due: prettier --check

[Post] add description
  posts/2022/03/polymorphic-function-in-typescript.md
Due: prettier --check

[Post] fix typo
  posts/2022/02/new-react-framework-remix.md
Due: prettier --check

update dependencies
  package-lock.json
  package.json
  src/utils/Markdown.ts
Due: prettier --check, eslint

update mdx components
  src/components/Link.tsx
  src/components/MDXComponents.ts
  src/components/MDXComponents.tsx
Due: eslint

fix build errors
  src/components/MobileNav.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint

[Post] fix
  posts/2018/07/31/fedcoin-A-Blockchain-Backed-Central-Bank-Cryptocurrency.md
  posts/2018/10/05/what-determines-the-price-of-bitcoin.md
  posts/2018/11/08/step-by-step-machine-learning-01.md
  posts/2018/11/21/transferwise-chairman-distributed-ledger-technology-is-very-hard-to-use.md
  posts/2019/01/30/pytorch-3-convolutional-neural-network(3).md
  posts/2019/05/20/react-study-7-component-life-cycle.md
  posts/2019/12/20/tensorflowjs-01-get-started.md
  posts/2019/12/20/tensorflowjs-02-setup.md
  posts/2020/07/faster-async-functions-and-promises.md
  posts/2020/09/tricky-javascript-interview-questions.md
  posts/2020/11/retrospect-eslint-prettier.md
  posts/2020/12/side-project-diary-2020.md
  posts/2021/03/server-side-rendering-and-react-components.md
  posts/2021/12/nextjs-lesson-and-learn.md
Due: prettier --check

prettier 최신버전 설치
  package-lock.json
  package.json
Due: prettier --check

placeholder 변경
  src/components/MDXComponents.tsx
Due: eslint

mdx 파일 지원
  src/utils/Post.ts
Due: eslint

mdx로 변경
  posts/2021/11/human-readable-javascript.mdx
  posts/2021/11/jorney-from-tags-to-dom.mdx
  posts/2022/02/think-about-ternary-operator.mdx
Due: none

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
