Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

[Post] update..
  posts/2021/11/journey-from-server-to-client.md
Due: prettier --check

[Post] add flowchart
  public/2021/11/images/flowchart.png
Due: none

[Post] init
  package-lock.json
  posts/2021/11/journey-from-server-to-client.md
Due: prettier --check

[Post] Prettier:fix
  posts/2021/11/journey-from-server-to-client.md
Due: prettier --check

[Post] Finished
  posts/2021/11/journey-from-server-to-client.md
Due: prettier --check

update package-lock.json
  package-lock.json
Due: prettier --check

[Post] fix typo
  posts/2021/09/deep-dive-javascript-regex.md
  posts/2021/11/journey-from-server-to-client.md
Due: prettier --check

add tag
  posts/2021/11/journey-from-server-to-client.md
Due: prettier --check

[Post] init
  posts/2021/11/jorney-from-tags-to-dom.md
Due: prettier --check

[Post] 작성중
  posts/2021/11/jorney-from-tags-to-dom.md
Due: prettier --check

[Post] 작성 중
  posts/2021/11/jorney-from-tags-to-dom.md
Due: prettier --check

[Post] prettier:fix
  posts/2021/11/jorney-from-tags-to-dom.md
Due: prettier --check

[Post] finished
  posts/2021/11/jorney-from-tags-to-dom.md
Due: prettier --check

[Post] fix typo
  posts/2021/11/jorney-from-tags-to-dom.md
Due: prettier --check

update post
  posts/2021/10/is-html-programming-language.md
Due: prettier --check

add prettier ignore
  posts/2021/11/jorney-from-tags-to-dom.md
Due: prettier --check

[Post] add description
  posts/2021/10/is-html-programming-language.md
Due: prettier --check

update packages
  package-lock.json
  package.json
Due: prettier --check

[Post] fix code snippet
  posts/2019/10/15/react-text-highlight.md
Due: prettier --check

[Post] fix typo
  posts/2019/10/15/react-text-highlight.md
Due: prettier --check

[Blog] update packages
  package-lock.json
  package.json
Due: prettier --check

update packages
  next-env.d.ts
  package-lock.json
  package.json
Due: prettier --check, eslint

update eslint
  .eslintrc.js
  src/pages/_app.tsx
Due: eslint

[#461] install @titicaca/eslint-config-triple
  .eslintrc.js
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --check, eslint

fix lint issue
  .eslintrc.js
  posts/2019/10/15/react-text-highlight.md
  src/components/Link.tsx
  src/components/MDXComponents.ts
  src/components/MobileNav.tsx
  src/components/Tag.tsx
  src/components/layouts/Post.tsx
  src/config.ts
  src/pages/[year]/[...slugs].tsx
  src/pages/index.tsx
  src/utils/Markdown.ts
  src/utils/common.ts
Due: prettier --check, eslint

add npm run style
  .github/workflows/lint.yaml
Due: none

Fix build error
  src/components/Footer.tsx
  src/components/LayoutWrapper.tsx
  src/components/MobileNav.tsx
  src/components/SEO.tsx
  src/components/layouts/Post.tsx
  src/components/screenshot/index.tsx
  src/config.ts
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/pages/[id].tsx
  src/pages/tags.tsx
Due: eslint

add run images
  .github/workflows/lint.yaml
Due: none

fix style script
  .github/workflows/lint.yaml
Due: none

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
