Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

:package: add @types/unist
  package.json
  pnpm-lock.yaml
Due: prettier --check

:recycle: change pnpm mode
  .npmrc
Due: none

:package: add vfile, unified
  package.json
  pnpm-lock.yaml
Due: prettier --check

:recycle: update pnpm.lock
  pnpm-lock.yaml
Due: none

:package: add packages for stylelint
  package.json
  pnpm-lock.yaml
Due: prettier --check

:memo: init
  posts/2022/06/preload-scanner.md
Due: prettier --check

:memo: writing
  posts/2022/06/preload-scanner.md
Due: prettier --check

:memo: post
  posts/2022/06/preload-scanner.md
Due: prettier --check

:memo: complete
  posts/2022/06/optimize-LCP.md
  posts/2022/06/preload-scanner.md
Due: prettier --check

:memo: remove https://yceffort.kr
  posts/2018/05/31/compare-string-with-voice.md
  posts/2020/12/side-project-diary-2020.md
  posts/2021/01/effectiveness-of-brotli.md
  posts/2021/02/javascript-performance-bundle-size.md
  posts/2021/03/javascript-generator-regeneratorRuntime.md
  posts/2021/05/review-of-vercel-cs.md
  posts/2021/09/deep-dive-javascript-regex.md
  posts/2021/10/difference-between-link-and-button.md
  posts/2022/03/rust-wasm-tutorial-1.md
  posts/2022/06/preload-scanner.md
Due: prettier --check

:sparkles: update robots.txt
  public/robots.txt
Due: none

:package: update dependencies
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --check

:memo: fix typo
  posts/2022/04/react-18-changelog.md
Due: prettier --check

:package: install @types/gtag.js
  package.json
  pnpm-lock.yaml
Due: prettier --check

:recycle: move naming-convention rules
  .eslintrc.js
  naming-convention.js
Due: eslint

:sparkles: collect web vital metrics
  src/pages/_app.tsx
Due: eslint

:bug: remove reportWebVital
  src/pages/_app.tsx
Due: eslint

:memo: fix typo
  posts/2022/06/optimize-LCP.md
  posts/2022/06/preload-scanner.md
Due: prettier --check

:memo: fix typo
  posts/2022/04/memo-for-referential-stability-in-react.md
  posts/2022/06/optimize-LCP.md
Due: prettier --check

:memo: fix typo
  posts/2020/08/commonjs-esmodules.md
Due: prettier --check

:memo: init
  posts/2022/06/JSON-stringify.md
Due: prettier --check

:memo: post
  posts/2022/06/JSON-stringify.md
Due: prettier --check

:memo: complete
  posts/2022/06/JSON-stringify.md
Due: prettier --check

:memo: update description
  posts/2022/06/JSON-stringify.md
Due: prettier --check

:memo: fix wrong code
  posts/2022/06/JSON-stringify.md
Due: prettier --check
