Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

prettier:fix
  tsconfig.json
  tsconfig.node.json
Due: prettier --check

이미지 파일 계산 타입스크립트로 변경
  package.json
  src/imageInfo.js
  src/utils/imageInfo.ts
Due: prettier --check, eslint

install ts-node
  package-lock.json
  package.json
Due: prettier --check

[Bug] Fix sitemap
  src/utils/siteMap.ts
Due: eslint

[Post] 1day 1commit
  posts/2021/07/1day-1commit-365days.md
  public/2021/07/images/1day-1commit.png
  public/2021/07/images/google-search-console.png
  public/2021/07/images/run.jpeg
Due: prettier --check

prettier:fix
  posts/2021/07/1day-1commit-365days.md
Due: prettier --check

[ImgBot] Optimize images
  public/2021/07/images/1day-1commit.png
  public/2021/07/images/google-search-console.png
  public/2021/07/images/run.jpeg
Due: none

[Post] Fix Typo
  posts/2021/05/bad-habits-of-typescript.md
  posts/2021/05/http1-vs-http2.md
  posts/2021/05/review-of-vercel-cs.md
  posts/2021/06/dynamic-import-esmodule.md
  posts/2021/06/error-handling-in-nodejs.md
  posts/2021/06/misconceptions-on-nodejs.md
  posts/2021/06/ways-to-faster-web-fonts.md
  posts/2021/07/dont-use-nodjs-orm.md
  posts/2021/07/nodejs-modules-packages-semver.md
Due: prettier --check

[Post] Fix typo
  posts/2021/02/javascript-performance-bundle-size.md
Due: prettier --check

[Post] Fix Description
  posts/2020/03/regex-formatting-number.md
Due: prettier --check

[Post] Fix description
  posts/2020/07/make-use-of-long-term-caching.md
  posts/2020/07/math-for-programmer-chapter1-1-logical-operation.md
  posts/2020/07/math-for-programmer-chapter1-2-set.md
  posts/2020/07/math-for-programmer-chapter2-1-integer.md
Due: prettier --check

Update server-side-rendering-and-react-components.md
  posts/2021/03/server-side-rendering-and-react-components.md
Due: prettier --check

fix description
  posts/2018/09/19/how-does-proof-of-authority-consensus-work.md
Due: prettier --check

[#368] nodejs process
  posts/2021/07/kill-a-nodejs-process.md
Due: prettier --check

fix typo
  posts/2018/09/19/how-does-proof-of-authority-consensus-work.md
  posts/2021/07/nodejs-modules-packages-semver.md
Due: prettier --check

prettier:fix
  posts/2021/07/kill-a-nodejs-process.md
  posts/2021/07/nodejs-modules-packages-semver.md
Due: prettier --check

[Post] fix typo
  posts/2021/07/nodejs-modules-packages-semver.md
Due: prettier --check

Update npm-workspaces-esbuild.md
  posts/2021/07/npm-workspaces-esbuild.md
Due: prettier --check

Delete 1day-1commit-365days.md
  posts/2021/07/1day-1commit-365days.md
Due: prettier --check

Update outdated packages
  package-lock.json
  package.json
Due: prettier --check

update packages
  .npmrc
  package-lock.json
  package.json
Due: prettier --check

[Post] Deep dive to export
  posts/2021/07/deep-dive-to-export.md
Due: prettier --check

[Post] prettier:fix
  posts/2021/07/deep-dive-to-export.md
Due: prettier --check

update image url
  package.json
  posts/2020/01/chrome-cookie-same-site-secure.md
Due: prettier --check

Remove unused action
  .github/workflows/update-dependencies.yaml
Due: none

Defer keyword 삭제
  src/pages/_app.tsx
Due: eslint

Add indent
  src/pages/_app.tsx
Due: eslint

lazyOnload로 변경
  src/pages/_app.tsx
Due: eslint

불필요한 link 제거
  src/pages/_document.tsx
Due: eslint

tailwind색 변경
  tailwind.config.js
Due: eslint
