Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

[Post] Draft
  posts/2021/06/react-hooks-with-condition.md
Due: prettier --check

remove temp code
  pages/404.tsx
Due: eslint

Prettier:fix
  posts/2021/06/react-hooks-with-condition.md
Due: prettier --check

[Post] React Hooks with Condition
  .gitignore
  pages/404.tsx
  posts/2021/06/react-hooks-with-condition.md
Due: prettier --check, eslint

[ImgBot] Optimize images
  public/2021/06/images/example-cluster-setup.png
Due: none

[#314] K8s No.2
  posts/2021/06/study-k8s-2.md
Due: prettier --check

update profile image & introduction
  pages/about.tsx
  public/profile.png
Due: eslint

update all favicons
  public/favicon/android-icon-144x144.png
  public/favicon/android-icon-192x192.png
  public/favicon/android-icon-36x36.png
  public/favicon/android-icon-48x48.png
  public/favicon/android-icon-72x72.png
  public/favicon/android-icon-96x96.png
  public/favicon/apple-icon-114x114.png
  public/favicon/apple-icon-120x120.png
  public/favicon/apple-icon-144x144.png
  public/favicon/apple-icon-152x152.png
  public/favicon/apple-icon-180x180.png
  public/favicon/apple-icon-57x57.png
  public/favicon/apple-icon-60x60.png
  public/favicon/apple-icon-72x72.png
  public/favicon/apple-icon-76x76.png
  public/favicon/apple-icon-precomposed.png
  public/favicon/apple-icon.png
  public/favicon/browserconfig.xml
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.ico
  public/favicon/ms-icon-144x144.png
  public/favicon/ms-icon-150x150.png
  public/favicon/ms-icon-310x310.png
  public/favicon/ms-icon-70x70.png
Due: none

delete image background
  public/favicon/android-icon-144x144.png
  public/favicon/android-icon-192x192.png
  public/favicon/android-icon-36x36.png
  public/favicon/android-icon-48x48.png
  public/favicon/android-icon-72x72.png
  public/favicon/android-icon-96x96.png
  public/favicon/apple-icon-114x114.png
  public/favicon/apple-icon-120x120.png
  public/favicon/apple-icon-144x144.png
  public/favicon/apple-icon-152x152.png
  public/favicon/apple-icon-180x180.png
  public/favicon/apple-icon-57x57.png
  public/favicon/apple-icon-60x60.png
  public/favicon/apple-icon-72x72.png
  public/favicon/apple-icon-76x76.png
  public/favicon/apple-icon-precomposed.png
  public/favicon/apple-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.ico
  public/favicon/ms-icon-144x144.png
  public/favicon/ms-icon-150x150.png
  public/favicon/ms-icon-310x310.png
  public/favicon/ms-icon-70x70.png
  public/profile.png
Due: none

[Post] Typescript Structural Typing
  posts/2021/06/typescript-structual-typing.md
Due: prettier --check

[Post] Fix typo
  posts/2021/06/study-k8s-2.md
Due: prettier --check

[#314] K8s No.3
  posts/2021/06/study-k8s-3.md
  public/2021/06/images/mongo-express.png
Due: prettier --check

[#314] run prettier:fix
  posts/2021/06/study-k8s-3.md
Due: prettier --check

[ImgBot] Optimize images
  public/2021/06/images/mongo-express.png
  public/favicon/android-icon-144x144.png
  public/favicon/android-icon-192x192.png
  public/favicon/android-icon-36x36.png
  public/favicon/android-icon-48x48.png
  public/favicon/android-icon-72x72.png
  public/favicon/android-icon-96x96.png
  public/favicon/apple-icon-114x114.png
  public/favicon/apple-icon-120x120.png
  public/favicon/apple-icon-144x144.png
  public/favicon/apple-icon-152x152.png
  public/favicon/apple-icon-180x180.png
  public/favicon/apple-icon-57x57.png
  public/favicon/apple-icon-60x60.png
  public/favicon/apple-icon-72x72.png
  public/favicon/apple-icon-76x76.png
  public/favicon/apple-icon-precomposed.png
  public/favicon/apple-icon.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-96x96.png
  public/favicon/ms-icon-144x144.png
  public/favicon/ms-icon-150x150.png
  public/favicon/ms-icon-310x310.png
  public/favicon/ms-icon-70x70.png
  public/profile.png
Due: none

[Post] #341
  posts/2021/06/typescript-type-operation-generic.md
  public/2021/06/images/type-operation1.png
Due: prettier --check

Fix typo
  posts/2018/06/18/research-perspectives-and-challenges-for-bitcoin-and-cryptocurrencies.md
  posts/2018/06/20/majority-is-not-enough-bitcoin-mining-is-vulnerable.md
  posts/2018/07/31/fedcoin-A-Blockchain-Backed-Central-Bank-Cryptocurrency.md
  posts/2018/08/17/regulatory-issues-and-challenges-presented-by-virtual-currencies.md
  posts/2018/08/22/what-blockchain-cant-do.md
  posts/2018/09/10/blockchains-and-the-GDPR.md
  posts/2020/10/service-worker-of-create-react-app.md
  posts/2020/11/back-forward-cache.md
  posts/2020/11/nodejs-recovery-self-healing.md
  posts/2021/05/http1-vs-http2.md
Due: prettier --check

[#343] upgrade next@v10 to v11
  package-lock.json
  package.json
Due: prettier --check

svg를 리액트 컴포넌트로 변경
  src/components/icons/facebook.svg
  src/components/icons/facebook.tsx
  src/components/icons/github.svg
  src/components/icons/github.tsx
  src/components/icons/index.tsx
  src/components/icons/linkedin.svg
  src/components/icons/linkedin.tsx
  src/components/icons/mail.svg
  src/components/icons/mail.tsx
  src/components/icons/profile.svg
  src/components/icons/profile.tsx
  src/components/icons/twitter.svg
  src/components/icons/twitter.tsx
  src/components/icons/youtube.svg
  src/components/icons/youtube.tsx
Due: eslint

remove svgr/webpack
  next.config.js
Due: eslint

update dependencies
  package-lock.json
  package.json
Due: prettier --check

add className
  src/components/icons/facebook.tsx
  src/components/icons/github.tsx
  src/components/icons/index.tsx
  src/components/icons/linkedin.tsx
  src/components/icons/mail.tsx
  src/components/icons/profile.tsx
  src/components/icons/twitter.tsx
  src/components/icons/youtube.tsx
Due: eslint

install eslint-config-next
  package-lock.json
  package.json
Due: prettier --check

prettier:fix
  README.md
  posts/2020/05/javascript-decorator.md
  posts/2020/06/notion-app-performance-case-study.md
  posts/2020/07/decrease-front-end-size.md
  posts/2020/08/update-blog.md
  posts/2020/10/react-hooks-and-hocs.md
  posts/2020/11/react-memoization.md
  posts/2021/06/error-handling-in-nodejs.md
Due: prettier --check

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
