Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

:rocket: enable @vercel/analytics
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: prettier --check, eslint

:bug: lighthouse 이슈 수정
  lighthouserc.js
Due: eslint

:package: lighthouse 버전업
  .github/workflows/lighthouse.yaml
Due: none

:memo: fix typo
  posts/2022/03/understanding-typescript-never.md
  posts/2023/05/blog-app-dir.md
Due: prettier --check

:bug: 외부 이미지는 img 태그 사용하도록 수정
  src/components/MDXComponents.tsx
Due: eslint

:memo: fix typo
  posts/2022/06/preload-scanner.md
Due: prettier --check

:memo: chalk 추가
  posts/2023/05/what-is-commonjs.md
Due: prettier --check

:sparkles: update husky
  .husky/commit-msg
  .husky/pre-commit
Due: none

:package: update pnpm version
  .github/workflows/ci.yaml
  .github/workflows/lighthouse.yaml
  .github/workflows/lint.yaml
Due: none

:fire: remove pnp
  .npmrc
Due: none

:package: add pnpm-lock
  pnpm-lock.yaml
Due: none

:memo: naver
  posts/2023/05/what-is-in-naver.md
  public/2023/05/images/naver-11.png
Due: prettier --check

:memo: what's in naver
  posts/2023/05/what-is-in-naver.md
  public/2023/05/images/naver-01.png
  public/2023/05/images/naver-02.png
  public/2023/05/images/naver-03.png
  public/2023/05/images/naver-04.png
  public/2023/05/images/naver-05.png
  public/2023/05/images/naver-06.png
  public/2023/05/images/naver-07-1.png
  public/2023/05/images/naver-07-2.png
  public/2023/05/images/naver-08.png
  public/2023/05/images/naver-09.png
Due: prettier --check

:memo: naver
  posts/2023/05/what-is-in-naver.md
  public/2023/05/images/naver-10.png
Due: prettier --check

:memo: update title
  posts/2023/05/what-is-in-naver.md
Due: prettier --check

:bug: code 블록에 break-word 추가
  tailwind.config.js
Due: eslint

:memo: 오타 수정
  posts/2020/07/how-commonjs-is-making-your-bundles-larger.md
Due: prettier --check

:memo: naver
  posts/2023/05/what-is-in-naver.md
  public/2023/05/images/naver-12-1.png
  public/2023/05/images/naver-12-2.png
Due: prettier --check

:memo: fix typo
  posts/2023/05/what-is-in-naver.md
Due: prettier --check

:memo: why esmodule
  posts/2023/05/why-esmodule.md
Due: prettier --check

:bug: opengraph-image 에서 next/image 삭제
  src/components/OpenGraph/index.tsx
Due: eslint

:memo: add use hook
  posts/2023/06/react-use-hook.md
  public/2023/06/images/react-use.png
Due: prettier --check

:memo: downgrade pnpm-lock version
  pnpm-lock.yaml
Due: none

:memo: add Post
  posts/2023/06/react-use-hook.md
Due: prettier --check

:memo: update tags
  posts/2023/06/react-use-hook.md
Due: prettier --check
