Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, eslint

test
  posts/2021/05/do-not-use-suppressImplicitAnyIndexErrors.md
Due: prettier

run prettier:fix
  .lintstagedrc
  package.json
  posts/2021/05/do-not-use-suppressImplicitAnyIndexErrors.md
Due: prettier

lint-staged 변경
  .husky/pre-commit
  package.json
Due: prettier

test
  package.json
  posts/2021/05/do-not-use-suppressImplicitAnyIndexErrors.md
Due: prettier

husky & lint-staged
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier

add test
  .husky/pre-commit
Due: none

test
  .lintstagedrc
  package.json
Due: prettier

[Post] #316
  posts/2021/06/misconceptions-on-nodejs.md
Due: prettier

[Post] #316 완성
  posts/2021/06/misconceptions-on-nodejs.md
Due: prettier

[Post] #316 run prettier:fix
  posts/2021/06/misconceptions-on-nodejs.md
Due: prettier

[Post] #326
  posts/2021/06/error-handling-in-nodejs.md
Due: prettier

Fix Typo
  posts/2018/11/22/us-crypto-currencies-payments-analysis-bitcoin-for-payments-a-distant-dream-as-usage-dries-up.md
  posts/2021/02/javascript-function.md
  posts/2021/06/fix-nextjs-scroll-position.md
Due: prettier

[Post] looping over arrays
  posts/2021/06/best-solution-for-looping-over-array.md
  posts/2021/06/fix-nextjs-scroll-position.md
Due: prettier

update-deps
  package-lock.json
  package.json
  src/utils/Markdown.ts
Due: prettier, eslint

update next-mdx-remote
  pages/[year]/[...slugs].tsx
Due: eslint

update packages
  package-lock.json
  package.json
Due: prettier

remove unused files
  src/components/Card.tsx
  src/constants/Icon.ts
  src/constants/icons.ts
  src/constants/pagination.ts
  tsconfig.node.json
Due: prettier, eslint

Refactoring
  pages/[year]/[...slugs].tsx
  src/config.ts
  src/utils/Markdown.ts
  src/utils/Post.ts
Due: eslint

remove unused import
  src/utils/Markdown.ts
Due: eslint

[#314] K8s No.1
  posts/2021/06/study-k8s-1.md
  public/2021/06/images/example-cluster-setup.png
Due: prettier

fix typo
  posts/2021/06/study-k8s-1.md
Due: prettier

[#314] prettier:fix
  posts/2021/06/study-k8s-1.md
Due: prettier

[ImgBot] Optimize images
  public/2021/06/images/example-cluster-setup.png
Due: none

[Post] React Hooks with Condition
  .gitignore
  pages/404.tsx
  posts/2021/06/react-hooks-with-condition.md
Due: prettier, eslint

Path conditions:
  prettier: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
