Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

[Post] benchmarking-web-javascript-memory-usage
  posts/2021/08/benchmarking-web-javascript-memory-usage.md
Due: prettier --check

fix typo
  posts/2021/08/benchmarking-web-javascript-memory-usage.md
Due: prettier --check

prettier:fix
  posts/2021/08/benchmarking-web-javascript-memory-usage.md
Due: prettier --check

uninstall package
  package-lock.json
  package.json
Due: prettier --check

update pacakges
  package-lock.json
  package.json
Due: prettier --check

[#386] init post
  posts/2021/08/browser-nodejs-event-loop.md
Due: prettier --check

[#386] complete post
  posts/2021/08/browser-nodejs-event-loop.md
Due: prettier --check

[#386] prettier:fix
  posts/2021/08/browser-nodejs-event-loop.md
Due: prettier --check

[#386] fix indent
  posts/2021/08/browser-nodejs-event-loop.md
Due: prettier --check

[Blog] add word-break property
  tailwind.config.js
Due: eslint

[Blog] Katex overflow 발생시 스크롤 처리
  src/tailwind.css
Due: none

add EOL
  src/tailwind.css
Due: none

[Post] 핵심 웹 바이탈 > 코어 웹 바이탈로 변경
  posts/2021/08/benchmarking-web-javascript-memory-usage.md
  posts/2021/08/core-web-vital.md
Due: prettier --check

[Blog] Update profile
  package.json
  src/pages/about.tsx
Due: prettier --check, eslint

[#386] add tag
  posts/2021/08/browser-nodejs-event-loop.md
Due: prettier --check

[Blog] Remove study category
  src/config.ts
Due: eslint

[#386] fix typo
  posts/2021/08/browser-nodejs-event-loop.md
Due: prettier --check

[#21] 404 이미지 수정
  posts/2020/09/referer-and-referrer-policy.md
Due: prettier --check

[#390] writing
  posts/2021/08/async-resources-async-hooks.md
Due: prettier --check

[#390] writing..
  posts/2021/08/async-resources-async-hooks.md
Due: prettier --check

[#390] init
  posts/2021/08/async-resources-async-hooks.md
Due: prettier --check

[#393] install nextjs 11.1
  package-lock.json
  package.json
Due: prettier --check

[#393] useESM on
  next.config.js
Due: eslint

Update next-env.d.ts
  next-env.d.ts
Due: eslint

[#393] pages에 숫자가 아닌 값이 올 경우 redirect
  next.config.js
Due: eslint
