Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

[Post] add images
  public/2022/04/images/chrome-devtool1.png
  public/2022/04/images/chrome-devtool2.png
  public/2022/04/images/chrome-devtool3.png
Due: none

[Post] writing...
  posts/2022/04/how-javascript-variable-works-in-memory.md
Due: prettier --check

[Post] add image
  public/2022/04/images/chrome-devtool4.png
Due: none

[Post] Complete
  posts/2022/04/how-javascript-variable-works-in-memory.md
Due: prettier --check

[Post] finish
  posts/2022/04/how-javascript-variable-works-in-memory.md
Due: prettier --check

[Post] writing
  posts/2022/04/how-javascript-variable-works-in-memory.md
  public/2022/04/images/chrome-devtool4.png
  public/2022/04/images/chrome-devtool5.png
  public/2022/04/images/chrome-devtool6.png
Due: prettier --check

[Post] writing
  posts/2022/04/how-javascript-memory-works.md
Due: prettier --check

[Post] 파일명 변경
  posts/2022/04/how-javascript-memory-works.md
  posts/2022/04/how-javascript-variable-works-in-memory.md
Due: prettier --check

[Post] fix typo
  posts/2022/04/how-javascript-variable-works-in-memory.md
Due: prettier --check

[Post] init
  posts/2022/04/how-javascript-memory-works.md
Due: prettier --check

:sparkles: husky 추가
  .husky/commit-msg
Due: none

:sparkles: commitlint 추가
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --check, eslint

:memo: fix typo
  posts/2022/04/deep-dive-in-react-rendering.md
  posts/2022/04/how-javascript-variable-works-in-memory.md
  posts/2022/04/memo-for-referential-stability-in-react.md
Due: prettier --check

:memo: init
  posts/2022/04/chrome-memory-profiler.md
Due: prettier --check

:memo: writing
  posts/2022/04/chrome-memory-profiler.md
  public/2022/04/images/chrome-memory-profiler1.png
  public/2022/04/images/chrome-memory-profiler2.png
Due: prettier --check

:memo: code
  posts/2022/04/chrome-memory-profiler.md
Due: prettier --check

:memo: writing
  posts/2022/04/chrome-memory-profiler.md
  public/2022/04/images/chrome-memory-profiler3.png
  public/2022/04/images/chrome-memory-profiler4.png
  public/2022/04/images/chrome-memory-profiler5.png
  public/2022/04/images/chrome-memory-profiler6.png
  public/2022/04/images/chrome-memory-profiler7.png
Due: prettier --check

:memo: post
  posts/2020/12/javascript-garbage-collection.md
  posts/2022/04/chrome-memory-profiler.md
  public/2022/04/images/chrome-memory-profiler10.png
  public/2022/04/images/chrome-memory-profiler11.png
  public/2022/04/images/chrome-memory-profiler12.png
  public/2022/04/images/chrome-memory-profiler8.png
  public/2022/04/images/chrome-memory-profiler9.png
Due: prettier --check

:recycle: optimize Post.ts
  src/utils/Post.ts
Due: eslint

:recycle: optimize devcontainer.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --check

:recycle: optimize post
  src/utils/Post.ts
Due: eslint

:recycle: install jake@10.8.5 for security
  package-lock.json
  package.json
Due: prettier --check

:recycle: remove jake
  package-lock.json
  package.json
Due: prettier --check

:sparkles: add gitmoji
  commitlint.config.js
Due: eslint

:memo: fix description
  posts/2022/04/best-practice-useCallback-useMemo.md
  posts/2022/04/rust-wasm-project-tutorial-2.md
Due: prettier --check

:memo: init
  posts/2022/05/typescript-tips-and-tricks.md
Due: prettier --check

:memo: add
  posts/2022/05/typescript-tips-and-tricks.md
Due: prettier --check

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
