Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

fix style script
  .github/workflows/lint.yaml
Due: none

add run images
  .github/workflows/lint.yaml
Due: none

Fix build error
  src/components/Footer.tsx
  src/components/LayoutWrapper.tsx
  src/components/MobileNav.tsx
  src/components/SEO.tsx
  src/components/layouts/Post.tsx
  src/components/screenshot/index.tsx
  src/config.ts
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/pages/[id].tsx
  src/pages/tags.tsx
Due: eslint

[#461] install @titicaca/eslint-config-triple
  .eslintrc.js
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --check, eslint

fix lint issue
  .eslintrc.js
  posts/2019/10/15/react-text-highlight.md
  src/components/Link.tsx
  src/components/MDXComponents.ts
  src/components/MobileNav.tsx
  src/components/Tag.tsx
  src/components/layouts/Post.tsx
  src/config.ts
  src/pages/[year]/[...slugs].tsx
  src/pages/index.tsx
  src/utils/Markdown.ts
  src/utils/common.ts
Due: prettier --check, eslint

[Post] init
  posts/2021/12/journey-from-javascript-to-jit.md
Due: prettier --check

[Post] writing...
  posts/2021/12/journey-from-javascript-to-jit.md
Due: prettier --check

[Post] published: false
  posts/2021/12/journey-from-javascript-to-jit.md
Due: prettier --check

[Post] prettier
  posts/2021/12/journey-from-javascript-to-jit.md
Due: prettier --check

add post
  posts/2021/12/journey-from-javascript-to-jit.md
Due: prettier --check

[Post] node_modules git
  posts/2021/12/add-node_modules-in-git.md
Due: prettier --check

[Post] init
  posts/2021/12/nodejs-memory-limit.md
Due: prettier --check

[Post] writing..
  posts/2021/12/nodejs-memory-limit.md
Due: prettier --check

[Post] writing
  posts/2021/12/nodejs-memory-limit.md
  public/2021/12/images/memory-usage.png
Due: prettier --check

[Post] prettier:fix
  posts/2021/12/nodejs-memory-limit.md
Due: prettier --check

[Post] finished
  posts/2021/12/nodejs-memory-limit.md
Due: prettier --check

[Post] remove useless empty line
  posts/2019/01/29/pytorch-3-convolutional-neural-network.md
  posts/2019/08/13/reactjs-interview-questions.md
Due: prettier --check

[Post] fix typo
  posts/2021/11/responsibility-of-javascript-code.md
Due: prettier --check

build markdown
  src/utils/Markdown.js
  tsconfig.json
Due: prettier --check, eslint

skip images
  package.json
  tsconfig.json
Due: prettier --check

skip warning
  src/utils/Markdown.js
Due: eslint

remove imageInfo.ts
  src/utils/imageInfo.ts
Due: eslint

remove imageInfo
  .gitignore
  package.json
  public/imageInfo.json
Due: prettier --check

prettier:fix
  package.json
Due: prettier --check

remove delete command
  .github/workflows/lint.yaml
Due: none

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
