Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

[Blog] if image src starts with http then use img
  src/components/MDXComponents.tsx
Due: eslint

[Blog] fix
  src/utils/imageMetadata.ts
Due: eslint

[Post] fix typo
  posts/2019/08/13/reactjs-interview-questions-1.md
  posts/2021/12/nextjs-lesson-and-learn.md
  posts/2022/02/new-react-framework-remix.md
  typing/custom.d.ts
Due: prettier --check, eslint

rehype-autolink-headings 설치
  package-lock.json
  package.json
Due: prettier --check

rehypeAutolinkHeadings 추가
  src/utils/Markdown.ts
Due: eslint

hashtag icon 헤딩에 추가
  src/tailwind.css
Due: none

[Post] update deps
  package-lock.json
  package.json
Due: prettier --check

[Post] fix typo
  posts/2018/10/25/ten-years-in-nobody-has-come-up-with-a-use-case-for-blockchain.md
Due: prettier --check

[Post] fix typo
  posts/2018/06/29/the-truth-about-blockchain.md
  posts/2018/07/24/wrong-myth-of-blockchain.md
Due: prettier --check

[Post] fix wrong image
  posts/2020/10/use-ternaries-not-and-and-in-jsx.md
Due: prettier --check

[Post] init
  posts/2022/04/react-18-changelog.md
Due: prettier --check

[Post] prettier:fix
  posts/2022/04/react-18-changelog.md
Due: prettier --check

[Post] complete
  posts/2022/04/react-18-changelog.md
Due: prettier --check

[Post] fix typo
  posts/2022/04/react-18-changelog.md
Due: prettier --check

[Post] fix typo
  posts/2019/08/21/reactjs-interview-questions-2.md
  posts/2020/01/chrome-cookie-same-site-secure.md
  posts/2020/01/learning-from-react-count-down.md
  posts/2020/06/notion-app-performance-case-study.md
  posts/2020/07/faster-async-functions-and-promises.md
  posts/2020/07/the-cost-of-javascript-2019.md
  posts/2020/10/how-node-js-works.md
  posts/2020/11/communicate-across-browser-tabs.md
  posts/2020/11/deep-dive-into-v8.md
  posts/2020/11/v8-memory-management.md
  posts/2020/11/worker-threads-in-nodejs.md
  posts/2021/04/nodejs-multithreading-worker-threads.md
  posts/2021/06/misconceptions-on-nodejs.md
  posts/2021/08/event-loop-deep-dive.md
  posts/2021/09/deep-dive-javascript-regex.md
Due: prettier --check

@mapbox/rehype-prism 을 rehype-prism-plus로 교체
  package-lock.json
  package.json
Due: prettier --check

컴포넌트 교체
  src/utils/Markdown.ts
Due: eslint

잘못된 문법 수정
  posts/2022/04/react-18-changelog.md
Due: prettier --check

css 수정
  src/tailwind.css
Due: none

add eslint-disable-next-line
  src/utils/Markdown.ts
Due: eslint

prettier:fix
  posts/2022/04/react-18-changelog.md
Due: prettier --check

Lint OFF
  src/components/MDXComponents.tsx
  src/components/screenshot/index.tsx
  src/pages/_app.tsx
  src/utils/Post.ts
  src/utils/imageMetadata.ts
Due: eslint

add disable line
  src/pages/_app.tsx
Due: eslint

fix tailwind.config.js
  tailwind.config.js
Due: eslint
