Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

:memo: fix wrong code
  posts/2022/06/JSON-stringify.md
Due: prettier --check

:bug: blocking access to /generate-screenshot directly
  src/pages/generate-screenshot.tsx
Due: eslint

:bug: block /generate-screenshot from robots.txt
  public/robots.txt
Due: none

:package: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

:sparkles: enable react strict mode
  next.config.js
Due: eslint

:sparkles: update resume URL
  src/pages/about.tsx
Due: eslint

:sparkles: update Dockerfile
  .devcontainer/Dockerfile
Due: none

:memo: init
  posts/2022/06/how-to-write-my-own-eslint-rules.md
Due: prettier --check

:memo: finish
  posts/2022/06/how-to-write-my-own-eslint-rules.md
Due: prettier --check

:bug: prettier:fix
  posts/2022/05/how-typescript-compiler-works.md
Due: prettier --check

:memo: fix typo
  posts/2018/09/29/how-i-lost-my-faith-in-private-blockchains.md
  posts/2019/05/08/react-study-1-background.md
  posts/2019/05/20/react-study-6-component-repeat.md
  posts/2020/09/javascript-memory-leaks-by-window-detached.md
  posts/2022/04/deep-dive-in-react-rendering.md
Due: prettier --check

:package: update outdated packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

:package: [TEMP] install nextjs@12.2.1-canary2
  package.json
  pnpm-lock.yaml
Due: prettier --check

:memo: fix typo
  posts/2022/04/deep-dive-in-react-rendering.md
Due: prettier --check

:memo: fix typo
  posts/2022/05/npm-vs-yarn-vs-pnpm.md
Due: prettier --check

:package: update outdated nextjs
  package.json
  pnpm-lock.yaml
  posts/2022/05/useEvent.md
Due: prettier --check

:memo: fix typo
  posts/2021/09/memoize-async-function.md
  posts/2022/04/deep-dive-in-react-rendering.md
  posts/2022/05/npm-vs-yarn-vs-pnpm.md
Due: prettier --check

:memo: fix typo
  posts/2020/09/react-17-release-candidates.md
  posts/2021/05/immutability-in-typescript.md
  posts/2021/08/browser-nodejs-event-loop.md
Due: prettier --check

:bug: [#588] 오타수정
  posts/2021/06/reduce-spread-anti-pattern.md
Due: prettier --check

:memo: 오타 수정
  posts/2022/04/react-18-changelog.md
Due: prettier --check

:sparkles: [#592] add lighthouse ci
  .github/workflows/lighthouse.yaml
Due: none

:package: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

:bug: prettier
  .github/workflows/lighthouse.yaml
Due: none

:fire: remove next-pwa
  next.config.js
Due: eslint

:bug: change npm to pnpm
  .github/workflows/lighthouse.yaml
Due: none

:bug: add pnpm version
  .github/workflows/lighthouse.yaml
Due: none

:green_heart: specific lighthouse upload target
  .github/workflows/lighthouse.yaml
Due: none

:green_heart: add lighthouserc.js
  .github/workflows/lighthouse.yaml
  lighthouserc.js
Due: eslint

:green_heart: add lhci token
  .github/workflows/lighthouse.yaml
Due: none

:green_heart: fix wrong indent
  .github/workflows/lighthouse.yaml
Due: none

:green_heart: lint lighthouse.yaml
  .github/workflows/lighthouse.yaml
Due: none

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
