Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

[Post] fix typo
  posts/2020/11/worker-threads-in-nodejs.md
Due: prettier --check

[Post] fix wrong code snippet
  posts/2020/10/service-worker-of-create-react-app.md
Due: prettier --check

[#413] fix wrong argument
  posts/2021/09/memoize-async-function.md
Due: prettier --check

prettier:fix
  posts/2021/08/benchmarking-web-javascript-memory-usage.md
Due: prettier --check

Update next-env.d.ts
  next-env.d.ts
Due: eslint

Create deep-dive-javascript-regex.md
  posts/2021/09/deep-dive-javascript-regex.md
Due: prettier --check

prettier:fix
  posts/2021/09/deep-dive-javascript-regex.md
Due: prettier --check

[#412] Post
  posts/2021/09/deep-dive-javascript-regex.md
  posts/2021/09/javascript-random-number.md
Due: prettier --check

[#412] Post
  posts/2021/09/javascript-random-number.md
Due: prettier --check

[#412] Post Complete
  posts/2021/09/deep-dive-javascript-regex.md
Due: prettier --check

[#412] prettier:fix
  posts/2021/09/deep-dive-javascript-regex.md
Due: prettier --check

[Post] fix typo
  posts/2021/09/deep-dive-javascript-regex.md
Due: prettier --check

update dependencies
  package-lock.json
  package.json
Due: prettier --check

update README.md
  README.md
Due: prettier --check

[Post] add missing backtick
  posts/2021/09/deep-dive-javascript-regex.md
Due: prettier --check

update package-lock.json
  package-lock.json
Due: prettier --check

[Chore] change filename
  src/utils/Common.ts
  src/utils/ImageInfo.ts
  src/utils/SiteMap.ts
Due: eslint

[Chore] change filename
  package.json
  src/components/layouts/Post.tsx
  src/utils/siteMap.ts
Due: prettier --check, eslint

[Post] fix typo
  posts/2021/08/requestIdlecallback.md
Due: prettier --check

[#417] add post
  posts/2021/09/safari-15-update.md
  public/2021/09/images/safari14-100vh.png
  public/2021/09/images/safari14-button.png
  public/2021/09/images/safari15-100vh-floating-address.jpeg
  public/2021/09/images/safari15-100vh.jpeg
  public/2021/09/images/safari15-button.jpeg
Due: prettier --check

[#417] add posts
  posts/2021/09/safari-15-update.md
  public/2021/09/images/safari14-themecolor.png
  public/2021/09/images/safari15-theme-color-dark.jpeg
  public/2021/09/images/safari15-theme-color-light.jpeg
  public/2021/09/images/safari15-themecolor.jpeg
Due: prettier --check

add meta tag for safari15
  src/pages/_document.tsx
Due: eslint

[#417] prettier:fix
  posts/2021/09/safari-15-update.md
Due: prettier --check

add Custom Meta Component
  src/components/Meta.tsx
  src/pages/_document.tsx
Due: eslint

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
