Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

:lipstick: adjust hash icon with heading tag
  src/tailwind.css
Due: none

:package: update packages
  functions/package-lock.json
  functions/package.json
Due: prettier --check

:memo: fix typo
  posts/2022/02/rust-for-javascript-developer-chapter1.md
Due: prettier --check

:memo: fix typo
  posts/2022/05/npm-vs-yarn-vs-pnpm.md
  posts/2022/05/typescript-tips-and-tricks.md
Due: prettier --check

:package: uninstall memoizee
  package.json
Due: prettier --check

:package: install next-remote-watch
  package-lock.json
  package.json
Due: prettier --check

:recycle: remove memoizee
  src/utils/Post.ts
Due: eslint

:memo: fix markdown issues
  posts/2022/02/dockerfile-instructions.md
Due: prettier --check

:package: add yarn
  .husky/pre-commit
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --check

:package: opt-out yarn berry pnp
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
Due: none

:package: migrate from npm to yarn pnp
  .github/workflows/ci.yaml
  package.json
Due: prettier --check

:package: pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --check

:package: pnpm
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
Due: none

:package: install typescript@4.6.3
  package.json
  pnpm-lock.yaml
Due: prettier --check

:package: install typescript@^4.6.3
  package.json
  pnpm-lock.yaml
Due: prettier --check

:recycle: add type keyword
  src/utils/Markdown.ts
  src/utils/imageMetadata.ts
Due: eslint

:lipstick: add prettierignore
  .prettierignore
Due: none

:package: install @types/glob
  package.json
  pnpm-lock.yaml
Due: prettier --check

:recycle: fix type
  src/utils/Post.ts
Due: eslint

:package: add shamefully-hoist
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
  .npmrc
Due: none

:package: remove package-lock.json
  package-lock.json
Due: prettier --check

:package: add asset for LCP analysis
  public/LCP/background-image.html
  public/LCP/image.jpeg
  public/LCP/img.html
  public/LCP/svg.html
  public/LCP/video.html
Due: none

:package: fix typo
  public/LCP/background-image.html
Due: none
