Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

add className
  src/components/icons/facebook.tsx
  src/components/icons/github.tsx
  src/components/icons/index.tsx
  src/components/icons/linkedin.tsx
  src/components/icons/mail.tsx
  src/components/icons/profile.tsx
  src/components/icons/twitter.tsx
  src/components/icons/youtube.tsx
Due: eslint

install eslint-config-next
  package-lock.json
  package.json
Due: prettier --check

[#343] upgrade next@v10 to v11
  package-lock.json
  package.json
Due: prettier --check

svg를 리액트 컴포넌트로 변경
  src/components/icons/facebook.svg
  src/components/icons/facebook.tsx
  src/components/icons/github.svg
  src/components/icons/github.tsx
  src/components/icons/index.tsx
  src/components/icons/linkedin.svg
  src/components/icons/linkedin.tsx
  src/components/icons/mail.svg
  src/components/icons/mail.tsx
  src/components/icons/profile.svg
  src/components/icons/profile.tsx
  src/components/icons/twitter.svg
  src/components/icons/twitter.tsx
  src/components/icons/youtube.svg
  src/components/icons/youtube.tsx
Due: eslint

dynamic imports esmodule
  posts/2021/06/dynamic-import-esmodule.md
Due: prettier --check

[#314] K8s No.4
  posts/2021/06/study-k8s-4.md
  public/2021/06/images/kubectx.png
Due: prettier --check

script를 next/script로 교체
  pages/_document.tsx
Due: eslint

blog 최적화
  pages/_app.tsx
  pages/_document.tsx
  src/components/layouts/Post.tsx
  src/components/layouts/Post/math.tsx
Due: eslint

[#343] remove unused imports
  pages/_document.tsx
Due: eslint

[#343] remove import "React"
  .eslintrc.js
  pages/404.tsx
  pages/[year]/[...slugs].tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/_offline.tsx
  pages/about.tsx
  pages/generate-screenshot.tsx
  pages/index.tsx
  pages/pages/[id].tsx
  pages/tags.tsx
  pages/tags/[tag]/pages/[id].tsx
  src/components/Footer.tsx
  src/components/LayoutWrapper.tsx
  src/components/Link.tsx
  src/components/PageTitle.tsx
  src/components/SEO.tsx
  src/components/SectionContainer.tsx
  src/components/Tag.tsx
  src/components/icons/facebook.tsx
  src/components/icons/github.tsx
  src/components/icons/index.tsx
  src/components/icons/linkedin.tsx
  src/components/icons/mail.tsx
  src/components/icons/profile.tsx
  src/components/icons/twitter.tsx
  src/components/icons/youtube.tsx
  src/components/layouts/List.tsx
  src/components/layouts/Post.tsx
  src/components/layouts/Post/math.tsx
  src/components/screenshot/index.tsx
Due: eslint

[#343] replace img with next/image
  next.config.js
  package-lock.json
  package.json
  pages/about.tsx
  src/components/LayoutWrapper.tsx
  src/components/layouts/Post.tsx
  src/components/screenshot/index.tsx
Due: prettier --check, eslint

[#343] update about
  pages/about.tsx
Due: eslint

[#343] Blog Post
  posts/2021/06/nextjs-11.md
  public/2021/06/images/after-blog.png
  public/2021/06/images/before-blog.png
Due: prettier --check

[ImgBot] Optimize images
  public/2021/06/images/after-blog.png
  public/2021/06/images/before-blog.png
  public/2021/06/images/kubectx.png
  public/2021/06/images/type-operation1.png
Due: none

Update nextjs-11.md
  posts/2021/06/nextjs-11.md
Due: prettier --check

[#350] complete post
  posts/2021/06/reduce-spread-anti-pattern.md
Due: prettier --check

[#350] prettier:fix
  posts/2021/06/reduce-spread-anti-pattern.md
Due: prettier --check

pages를 src 하단으로 이동
  src/pages/404.tsx
  src/pages/[year]/[...slugs].tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/_offline.tsx
  src/pages/about.tsx
  src/pages/generate-screenshot.tsx
  src/pages/index.tsx
  src/pages/pages/[id].tsx
  src/pages/tags.tsx
  src/pages/tags/[tag]/pages/[id].tsx
Due: eslint

pageNo가 숫자가 아닐 경우 404 처리
  src/pages/tags/[tag]/pages/[id].tsx
Due: eslint

import 수정
  src/pages/_app.tsx
Due: eslint

잘못된 페이지번호는 404 처리
  src/pages/pages/[id].tsx
Due: eslint

페이지 인덱스 validation
  src/pages/pages/[id].tsx
  src/pages/tags/[tag]/pages/[id].tsx
Due: eslint

[Post] faster-web-font
  posts/2021/06/ways-to-faster-web-fonts.md
  public/2021/06/images/font-block.svg
  public/2021/06/images/font-fallback.svg
  public/2021/06/images/font-of-web.dev.png
  public/2021/06/images/font-optional.svg
  public/2021/06/images/font-swap.svg
Due: prettier --check

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
