Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

[Post] faster-web-font
  posts/2021/06/ways-to-faster-web-fonts.md
  public/2021/06/images/font-block.svg
  public/2021/06/images/font-fallback.svg
  public/2021/06/images/font-of-web.dev.png
  public/2021/06/images/font-optional.svg
  public/2021/06/images/font-swap.svg
Due: prettier --check

[ImgBot] Optimize images
  public/2021/06/images/font-of-web.dev.png
Due: none

add sitemap in robots.txt
  public/robots.txt
Due: none

add useless comments
  src/pages/[year]/[...slugs].tsx
Due: eslint

add types
  src/pages/tags/[tag]/pages/[id].tsx
Due: eslint

update tsconfig.json
  tsconfig.json
Due: prettier --check

prettier:fix
  tsconfig.json
Due: prettier --check

install nextjs 11.0.1
  package-lock.json
  package.json
Due: prettier --check

[#359] nodejs ORM
  posts/2021/07/dont-use-nodjs-orm.md
Due: prettier --check

[Post] Fix Typo
  posts/2021/07/dont-use-nodjs-orm.md
Due: prettier --check

[Post] Node.js Module & Semver
  posts/2021/07/nodejs-modules-packages-semver.md
Due: prettier --check

[Post] fix typo
  posts/2021/04/nodejs-multithreading-worker-threads.md
  posts/2021/06/error-handling-in-nodejs.md
  posts/2021/06/ways-to-faster-web-fonts.md
Due: prettier --check

[Post] Prettier:fix
  posts/2021/07/nodejs-modules-packages-semver.md
Due: prettier --check

[#356] workspaces & esbuild
  posts/2021/07/npm-workspaces-esbuild.md
  public/2021/07/npm-workspace-1.png
Due: prettier --check

[#356] npm workspaces esbuild
  next-env.d.ts
  posts/2021/07/npm-workspaces-esbuild.md
  public/2021/07/images/npm-workspace-1.png
Due: prettier --check, eslint

update README.md
  README.md
Due: prettier --check

[ImgBot] Optimize images
  public/2021/07/images/npm-workspace-1.png
Due: none

불필요한 파일 제거
  lighthouserc.js
Due: eslint

잘못된 redirect 수정
  next.config.js
Due: eslint

사이트맵 생성 코드 변경
  package.json
  src/siteMap.js
  src/utils/siteMap.ts
  tsconfig.json
  tsconfig.node.json
Due: prettier --check, eslint

이미지 파일 계산 타입스크립트로 변경
  package.json
  src/imageInfo.js
  src/utils/imageInfo.ts
Due: prettier --check, eslint

install ts-node
  package-lock.json
  package.json
Due: prettier --check

prettier:fix
  tsconfig.json
  tsconfig.node.json
Due: prettier --check
