Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

[#644] 📝 Update markdown formatting for clarity in React 18 SSR architecture post
  posts/2021/09/react-18-ssr-architecture.md
Due: prettier --check

[#644] 📝 map vs object
  posts/2025/03/map-vs-object.md
Due: prettier --check

[#644] 📝 Update markdown formatting for consistency in event loop deep dive post
  posts/2021/08/event-loop-deep-dive.md
Due: prettier --check

[#644] 🔧 Update commit helper configuration to remove 'qa' rule and add 'post' rule
  .commithelperrc.json
Due: prettier --check

🗑️ Remove Lefthook pre-commit and prepare-commit-msg hooks
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

✨ Add Lefthook pre-commit and prepare-commit-msg hooks with commit-helper configuration
  .commithelperrc.json
  .lefthook/pre-commit
  .lefthook/prepare-commit-msg
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

🎨 Enhance code styling by adding word-wrap for better readability in code blocks
  .prettierignore
  src/app/tailwind.css
Due: none

🎨 Enhance code styling by adding word-wrap for better readability in code blocks
  LICENSE
  public/favicon/android-icon-144x144.png
  public/favicon/android-icon-192x192.png
  public/favicon/android-icon-36x36.png
  public/favicon/android-icon-48x48.png
  public/favicon/android-icon-72x72.png
  public/favicon/android-icon-96x96.png
  public/favicon/apple-icon-114x114.png
  public/favicon/apple-icon-120x120.png
  public/favicon/apple-icon-144x144.png
  public/favicon/apple-icon-152x152.png
  public/favicon/apple-icon-180x180.png
  public/favicon/apple-icon-57x57.png
  public/favicon/apple-icon-60x60.png
  public/favicon/apple-icon-72x72.png
  public/favicon/apple-icon-76x76.png
  public/favicon/apple-icon-precomposed.png
  public/favicon/apple-icon.png
  public/favicon/apple-touch-icon.png
  public/favicon/browserconfig.xml
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.ico
  public/favicon/favicon.svg
  public/favicon/ms-icon-144x144.png
  public/favicon/ms-icon-150x150.png
  public/favicon/ms-icon-310x310.png
  public/favicon/ms-icon-70x70.png
  public/favicon/site.webmanifest
  public/favicon/web-app-manifest-192x192.png
  public/favicon/web-app-manifest-512x512.png
  public/profile.jpeg
  public/profile.png
  src/app/[year]/[...slug]/page.tsx
  src/app/about/page.tsx
  src/app/layout.tsx
  src/components/LayoutWrapper.tsx
  src/config.ts
Due: eslint

✨ Add favicon links and manifest for improved site branding
  .commithelperrc.json
  src/app/layout.tsx
Due: prettier --check, eslint

🔗 Update favicon paths for improved asset organization
  src/app/layout.tsx
Due: eslint

📝 Update description and improve clarity in map vs object post
  posts/2025/03/map-vs-object.md
Due: prettier --check

📝 Update description and improve clarity in map vs object post
  tailwind.config.js
Due: eslint

📅 Update publication date in map vs object post
  posts/2025/03/map-vs-object.md
Due: prettier --check
