Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "**/*.{md,json,rc}": [
    "prettier --check"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint"
  ]
}

:rocket: add robots.ts
  src/app/robot.ts
Due: eslint

:memo: app dir
  posts/2023/05/blog-app-dir.md
Due: prettier --check

[#609] :bug: fix anchor link
  src/components/MDXComponents.tsx
Due: eslint

:memo: fix link
  posts/2023/05/blog-app-dir.md
Due: prettier --check

:memo: init (#610)
  posts/2023/05/commonjs-vs-esmodule.md
Due: prettier --check

:memo: 추가내용 기재
  posts/2023/05/commonjs-vs-esmodule.md
Due: prettier --check

:memo: fix wrong heading
  posts/2023/05/commonjs-vs-esmodule.md
Due: prettier --check

:memo: commonjs
  posts/2023/05/commonjs-vs-esmodule.md
Due: prettier --check

:recycle: next/image 사용
  src/components/MDXComponents.tsx
  src/components/OpenGraph/index.tsx
Due: eslint

:boom: default image 사이즈 조정
  public/default-image.png
Due: none

:boom: resize images
  public/default-image.png
Due: none

:memo: update title and desc
  posts/2023/05/what-is-commonjs.md
Due: prettier --check

:bug: 누락된 구글 애널리틱스 추가
  src/app/page.tsx
Due: eslint

:bug: 누락된 아이디 추가
  src/app/page.tsx
Due: eslint

:bug: 구글 애널리틱스 위치 변경
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint

:rocket: google analytics v4 로 업그레이드
  src/app/layout.tsx
  src/config.ts
Due: eslint

:package: update package.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

:fire: remove firebase
  src/lib/firebase.ts
Due: eslint

:memo: update README
  README.md
Due: prettier --check

:package: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

:package: update nodejs version
  .github/workflows/ci.yaml
  .github/workflows/lighthouse.yaml
  .github/workflows/lint.yaml
Due: none

:memo: prettier:Fix
  posts/2019/05/09/javascript-closure.md
  posts/2019/06/17/typescript-type-enum-partial-record.md
  posts/2020/07/decrease-front-end-size.md
  posts/2020/09/typescript-enum-not-treeshaked.md
Due: prettier --check

:bug: lighthouse 이슈 수정
  lighthouserc.js
Due: eslint

:package: lighthouse 버전업
  .github/workflows/lighthouse.yaml
Due: none

:rocket: enable @vercel/analytics
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: prettier --check, eslint
