Repository yceffort/yceffort-blog-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

🎨 Update linting scripts to target CSS and SCSS files for improved style consistency
  package.json
Due: prettier --check

🔧 Update rehype dependencies and CI configuration for improved performance and compatibility
  .github/workflows/ci.yaml
  package.json
  pnpm-lock.yaml
  src/app/[year]/[...slug]/page.tsx
  src/utils/Markdown.ts
Due: prettier --check, eslint

🔧 Update CI configuration to include pnpm action for improved package management
  .github/workflows/ci.yaml
Due: none

🔧 Remove unnecessary cache configuration in CI workflow for cleaner setup
  .github/workflows/ci.yaml
Due: none

🔧 Update CI workflow to include pnpm action setup and enable caching for improved performance
  .github/workflows/ci.yaml
Due: none

🔧 Fix export statement for Square class in CommonJS module
  posts/2023/05/what-is-commonjs.md
Due: prettier --check

📝 Update markdown files for formatting and clarity
  .markdownlint.json
  .prettierignore
  README.md
  package.json
  pnpm-lock.yaml
  posts/2018/05/31/compare-string-with-voice.md
  posts/2019/08/13/reactjs-interview-questions-1.md
  posts/2020/01/chrome-cookie-same-site-secure.md
  posts/2020/07/docker-study-1.md
  posts/2020/07/how-commonjs-is-making-your-bundles-larger.md
  posts/2020/07/make-use-of-long-term-caching.md
  posts/2020/08/mobx-study-4.md
  posts/2020/08/update-blog.md
  posts/2020/10/IIFE-on-use-state-of-react.md
  posts/2020/10/migrate-gatsby-from-nextjs.md
  posts/2020/11/javascript-dependency-hell.md
  posts/2020/11/patch-on-node-modules.md
  posts/2021/03/Lighthouse-CI-with-github-actions.md
  posts/2021/03/performance-tip-of-typescript.md
  posts/2021/03/server-side-rendering-and-react-components.md
  posts/2021/05/drawback-of-jwt.md
  posts/2021/08/event-loop-deep-dive.md
  posts/2021/09/react-18-ssr-architecture.md
  posts/2022/02/new-react-framework-remix.md
  posts/2022/03/understanding-typescript-never.md
  posts/2023/05/blog-app-dir.md
  posts/2023/05/what-is-commonjs.md
  posts/2023/06/react-use-hook.md
  posts/2023/06/what-is-esmodule.md
Due: prettier --check

📚 Add Korean translation for React Interview Guide and accompanying image
  posts/2025/03/react-interview-guide.md
  public/2025/03/react-interview-guide.jpg
  public/profile.png
Due: prettier --check

🔧 Add Next.js configuration with redirects for tags and categories
  next.config.mjs
Due: none

🔧 Remove tsconfig.node.json and update tsconfig.json for ES2022 compatibility
  tsconfig.json
  tsconfig.node.json
  tsconfig.tsbuildinfo
Due: prettier --check

🔧 Add ESLint and Next.js configuration files with custom rules and redirects
  eslint.config.js
  next.config.js
  package.json
  postcss.config.js
  tailwind.config.js
  tsconfig.json
Due: prettier --check, eslint

🔧 Update Tailwind CSS configuration and components for compatibility with v4
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/not-found.tsx
  src/app/tailwind.css
  src/components/MobileNav.tsx
  src/components/ThemeSwitch.tsx
  tailwind.config.js
Due: prettier --check, eslint

🔧 Update dependencies in README for Node.js, React, TypeScript, Tailwind CSS, and Next.js versions
  README.md
Due: prettier --check

Create dependabot.yml
  .github/dependabot.yml
Due: none

🔧 Refactor linting setup and update dependencies for improved code quality
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/app/[year]/[...slug]/page.tsx
  src/utils/Markdown.ts
  src/utils/imageMetadata.ts
Due: prettier --check, eslint

🔧 Update stylelint version and adjust Node.js engine requirement in package.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

🔧 Add Lefthook pre-commit and prepare-commit-msg hooks for improved Git workflow
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

🔧 Refactor code for improved readability and maintainability
  .github/dependabot.yml
  src/components/MobileNav.tsx
  src/utils/imageMetadata.ts
Due: eslint

🔧 Update dependabot configuration to use npm as the package ecosystem
  .github/dependabot.yml
Due: none

🔧 Update project dependencies for enhanced performance and security
  src/app/tailwind.css
Due: none

🔧 Upgrade CodeQL action versions for improved analysis capabilities
  .github/workflows/codeql-analysis.yaml
Due: none

✨ Refactor lighthouserc.js to use ES module syntax and clean up imageMetadata.ts comments
  lighthouserc.js
  src/utils/imageMetadata.ts
Due: eslint

🔧 Update Lighthouse CI configuration and upgrade LHCI CLI version
  .github/workflows/ci.yaml
  next.config.js
Due: eslint

✨ Update image metadata handling to use synchronous file reading and add alt attribute
  src/utils/imageMetadata.ts
Due: eslint

🚀 Upgrade Node.js version and switch to pnpm for dependency management
  Dockerfile
Due: none

🗑️ Remove Lefthook pre-commit and prepare-commit-msg hooks
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

✨ Add Lefthook pre-commit and prepare-commit-msg hooks with commit-helper configuration
  .commithelperrc.json
  .lefthook/pre-commit
  .lefthook/prepare-commit-msg
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

[#644] 🔧 Update commit helper configuration to remove 'qa' rule and add 'post' rule
  .commithelperrc.json
Due: prettier --check

Path conditions:
  prettier --check: any of: **/*.{md,json,rc}
  eslint: any of: **/*.{js,ts,tsx}
