Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-blog:
      root: 'apps/blog/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-research:
      root: 'apps/research/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-shared:
      root: 'packages/shared/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{scss,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    # 고쳐야할게 넘 많아서 패스..
    # markdownlint:
    #   glob: '*.md'
    #   run: pnpm exec markdownlint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: 'pnpm exec commit-helper {1}'

🐛 Fix SW cache lookup scope and precache eviction
  apps/blog/public/sw.js
Due: eslint-blog, prettier

📝 Correct spec details in SW caching part 1
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
Due: prettier

📝 Correct GA4 claims in SW caching part 2
  apps/blog/posts/2026/08/service-worker-caching-2.en.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
Due: prettier

📝 Add Early Hints finding to SW caching part 3
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

🔬 Add Early Hints repro scripts to sw-lab
  apps/blog/scripts/sw-lab/eh-ab.cjs
  apps/blog/scripts/sw-lab/eh-ab.jsonl
  apps/blog/scripts/sw-lab/local103.cjs
  apps/blog/scripts/sw-lab/measure-static2.cjs
  apps/blog/scripts/sw-lab/out-103-nosw-preload.txt
  apps/blog/scripts/sw-lab/out-103-sw-nopreload.txt
  apps/blog/scripts/sw-lab/out-103-sw-preload.txt
  apps/blog/scripts/sw-lab/out-no103-nosw-preload.txt
  apps/blog/scripts/sw-lab/out-no103-sw-preload.txt
  apps/blog/scripts/sw-lab/proxy-count.cjs
Due: eslint-blog, prettier

💄 Tighten em scope in SW caching series title
  apps/blog/series/service-worker-caching.md
Due: prettier

🔬 Add production vitals measurement to sw-lab
  apps/blog/scripts/sw-lab/analyze-vitals.cjs
  apps/blog/scripts/sw-lab/eh-vitals-fonts.cjs
  apps/blog/scripts/sw-lab/eh-vitals-fonts.jsonl
  apps/blog/scripts/sw-lab/eh-vitals-rsc.cjs
  apps/blog/scripts/sw-lab/eh-vitals-rsc.jsonl
  apps/blog/scripts/sw-lab/eh-vitals-swfirst.jsonl
  apps/blog/scripts/sw-lab/eh-vitals.cjs
  apps/blog/scripts/sw-lab/eh-vitals.jsonl
Due: eslint-blog, prettier

💄 Emphasize service worker in post titles
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
  apps/blog/posts/2026/08/service-worker-caching-2.en.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
Due: prettier

📝 Add performance verdict section to SW caching part 3
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

✏️ Rework awkward phrasing in part 3 verdict
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

✏️ Drop spatial metaphor phrasing in SW caching series
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

📝 Add adoption criteria to SW caching part 3
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

📝 Close part 3 with an adoption decision table
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

✏️ Replace metaphors with numbers in the decision table
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

🐛 Fix quoted RSC cache-control header and its reading
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

📝 Note production measurement env and add missing lab data
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
  apps/blog/scripts/sw-lab/eh-vitals-res.jsonl
Due: prettier

🐛 Correct spec claims and source citations in part 1
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
Due: prettier

🐛 Correct stale figures and spec claims in part 2
  apps/blog/posts/2026/08/service-worker-caching-2.en.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
Due: prettier

🐛 Correct measurement and spec claims in part 3
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

🐛 Retract the cache-hit mechanism claim in part 3
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

🔬 Add prefetch-cache and view-transition experiments
  apps/blog/scripts/sw-lab/analyze-pfcache.cjs
  apps/blog/scripts/sw-lab/analyze-vt.cjs
  apps/blog/scripts/sw-lab/eh-vitals-pfcache.cjs
  apps/blog/scripts/sw-lab/eh-vitals-pfcache.jsonl
  apps/blog/scripts/sw-lab/eh-vitals-vt-loaded.jsonl
  apps/blog/scripts/sw-lab/eh-vitals-vt.cjs
  apps/blog/scripts/sw-lab/eh-vitals-vt.jsonl
Due: eslint-blog, prettier

🐛 Replace p50 LCP claim with bimodal peak ratios
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

✏️ Rewrite part 3 prose and closing, sync translation
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

✏️ Apply part 3 style rules to parts 1 and 2
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
  apps/blog/posts/2026/08/service-worker-caching-2.en.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
Due: prettier

✂️ Fold part 3 checklist into one cost note
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

🚀 Publish service worker caching series
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
  apps/blog/posts/2026/08/service-worker-caching-2.en.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

🐛 Fix paragraph parsed as setext heading in SW part 3
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
Due: prettier

✨ Cap home series section at five entries
  apps/blog/src/app/page.tsx
  apps/blog/src/constants/index.ts
Due: eslint-blog, prettier

🎨 Drive art thumbnails from frontmatter art spec
  apps/blog/next.config.ts
  apps/blog/src/app/api/og/art/layouts.tsx
  apps/blog/src/app/api/og/art/route.tsx
  apps/blog/src/app/page.tsx
  apps/blog/src/app/series/[slug]/page.tsx
  apps/blog/src/type/index.ts
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

🖼️ Add generated thumbnails for recent posts and series
  apps/blog/public/thumbnails/2026/06/do-you-need-to-read-code.webp
  apps/blog/public/thumbnails/2026/07/frontend-past-present-after-agents.webp
  apps/blog/public/thumbnails/2026/08/framer-motion-banner-frame-drop.webp
  apps/blog/public/thumbnails/2026/08/k8s-for-frontend-1.webp
  apps/blog/public/thumbnails/2026/08/k8s-for-frontend-2.webp
  apps/blog/public/thumbnails/2026/08/og-scraping-server-1.webp
  apps/blog/public/thumbnails/2026/08/og-scraping-server-2.webp
  apps/blog/public/thumbnails/2026/08/one-web-on-multiple-webviews.webp
  apps/blog/public/thumbnails/2026/08/rebuilding-a-vendor-sdk.webp
  apps/blog/public/thumbnails/2026/08/service-worker-caching-2.webp
  apps/blog/public/thumbnails/2026/08/service-worker-caching-3.webp
  apps/blog/public/thumbnails/2026/08/turbopack-scope-hoisting-singleton-split.webp
  apps/blog/public/thumbnails/2026/08/who-learns-to-judge-interviews.webp
  apps/blog/public/thumbnails/series/ai-era-judgment.webp
  apps/blog/public/thumbnails/series/directive-deep-dive.webp
  apps/blog/public/thumbnails/series/k8s-for-frontend.webp
  apps/blog/public/thumbnails/series/og-scraping-server.webp
  apps/blog/public/thumbnails/series/service-worker-caching.webp
  apps/blog/public/thumbnails/series/state-of-nextjs.webp
  apps/blog/public/thumbnails/series/web-performance-analysis.webp
Due: none

🔧 Add art spec and thumbnail generation scripts
  apps/blog/scripts/generate-art-spec.mjs
  apps/blog/scripts/generate-thumbnail.mjs
Due: eslint-blog

🔥 Remove contact section from about page
  .markdownlint.jsonc
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/components/about/AboutIntro.tsx
Due: eslint-blog, prettier

📝 Fix malformed link syntax in old posts
  apps/blog/posts/2020/04/redux-study-3.md
  apps/blog/posts/2020/09/book-no-rules-rules.md
  apps/blog/posts/2020/09/typescript-4.0.md
  apps/blog/posts/2022/06/JSON-stringify.md
  apps/blog/posts/2023/05/what-is-commonjs.md
Due: prettier

🔧 Replace markdownlint config with rust-markdownlint
  .markdownlint-cli2.jsonc
  .markdownlint.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier

📝 Anchor orphaned footnotes in use cache deep dive
  apps/blog/posts/2026/05/use-cache-deep-dive.en.md
  apps/blog/posts/2026/05/use-cache-deep-dive.md
Due: prettier

🔧 Exempt @yceffort packages from minimumReleaseAge
  pnpm-workspace.yaml
Due: prettier

⬆️ Bump rust-markdownlint to 0.1.2
  package.json
  pnpm-lock.yaml
Due: prettier

📝 Add presenter script for react-query deck 2
  apps/research/notes/react-query-deep-dive-2-script.md
Due: prettier

♻️ Reorder react-query deck 2: pitfalls before SSR
  apps/research/research/react-query-deep-dive-1.md
  apps/research/research/react-query-deep-dive-2.md
Due: prettier
