Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-blog:
      root: 'apps/blog/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-research:
      root: 'apps/research/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-shared:
      root: 'packages/shared/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{scss,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    # 고쳐야할게 넘 많아서 패스..
    # markdownlint:
    #   glob: '*.md'
    #   run: pnpm exec markdownlint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: 'pnpm exec commit-helper {1}'

📝 Add Q&A slides and polish rendering guide
  apps/research/research/react-rendering-optimization-guide.md
Due: prettier

🎨 Add yceffort custom Marp theme
  apps/research/src/lib/marp.ts
  apps/research/src/lib/themes/yceffort.ts
Due: eslint-research, prettier

📝 Polish rendering guide slides and apply yceffort theme
  apps/research/research/react-rendering-optimization-guide.md
Due: prettier

📝 Add essay on learning what AI can't do
  apps/blog/posts/2026/06/learning-what-ai-cant-do.md
Due: prettier

🖼️ Add thumbnail for AI judgment essay
  apps/blog/public/thumbnails/2026/06/learning-what-ai-cant-do.png
Due: none

🔗 Link essays into series, translate ref titles
  apps/blog/posts/2026/06/do-you-need-to-read-code.md
  apps/blog/posts/2026/06/when-job-titles-blur.md
Due: prettier

🏷️ Tag opinion essays with essay tag
  apps/blog/posts/2025/05/answering-frontend-relevance.md
  apps/blog/posts/2025/05/breaking-growth-plateaus-in-frontend-teams.md
  apps/blog/posts/2025/05/frontend-challenges-ai-leadership.md
  apps/blog/posts/2025/05/frontend-truth-ai-misconceptions.md
  apps/blog/posts/2025/05/what-to-do-as-frontend-developer-in-ai-era.en.md
  apps/blog/posts/2025/05/what-to-do-as-frontend-developer-in-ai-era.md
  apps/blog/posts/2025/05/why-i-wrote-a-book-in-the-age-of-ai.md
  apps/blog/posts/2026/02/frontend-engineering-in-ai-era.en.md
  apps/blog/posts/2026/02/frontend-engineering-in-ai-era.md
  apps/blog/posts/2026/04/ai-only-amplifies-what-you-see.en.md
  apps/blog/posts/2026/04/ai-only-amplifies-what-you-see.md
Due: prettier

♻️ Render about/resume as SSR server components
  apps/blog/src/app/about/page.tsx
  apps/blog/src/app/resume/page.tsx
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/about/AboutTabs.tsx
Due: eslint-blog, prettier, stylelint

🐛 Fix unrendered bold on Nuxt heading
  apps/blog/posts/2026/03/react-view-transition.md
Due: prettier

📝 Add essay on frontend past and agent-era future
  apps/blog/posts/2026/07/frontend-past-present-after-agents.md
Due: prettier

🖼️ Add thumbnail for frontend future essay
  apps/blog/public/thumbnails/2026/07/frontend-past-present-after-agents.png
Due: none

🌐 Add English translations for 11 posts
  apps/blog/posts/2021/12/nodejs-memory-limit.en.md
  apps/blog/posts/2023/06/react-use-hook.en.md
  apps/blog/posts/2025/05/web-performance-analysis-1.en.md
  apps/blog/posts/2025/05/web-performance-analysis-2.en.md
  apps/blog/posts/2025/06/web-performance-analysis-3.en.md
  apps/blog/posts/2025/06/web-performance-analysis-4.en.md
  apps/blog/posts/2025/12/nextjs-caching-deep-dive.en.md
  apps/blog/posts/2025/12/nextjs-react-security-vulnerability.en.md
  apps/blog/posts/2025/12/webgpu-all-browsers.en.md
  apps/blog/posts/2026/06/do-you-need-to-read-code.en.md
  apps/blog/posts/2026/06/learning-what-ai-cant-do.en.md
Due: prettier

🔗 Unlink frontend essay from judgment series
  apps/blog/posts/2026/07/frontend-past-present-after-agents.md
Due: prettier

📝 Add frontend performance book to resume
  apps/blog/src/components/about/Resume.tsx
Due: eslint-blog, prettier

📝 Add book announcement post for perf deep dive
  apps/blog/posts/2026/07/frontend-performance-deep-dive-is-out-now.md
Due: prettier

🚀 Publish perf deep dive announcement post
  apps/blog/posts/2026/07/frontend-performance-deep-dive-is-out-now.md
Due: prettier

✨ Pin book announcement to popular posts section
  apps/blog/src/constants/index.ts
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

🖼️ Add thumbnail for book announcement post
  apps/blog/public/thumbnails/2026/07/frontend-performance-deep-dive-is-out-now.png
Due: none

📝 Deepen author reflections in book announcement
  apps/blog/posts/2026/07/frontend-performance-deep-dive-is-out-now.md
Due: prettier

✨ Add Suspense & ErrorBoundary deep dive slides
  apps/research/research/suspense-error-boundary-deep-dive.md
Due: prettier

📝 Soften Part 3 with safety note and code takeaways
  apps/research/research/suspense-error-boundary-deep-dive.md
Due: prettier

🐛 Fix mermaid re-render error on Marp slide remount
  apps/research/src/components/Marp.tsx
Due: eslint-research, prettier

✨ Draw deep dive flow diagrams with mermaid
  apps/research/research/suspense-error-boundary-deep-dive.md
Due: prettier

🚀 Publish Suspense & ErrorBoundary deep dive slides
  apps/research/research/suspense-error-boundary-deep-dive.md
Due: prettier

📝 Remeasure and restructure pod-sizing deep-dive
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
Due: prettier

🎨 Regenerate pod-sizing thumbnail
  apps/blog/public/thumbnails/2026/08/nodejs-k8s-pod-sizing.png
Due: none

📝 Add Node.js K8s pod-sizing deep-dive (draft)
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
  apps/blog/public/thumbnails/2026/08/nodejs-k8s-pod-sizing.png
Due: prettier

🚀 Publish Node.js K8s pod-sizing deep-dive
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
Due: prettier

⬆️ Update dependencies to resolve Dependabot alerts
  apps/blog/package.json
  apps/research/package.json
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier

🚨 Fix lint errors from updated eslint rules
  apps/blog/src/components/CodeBlock.tsx
  apps/blog/src/components/HeroE.tsx
  apps/blog/src/components/Mermaid.tsx
  apps/blog/src/components/TweaksPanel.tsx
  apps/blog/src/utils/Post.ts
  apps/research/src/components/Hero.tsx
  apps/research/src/components/LayoutWrapper.tsx
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/PresenterView.tsx
  apps/research/src/components/SlidePreview.tsx
  apps/research/src/hooks/useBroadcastChannel.ts
  apps/research/src/hooks/useTimer.ts
  apps/research/src/lib/parsePresenterNotes.ts
  apps/research/src/lib/slidesIndex.ts
  packages/shared/src/components/MobileNav.tsx
Due: eslint-blog, eslint-research, eslint-shared, prettier

📝 Add pm2 restart and load-test notes to pod-sizing
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
Due: prettier

📝 Reflect new sections in pod-sizing conclusion
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
Due: prettier

📝 Rename pod-sizing conclusion heading
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
Due: prettier

📝 Retitle pod-sizing post to cover full sizing scope
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
Due: prettier

🌐 Add English translations for two recent posts
  apps/blog/posts/2026/07/frontend-past-present-after-agents.en.md
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.en.md
Due: prettier

📝 Add K8s series part 1: concept map for FE devs
  apps/blog/posts/2026/08/k8s-for-frontend-1.md
  apps/blog/public/thumbnails/2026/08/k8s-for-frontend-1.png
Due: prettier

📝 Add K8s series part 2: containers and pods
  apps/blog/posts/2026/08/k8s-for-frontend-2.md
  apps/blog/public/thumbnails/2026/08/k8s-for-frontend-2.png
Due: prettier

🔧 Update tag generator model to claude-sonnet-5
  apps/blog/scripts/generate-tags.mjs
Due: eslint-blog

🎨 Add midnight dark theme for research slides
  apps/research/src/lib/marp.ts
  apps/research/src/lib/themes/midnight.ts
Due: eslint-research, prettier
