Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

eslint-blog:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-research:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-shared:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

📝 Document the final LCP improvement
  apps/blog/posts/2026/09/blog-performance-after-migrations.md
  apps/blog/posts/2026/09/tailwind-to-stylex-migration.md
Due: prettier

🔧 Make wasm build paths reproducible
  packages/markdown-rs/README.md
  packages/markdown-rs/pkg/markdown_rs.wasm
  packages/markdown-rs/scripts/build.mjs
Due: prettier

📊 Replace performance graphs with Mermaid
  apps/blog/posts/2026/09/blog-performance-after-migrations.md
  apps/blog/posts/2026/09/tailwind-to-stylex-migration.md
  apps/blog/public/2026/09/images/blog-performance/body-dom.svg
  apps/blog/public/2026/09/images/blog-performance/build.svg
  apps/blog/public/2026/09/images/blog-performance/first-fcp.svg
  apps/blog/public/2026/09/images/blog-performance/first-lcp.svg
  apps/blog/public/2026/09/images/blog-performance/font-removal-fcp.svg
  apps/blog/public/2026/09/images/blog-performance/font-removal-lcp.svg
  apps/blog/public/2026/09/images/blog-performance/fonts.svg
  apps/blog/public/2026/09/images/blog-performance/lcp-investigation.svg
  apps/blog/public/2026/09/images/blog-performance/repeat-paints.svg
  apps/blog/public/2026/09/images/blog-performance/transfer.svg
  apps/blog/scripts/series-performance/charts.py
  apps/blog/tests/performance/series-overall/README.md
Due: prettier

🔍 Preserve mismatched CI wasm for comparison
  .github/workflows/ci.yaml
Due: prettier

🔧 Align the committed wasm with Linux CI
  packages/markdown-rs/README.md
  packages/markdown-rs/pkg/markdown_rs.wasm
Due: prettier

📝 Treat the frozen LCP runs as the instrumentation artifact they are
  apps/blog/posts/2026/09/blog-performance-after-migrations.md
  apps/blog/tests/performance/series-overall/README.md
Due: prettier

🔧 Write the committed wasm only when CI asks for it
  .github/workflows/ci.yaml
  packages/markdown-rs/README.md
  packages/markdown-rs/scripts/build.mjs
Due: prettier

📝 Add CDN and HTTP cache deck to research
  apps/research/research/cdn-and-http-cache.md
Due: prettier

📝 Publish the three September migration posts
  apps/blog/posts/2026/09/blog-performance-after-migrations.md
  apps/blog/posts/2026/09/markdown-pipeline-to-rust-wasm.md
  apps/blog/posts/2026/09/tailwind-to-stylex-migration.md
Due: prettier

📊 Record the math font subset measurement
  apps/blog/posts/2026/09/blog-performance-after-migrations.md
  apps/blog/tests/performance/series-overall/README.md
  apps/blog/tests/performance/series-overall/font-subset-results.json
Due: prettier

🔍 Warn when a formula uses glyphs outside the font subset
  apps/blog/scripts/check-markdown.mjs
Due: eslint-blog

🔤 Subset the math font to the glyphs posts use
  apps/blog/fonts/LibertinusMath-Regular.woff2
  apps/blog/public/fonts/math/LibertinusMath-Regular.woff2
  apps/blog/public/fonts/math/NOTICE.txt
  apps/blog/public/fonts/math/unicodes.txt
  apps/blog/scripts/math-glyphs.mjs
  apps/blog/scripts/subset-math-font.mjs
  packages/markdown-rs/README.md
Due: eslint-blog, prettier

💄 Stop stacking duplicate StyleX class names
  apps/blog/src/app/not-found.styles.ts
  apps/blog/src/app/not-found.tsx
  apps/blog/src/app/resume/page.tsx
  apps/blog/src/components/about/HeroFxB.tsx
  apps/blog/src/components/about/Resume.tsx
  apps/blog/src/components/about/about.styles.ts
  apps/blog/src/components/layout/LayoutWrapper.tsx
  apps/blog/src/components/layout/ScrollTop.tsx
  apps/blog/src/components/pwa/ServiceWorkerRegistration.tsx
Due: eslint-blog, prettier

📊 Add BarCompare for before/after measurement charts
  apps/blog/src/components/post/BarCompare.tsx
  apps/blog/src/components/post/MDXComponents.tsx
Due: eslint-blog, prettier

⚠️ Warn when public is missing for image sizes
  packages/markdown-rs/index.js
Due: prettier

📝 Note the post cache lives for the process
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

🐛 Skip dealloc on a trapped WASM instance
  packages/markdown-rs/index.js
Due: prettier

📝 Correct what the measurement records can claim
  apps/blog/tests/performance/RESULTS.md
  apps/blog/tests/performance/series-overall/README.md
  apps/blog/tests/styles/REFACTOR.md
Due: prettier

🔍 Reject raw script and img tags in posts
  apps/blog/posts/2020/11/v8-memory-management.md
  apps/blog/scripts/check-markdown.mjs
  apps/blog/src/components/post/MDXComponents.tsx
Due: eslint-blog, prettier

📊 State the highlighter and build costs plainly
  apps/blog/posts/2026/09/markdown-pipeline-to-rust-wasm.md
Due: prettier

📄 Add third-party notices for markdown-rs
  packages/markdown-rs/THIRD-PARTY.txt
Due: none

📝 Allow the theme marker in StyleX conditions
  apps/blog/src/styles/README.md
Due: prettier

🔧 Widen parity to .en.md and comment expressions
  packages/markdown-rs/scripts/js-pipeline.mjs
  packages/markdown-rs/scripts/parity.mjs
Due: none

📊 Correct the StyleX post's numbers and charts
  apps/blog/posts/2026/09/tailwind-to-stylex-migration.md
Due: prettier

📝 Document the new result fields
  apps/blog/tests/performance/README.md
Due: prettier

🔧 Make the series baseline ref overridable
  apps/blog/scripts/series-performance/build.mjs
Due: eslint-blog

🔬 Keep the full LCP candidate history in results
  apps/blog/scripts/compare-performance.mjs
Due: eslint-blog

📊 Swap mermaid for BarCompare in the LCP post
  apps/blog/posts/2026/09/blog-performance-after-migrations.md
Due: prettier

🦀 Reject script, raw img and string style in MDX
  packages/markdown-rs/src/mdx.rs
Due: none

🦀 Skip tokenizing a block with an over-long line
  packages/markdown-rs/src/highlight.rs
Due: none

📝 Link the third-party notices from the README
  packages/markdown-rs/README.md
Due: prettier

🔧 Update the committed wasm from the CI build
  packages/markdown-rs/pkg/markdown_rs.wasm
Due: none

📝 Make the CDN deck easier to follow
  apps/research/research/cdn-and-http-cache.md
Due: prettier

✨ Add glide slide transition with per-deck override
  apps/research/src/app/slides/[slug]/page.tsx
  apps/research/src/components/MarpSlides.constants.ts
  apps/research/src/components/MarpSlides.module.scss
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/TweaksPanel.tsx
Due: eslint-research, prettier, stylelint

🎨 Add kakao marp theme with remote fonts
  apps/research/src/lib/marp.ts
  apps/research/src/lib/themes/kakao.ts
Due: eslint-research, prettier

📝 Add FEConf 2026 vendor SDK deck draft
  apps/research/notes/feconf-2026-plan.md
  apps/research/public/feconf-2026/source-map-explorer.png
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

🔓 Serve unpublished slides by direct URL with noindex
  apps/research/src/app/slides/[slug]/page.tsx
Due: eslint-research, prettier

📝 Refine FEConf SDK claims and add testing lessons
  apps/research/notes/feconf-2026-plan.md
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

📱 Fit slides to viewport height in landscape
  apps/research/src/components/MarpSlides.styles.ts
  apps/research/src/styles/theme.css
Due: eslint-research, prettier, stylelint

Path conditions:
  eslint-blog: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/blog/
  eslint-research: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/research/
  eslint-shared: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^packages/shared/
  prettier: any of: *.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}
  stylelint: any of: *.{scss,css}
