Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-blog:
      root: 'apps/blog/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-research:
      root: 'apps/research/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-shared:
      root: 'packages/shared/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{scss,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    # 고쳐야할게 넘 많아서 패스..
    # markdownlint:
    #   glob: '*.md'
    #   run: pnpm exec markdownlint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: 'pnpm exec commit-helper {1}'

📝 Drop periods and clarify mutation testing in deck
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

🐛 Stop landscape slide width tracking the address bar
  apps/research/src/components/MarpSlides.styles.ts
Due: eslint-research, prettier

✨ Add unDraw thumbnail generator for research decks
  apps/research/package.json
  apps/research/scripts/generate-undraw-thumbnail.mjs
  pnpm-lock.yaml
Due: eslint-research, prettier

🖼️ Use generated webp thumbnail as slide OG image
  apps/research/src/app/slides/[slug]/page.tsx
Due: eslint-research, prettier

✂️ Split CDN cache deck in two and fix overflow
  apps/research/research/cdn-and-http-cache-2.md
  apps/research/research/cdn-and-http-cache.md
Due: prettier

✨ Open slide context menu on touch long-press
  apps/research/src/components/Marp.tsx
  apps/research/src/components/MarpSlides.styles.ts
  apps/research/src/components/MarpSlides.tsx
Due: eslint-research, prettier

🧪 Add lottie as-is/to-be comparison lab
  apps/research/public/lab/lottie/assets/png/node-character.lottie
  apps/research/public/lab/lottie/assets/png/node-lock.lottie
  apps/research/public/lab/lottie/assets/png/node-open.lottie
  apps/research/public/lab/lottie/assets/webp/node-character.lottie
  apps/research/public/lab/lottie/assets/webp/node-lock.lottie
  apps/research/public/lab/lottie/assets/webp/node-open.lottie
  apps/research/public/lab/lottie/index.html
Due: none

📝 Add lottie deep dive deck in two parts
  apps/research/public/thumbnails/lottie-deep-dive-1.webp
  apps/research/public/thumbnails/lottie-deep-dive-2.webp
  apps/research/research/lottie-deep-dive-1.md
  apps/research/research/lottie-deep-dive-2.md
Due: prettier

🔗 Serve lab demos at directory paths
  apps/research/next.config.ts
  apps/research/public/lab/lottie/index.html
  apps/research/research/lottie-deep-dive-2.md
Due: eslint-research, prettier

🔒 Redact vendor identifiers from FEConf deck
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

🎨 Mask sizes and paths in treemap capture
  apps/research/public/feconf-2026/source-map-explorer.png
Due: none

🔥 Remove planning note with vendor names
  apps/research/notes/feconf-2026-plan.md
Due: prettier

🐛 Include /en paths in GA4 post ranking queries
  .claude/skills/ga4-report/scripts/fetch-ga4.cjs
Due: prettier

✨ Refine FEConf presentation and add hidden backup slides
  apps/research/public/feconf-2026/source-map-explorer.png
  apps/research/research/feconf-2026-vendor-sdk.md
  apps/research/src/components/Footer.tsx
  apps/research/src/components/LayoutWrapper.tsx
  apps/research/src/components/MarpSlides.styles.ts
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/PresenterView.tsx
  apps/research/src/components/SlideListWithFilter.tsx
  apps/research/src/hooks/useBroadcastChannel.ts
  apps/research/src/lib/marp.ts
  apps/research/src/lib/slideNavigation.ts
Due: eslint-research, prettier

🔥 Remove floating hidden slides indicator button
  apps/research/src/components/MarpSlides.styles.ts
  apps/research/src/components/MarpSlides.tsx
Due: eslint-research, prettier

📝 Close interview recruitment and remove commit-helper guidance
  AGENTS.md
  apps/blog/posts/2026/08/who-learns-to-judge-interviews.md
  apps/blog/posts/2026/09/who-learns-to-judge-beta-reader.md
Due: prettier

🔧 Update the committed wasm from the CI build
  packages/markdown-rs/pkg/markdown_rs.wasm
Due: none

📝 Link the third-party notices from the README
  packages/markdown-rs/README.md
Due: prettier

🦀 Skip tokenizing a block with an over-long line
  packages/markdown-rs/src/highlight.rs
Due: none

🦀 Reject script, raw img and string style in MDX
  packages/markdown-rs/src/mdx.rs
Due: none

🔧 Fix formatting checks and skip unavailable Dependabot AI reviews
  .github/workflows/claude-code-review.yml
  apps/research/scripts/generate-undraw-thumbnail.mjs
  experiments/library-side-effects/scripts/analyze.mjs
  experiments/library-side-effects/scripts/coverage.mjs
  experiments/library-side-effects/scripts/measure.mjs
  lefthook.yml
Due: eslint-research, prettier

🐛 Preserve existing diagram layouts with Mermaid 12
  apps/blog/src/components/post/Mermaid.tsx
  apps/research/src/components/Marp.tsx
Due: eslint-blog, eslint-research, prettier

✨ Add feconf theme for the FEConf 2026 deck
  apps/research/src/components/Marp.tsx
  apps/research/src/lib/marp.ts
  apps/research/src/lib/themes/feconf.ts
Due: eslint-research, prettier

📝 Rewrite FEConf deck presenter notes as a speaking script
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

📝 Refine FEConf opening notes and SDK context
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

📝 Improve narrative transitions across the FEConf talk
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

📝 Keep FEConf speaker introduction focused on background
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

💄 Vary repeated wording in the FEConf speaking script
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

🐛 Fit presenter slide previews within available height
  apps/research/src/components/Marp.tsx
  apps/research/src/components/PresenterView.styles.ts
  apps/research/src/components/PresenterView.tsx
  apps/research/src/styles/marp.css
Due: eslint-research, prettier, stylelint

🐛 Keep presenter notes scrollbar visible
  apps/research/src/components/PresenterView.styles.ts
  apps/research/src/components/PresenterView.tsx
  apps/research/src/styles/marp.css
Due: eslint-research, prettier, stylelint

🐛 Move presenter shortcuts out of speaker notes
  apps/research/src/components/PresenterView.styles.ts
  apps/research/src/components/PresenterView.tsx
Due: eslint-research, prettier

💄 Add harness and lanes layouts to FEConf theme
  apps/research/src/lib/themes/feconf.ts
Due: eslint-research, prettier

📝 Restructure FEConf deck around browser runtime wiring
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

💄 Pin FEConf content slide titles to the top
  apps/research/src/lib/themes/feconf.ts
Due: eslint-research, prettier

📝 Blur FEConf sizes and gather caveats on one slide
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

✨ Add selective offline presentations to research
  .gitignore
  apps/research/docs/offline.md
  apps/research/next.config.ts
  apps/research/package.json
  apps/research/playwright.config.ts
  apps/research/public/favicon/site.webmanifest
  apps/research/public/sw.js
  apps/research/scripts/generate-offline-runtime.mjs
  apps/research/src/app/api/slides/[slug]/offline/route.ts
  apps/research/src/app/layout.tsx
  apps/research/src/app/offline/page.tsx
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/SlideListWithFilter.tsx
  apps/research/src/components/offline/DownloadButton.tsx
  apps/research/src/components/offline/OfflineLibrary.tsx
  apps/research/src/components/offline/OfflineLink.tsx
  apps/research/src/components/offline/OfflineRegistration.tsx
  apps/research/src/config.ts
  apps/research/src/lib/offline/assets.ts
  apps/research/src/lib/offline/client.ts
  apps/research/src/lib/offline/database.ts
  apps/research/src/lib/offline/positions.ts
  apps/research/src/lib/offline/types.ts
  apps/research/src/styles/offline.css
  apps/research/tests/offline.spec.ts
  package.json
  pnpm-lock.yaml
Due: eslint-research, prettier, stylelint
