Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

eslint-blog:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-research:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-shared:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

⚙️ Keep StyleX shorthands with application-order resolution
  apps/blog/.babelrc.json
Due: prettier

⚡️ Split long-form CSS out of the global stylesheet
  apps/blog/scripts/postcss-imports.cjs
  apps/blog/scripts/postcss-optimize.cjs
  apps/blog/src/app/[year]/[...slug]/loading.tsx
  apps/blog/src/app/en/[year]/[...slug]/loading.tsx
  apps/blog/src/app/series/[slug]/page.tsx
  apps/blog/src/components/about/AboutIntro.tsx
  apps/blog/src/components/post/PostArticle.tsx
  apps/blog/src/styles/README.md
  apps/blog/src/styles/reading.css
  apps/blog/src/styles/spacing.css
  apps/blog/src/styles/stylex.css
  apps/blog/src/styles/typography.css
Due: eslint-blog, prettier, stylelint

⚡️ Load KaTeX only on posts that contain math
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/utils/Markdown.ts
Due: eslint-blog, prettier

💄 Color Prism tokens from CSS instead of rewriting classes
  apps/blog/src/app/tailwind.css
Due: stylelint

⚡️ Reuse getAllPosts across a build worker, not per request
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

♻️ Render posts through markdown-rs instead of next-mdx-remote
  apps/blog/next.config.ts
  apps/blog/package.json
  apps/blog/src/components/PostArticle.tsx
  apps/blog/src/utils/Markdown.ts
  apps/blog/src/utils/renderPost.tsx
  pnpm-lock.yaml
Due: eslint-blog, prettier

🦀 Add markdown-rs: markdown to hast in Rust, built to wasm
  packages/markdown-rs/.gitignore
  packages/markdown-rs/Cargo.lock
  packages/markdown-rs/Cargo.toml
  packages/markdown-rs/README.md
  packages/markdown-rs/index.d.ts
  packages/markdown-rs/index.js
  packages/markdown-rs/package.json
  packages/markdown-rs/pkg/markdown_rs.wasm
  packages/markdown-rs/rust-toolchain.toml
  packages/markdown-rs/scripts/build.mjs
  packages/markdown-rs/scripts/gen-slug-table.mjs
  packages/markdown-rs/src/bin/render.rs
  packages/markdown-rs/src/hast.rs
  packages/markdown-rs/src/lib.rs
  packages/markdown-rs/src/mdx.rs
  packages/markdown-rs/src/slug_table.rs
  packages/markdown-rs/src/slugger.rs
  packages/markdown-rs/src/to_hast.rs
  packages/markdown-rs/src/toc.rs
  packages/markdown-rs/src/transforms.rs
  packages/markdown-rs/src/uri.rs
Due: prettier

🐛 Keep author-written alt text on post images
  apps/blog/src/utils/imageMetadata.ts
Due: eslint-blog, prettier

✅ Add parity and bench scripts against the old JS pipeline
  packages/markdown-rs/scripts/bench.mjs
  packages/markdown-rs/scripts/js-pipeline.mjs
  packages/markdown-rs/scripts/parity.mjs
Due: none

🔍 Render posts to JSX in check-markdown, not just to hast
  apps/blog/scripts/check-markdown.mjs
Due: eslint-blog

📝 Add the StyleX migration draft and its performance series
  apps/blog/posts/2026/09/tailwind-to-stylex-migration.md
  apps/blog/series/blog-performance.md
Due: prettier

✏️ Drop the pending merge-decision note from the StyleX post
  apps/blog/posts/2026/09/tailwind-to-stylex-migration.md
Due: prettier

📝 Add draft post on the markdown pipeline Rust port
  apps/blog/posts/2026/09/markdown-pipeline-to-rust-wasm.md
Due: prettier

🦀 Move Markdown transforms into WASM
  apps/blog/package.json
  apps/blog/public/fonts/math/LibertinusMath-Regular.woff2
  apps/blog/public/fonts/math/OFL.txt
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/components/post/markdown.css
  apps/blog/src/components/post/math.tsx
  apps/blog/src/proxy.ts
  apps/blog/src/styles/README.md
  apps/blog/src/utils/Markdown.ts
  apps/blog/src/utils/imageMetadata.ts
  apps/blog/src/utils/renderPost.tsx
  packages/markdown-rs/Cargo.lock
  packages/markdown-rs/Cargo.toml
  packages/markdown-rs/SYNTAX-LICENSES.txt
  packages/markdown-rs/index.d.ts
  packages/markdown-rs/index.js
  packages/markdown-rs/package.json
  packages/markdown-rs/pkg/markdown_rs.wasm
  packages/markdown-rs/rust-toolchain.toml
  packages/markdown-rs/scripts/build.mjs
  packages/markdown-rs/scripts/js-pipeline.mjs
  packages/markdown-rs/scripts/normalize-rendered.mjs
  packages/markdown-rs/scripts/parity.mjs
  packages/markdown-rs/src/hast.rs
  packages/markdown-rs/src/highlight.rs
  packages/markdown-rs/src/images.rs
  packages/markdown-rs/src/lib.rs
  packages/markdown-rs/src/math.rs
  packages/markdown-rs/src/mdx.rs
  packages/markdown-rs/src/transforms.rs
  pnpm-lock.yaml
Due: eslint-blog, prettier, stylelint

📝 Document build and cold page measurements
  apps/blog/posts/2026/09/markdown-pipeline-to-rust-wasm.md
  apps/blog/posts/2026/09/tailwind-to-stylex-migration.md
  packages/markdown-rs/BENCHMARK.md
  packages/markdown-rs/README.md
  packages/markdown-rs/bench-results.json
  packages/markdown-rs/bench-wasi-results.json
  packages/markdown-rs/experience-results.json
  packages/markdown-rs/experiments/syntect/Cargo.lock
  packages/markdown-rs/experiments/syntect/Cargo.toml
  packages/markdown-rs/experiments/syntect/README.md
  packages/markdown-rs/experiments/syntect/benchmark.mjs
  packages/markdown-rs/experiments/syntect/native-fancy.json
  packages/markdown-rs/experiments/syntect/native-onig.json
  packages/markdown-rs/experiments/syntect/results.json
  packages/markdown-rs/experiments/syntect/src/lib.rs
  packages/markdown-rs/experiments/syntect/src/main.rs
  packages/markdown-rs/experiments/syntect/wasm-onig.json
  packages/markdown-rs/experiments/syntect/wasm-onig.mjs
  packages/markdown-rs/scripts/bench.mjs
  packages/markdown-rs/scripts/experience/prepare.mjs
  packages/markdown-rs/scripts/experience/run.mjs
  packages/markdown-rs/scripts/js-hast-pipeline.mjs
Due: prettier

🔧 Fix CI formatting and WASI SDK setup
  .github/workflows/ci.yaml
  lefthook.yml
  packages/markdown-rs/Cargo.toml
Due: prettier

📊 Measure complete blog migrations
  apps/blog/scripts/compare-performance.mjs
  apps/blog/scripts/series-performance/build.mjs
  apps/blog/scripts/series-performance/check-timing.mjs
  apps/blog/tests/performance/README.md
  apps/blog/tests/performance/series-overall/README.md
  apps/blog/tests/performance/series-overall/builds.json
  apps/blog/tests/performance/series-overall/results.json
  apps/blog/tests/performance/series-overall/timing-probe.json
Due: eslint-blog, prettier

📝 Write the final blog performance article
  apps/blog/posts/2026/09/blog-performance-after-migrations.md
  apps/blog/posts/2026/09/markdown-pipeline-to-rust-wasm.md
Due: prettier

📊 Visualize blog performance measurements
  apps/blog/posts/2026/09/blog-performance-after-migrations.md
  apps/blog/public/2026/09/images/blog-performance/body-dom.svg
  apps/blog/public/2026/09/images/blog-performance/build.svg
  apps/blog/public/2026/09/images/blog-performance/first-fcp.svg
  apps/blog/public/2026/09/images/blog-performance/first-lcp.svg
  apps/blog/public/2026/09/images/blog-performance/fonts.svg
  apps/blog/public/2026/09/images/blog-performance/repeat-paints.svg
  apps/blog/public/2026/09/images/blog-performance/transfer.svg
  apps/blog/scripts/series-performance/charts.py
  apps/blog/tests/performance/series-overall/README.md
Due: prettier

⚡ Remove common web fonts from the blog
  apps/blog/src/app/layout.tsx
  apps/blog/src/styles/theme.css
Due: eslint-blog, prettier, stylelint

🐛 Restore sr-only, circle-clip and highlight-line order
  apps/blog/src/components/post/markdown.css
  apps/blog/src/styles/transitions.css
Due: stylelint

🐛 Keep active styles from losing to hover in StyleX
  apps/blog/src/components/layout/header.styles.ts
  apps/blog/src/components/post/table-of-contents.styles.ts
  apps/blog/src/components/settings/tweaks.styles.ts
Due: eslint-blog, prettier

🐛 Cancel the hero particle loop when the image loads late
  apps/blog/src/components/about/HeroFxB.tsx
Due: eslint-blog, prettier

🦀 Guard long lines, empty ids and comment-prefixed MDX
  packages/markdown-rs/pkg/markdown_rs.wasm
  packages/markdown-rs/src/highlight.rs
  packages/markdown-rs/src/lib.rs
  packages/markdown-rs/src/mdx.rs
  packages/markdown-rs/src/transforms.rs
Due: none

✅ Compare the tree the site actually renders in parity
  apps/blog/scripts/check-markdown.mjs
  packages/markdown-rs/package.json
  packages/markdown-rs/scripts/js-pipeline.mjs
  packages/markdown-rs/scripts/parity.mjs
  pnpm-lock.yaml
Due: eslint-blog, prettier

✅ Repair the style parity harness and widen its coverage
  apps/blog/scripts/check-markdown-styles.mjs
  apps/blog/scripts/check-style-parity.mjs
  apps/blog/tests/styles/cases.json
Due: eslint-blog, prettier

📊 Stop counting partial bytes and expose the observation window
  apps/blog/scripts/compare-performance.mjs
Due: eslint-blog

👷 Run the new checks in CI and verify the committed wasm
  .github/workflows/ci.yaml
Due: prettier

📝 Correct measured figures in the posts and style docs
  apps/blog/posts/2026/09/markdown-pipeline-to-rust-wasm.md
  apps/blog/posts/2026/09/tailwind-to-stylex-migration.md
  apps/blog/src/styles/README.md
  apps/blog/tests/styles/REFACTOR.md
Due: prettier

📊 Preserve font removal measurements
  apps/blog/public/2026/09/images/blog-performance/font-removal-fcp.svg
  apps/blog/public/2026/09/images/blog-performance/font-removal-lcp.svg
  apps/blog/public/2026/09/images/blog-performance/lcp-before-font-loaded.png
  apps/blog/public/2026/09/images/blog-performance/lcp-investigation.svg
  apps/blog/scripts/series-performance/charts.py
  apps/blog/scripts/series-performance/diagnose-lcp.mjs
  apps/blog/tests/performance/series-overall/README.md
  apps/blog/tests/performance/series-overall/font-removal-build.json
  apps/blog/tests/performance/series-overall/font-removal-results.json
  apps/blog/tests/performance/series-overall/lcp-font-timing.json
  apps/blog/tests/performance/series-overall/lcp-investigation.json
  apps/blog/tests/performance/series-overall/lcp-visual-check.json
Due: eslint-blog, prettier

Path conditions:
  eslint-blog: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/blog/
  eslint-research: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/research/
  eslint-shared: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^packages/shared/
  prettier: any of: *.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}
  stylelint: any of: *.{scss,css}
