Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-blog:
      root: 'apps/blog/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-research:
      root: 'apps/research/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-shared:
      root: 'packages/shared/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{scss,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    # 고쳐야할게 넘 많아서 패스..
    # markdownlint:
    #   glob: '*.md'
    #   run: pnpm exec markdownlint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: 'pnpm exec commit-helper {1}'

✨ Add observer pattern slides to react-query deck 2
  apps/research/research/react-query-deep-dive-2.md
Due: prettier

💄 Fit observer pattern slides within the frame
  apps/research/research/react-query-deep-dive-2.md
Due: prettier

⬆️ Bump mermaid, sass, web-vitals, @stylistic/stylelint-plugin
  apps/blog/package.json
  apps/research/package.json
  pnpm-lock.yaml
Due: prettier

⬆️ Bump rust-markdownlint to 0.1.3
  package.json
  pnpm-lock.yaml
Due: prettier

📝 Draft post on porting markdownlint-cli2 to Rust
  apps/blog/posts/2026/09/porting-markdownlint-cli2-to-rust.md
Due: prettier

♻️ Hand empty-link and table checks to markdownlint
  .markdownlint.jsonc
  apps/blog/scripts/check-markdown.mjs
Due: eslint-blog

📝 Hide interview recruitment post from popular list
  apps/blog/posts/2026/08/who-learns-to-judge-interviews.md
Due: prettier

✨ Exclude featured:false posts from popular list
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

✨ Hide mobile header on scroll down, reveal on scroll up or tap
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/LayoutWrapper.tsx
Due: eslint-blog, prettier, stylelint

💄 Hide header logo name on mobile
  apps/blog/src/app/tailwind.css
Due: stylelint

💄 Drop hero text from art thumbnails
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

🔧 Tighten Gemini thumbnail style prompt
  apps/blog/public/thumbnails/2026/06/do-you-need-to-read-code.webp
  apps/blog/public/thumbnails/2026/07/frontend-past-present-after-agents.webp
  apps/blog/public/thumbnails/2026/08/framer-motion-banner-frame-drop.webp
  apps/blog/public/thumbnails/2026/08/k8s-for-frontend-1.webp
  apps/blog/public/thumbnails/2026/08/k8s-for-frontend-2.webp
  apps/blog/public/thumbnails/2026/08/og-scraping-server-1.webp
  apps/blog/public/thumbnails/2026/08/og-scraping-server-2.webp
  apps/blog/public/thumbnails/2026/08/one-web-on-multiple-webviews.webp
  apps/blog/public/thumbnails/2026/08/rebuilding-a-vendor-sdk.webp
  apps/blog/public/thumbnails/2026/08/service-worker-caching-2.webp
  apps/blog/public/thumbnails/2026/08/service-worker-caching-3.webp
  apps/blog/public/thumbnails/2026/08/turbopack-scope-hoisting-singleton-split.png
  apps/blog/public/thumbnails/2026/08/turbopack-scope-hoisting-singleton-split.webp
  apps/blog/public/thumbnails/2026/08/who-learns-to-judge-interviews.webp
  apps/blog/scripts/generate-thumbnail.mjs
Due: eslint-blog

✨ Add unDraw thumbnail generator script
  apps/blog/package.json
  apps/blog/scripts/generate-undraw-thumbnail.mjs
  pnpm-lock.yaml
Due: eslint-blog, prettier

📝 Publish post on porting markdownlint-cli2 to Rust
  apps/blog/posts/2026/09/porting-markdownlint-cli2-to-rust.en.md
  apps/blog/posts/2026/09/porting-markdownlint-cli2-to-rust.md
Due: prettier

📝 Publish post on running one web across multiple webviews
  apps/blog/posts/2026/08/one-web-on-multiple-webviews.md
  apps/blog/posts/2026/09/one-web-on-multiple-webviews.md
  apps/blog/public/thumbnails/2026/09/one-web-on-multiple-webviews.webp
Due: prettier

🐛 Fix reading progress dashoffset units
  apps/blog/src/app/tailwind.css
Due: stylelint

⬆️ Bump oxlint to 1.82 and oxfmt to 0.67
  package.json
  pnpm-lock.yaml
Due: prettier

📝 Add beta reader and interviewee call for the book
  apps/blog/posts/2026/09/who-learns-to-judge-beta-reader.md
  apps/blog/public/thumbnails/2026/09/who-learns-to-judge-beta-reader.webp
Due: prettier

📣 Retarget announcement banner to beta reader call
  apps/blog/src/components/AnnouncementBanner.tsx
Due: eslint-blog, prettier

💄 Drop italic, quotes and serif from post blockquotes
  apps/blog/src/app/tailwind.css
Due: stylelint

✨ Show series part number in post rows
  apps/blog/src/components/PostRow.tsx
Due: eslint-blog, prettier

🐛 Notify on posts flipped from draft to published
  .github/workflows/notify-push.yaml
Due: prettier

📈 Send page_view when a timed-out session resumes
  apps/blog/src/components/GoogleAnalyticsPageViewTracker.tsx
Due: eslint-blog, prettier

🔒 Bound OG art title and guard hue lookup
  apps/blog/src/app/api/og/art/route.tsx
Due: eslint-blog, prettier

🔒 Escape model output in webgpu demo markup
  apps/blog/public/demos/webgpu/index.html
Due: none

📝 Add AGENTS.md for blog and research apps
  AGENTS.md
  apps/blog/AGENTS.md
  apps/research/AGENTS.md
Due: prettier

🔒 Render mermaid errors as text in Marp
  apps/research/src/components/Marp.tsx
Due: eslint-research, prettier

📝 Publish post on npm Deep Dive Sejong selection
  apps/blog/posts/2026/09/npm-deep-dive-sejong-books.md
  apps/blog/public/2026/09/images/npm-deep-dive-sejong/sejong-books-2026-list.png
Due: prettier

✏️ Trim Sejong selection post to the announcement
  apps/blog/posts/2026/09/npm-deep-dive-sejong-books.md
Due: prettier

💄 Emphasize a key phrase in post titles from August on
  apps/blog/posts/2026/08/framer-motion-banner-frame-drop.en.md
  apps/blog/posts/2026/08/framer-motion-banner-frame-drop.md
  apps/blog/posts/2026/08/k8s-for-frontend-1.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-1.md
  apps/blog/posts/2026/08/k8s-for-frontend-2.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-2.md
  apps/blog/posts/2026/08/k8s-for-frontend-3.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-3.md
  apps/blog/posts/2026/08/k8s-for-frontend-4.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-4.md
  apps/blog/posts/2026/08/k8s-for-frontend-5.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-5.md
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.en.md
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.md
  apps/blog/posts/2026/08/og-scraping-server-1.en.md
  apps/blog/posts/2026/08/og-scraping-server-1.md
  apps/blog/posts/2026/08/og-scraping-server-2.en.md
  apps/blog/posts/2026/08/og-scraping-server-2.md
  apps/blog/posts/2026/08/turbopack-scope-hoisting-singleton-split.en.md
  apps/blog/posts/2026/08/turbopack-scope-hoisting-singleton-split.md
  apps/blog/posts/2026/08/who-learns-to-judge-interviews.md
  apps/blog/posts/2026/09/npm-deep-dive-sejong-books.md
Due: prettier

🌐 Add English translation for the typescript@7 post
  apps/blog/posts/2026/08/typescript-7-oxc-migration.en.md
  apps/blog/posts/2026/08/typescript-7-oxc-migration.md
Due: prettier

🌐 Add English translation for the multi-WebView post
  apps/blog/posts/2026/09/one-web-on-multiple-webviews.en.md
Due: prettier

💄 Refresh About and Resume with recent work and project tags
  .oxfmtrc.json
  apps/blog/package.json
  apps/blog/src/app/about/layout.tsx
  apps/blog/src/app/resume/layout.tsx
  apps/blog/src/app/resume/page.tsx
  apps/blog/src/components/about/AboutHero.tsx
  apps/blog/src/components/about/AboutIntro.tsx
  apps/blog/src/components/about/AboutTabs.tsx
  apps/blog/src/components/about/ProjectTags.module.scss
  apps/blog/src/components/about/ProjectTags.tsx
  apps/blog/src/components/about/Resume.module.scss
  apps/blog/src/components/about/Resume.tsx
  apps/blog/src/components/about/openSourceProjects.ts
  pnpm-lock.yaml
Due: eslint-blog, prettier, stylelint

🖼️ Use npm Deep Dive cover for the Sejong Books post thumbnail
  apps/blog/public/thumbnails/2026/09/npm-deep-dive-sejong-books.webp
Due: none

💄 Format the unDraw thumbnail script with oxfmt
  apps/blog/scripts/generate-undraw-thumbnail.mjs
Due: eslint-blog

⚡️ Load KaTeX only on posts that contain math
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/utils/Markdown.ts
Due: eslint-blog, prettier
