Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-blog:
      root: 'apps/blog/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-research:
      root: 'apps/research/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-shared:
      root: 'packages/shared/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{scss,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    # 고쳐야할게 넘 많아서 패스..
    # markdownlint:
    #   glob: '*.md'
    #   run: pnpm exec markdownlint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: 'pnpm exec commit-helper {1}'

🐛 Scope minimatch override to vulnerable versions only
  package.json
  pnpm-lock.yaml
Due: prettier

🐛 Fix eslint errors in push notification files
  apps/blog/src/app/api/push/send/route.ts
  apps/blog/src/components/LayoutWrapper.tsx
  apps/blog/src/components/PushSubscribeButton.tsx
Due: eslint-blog, prettier

⬆️ Update dependencies: @types/react, next-mdx-remote-client, glob, @tailwindcss/postcss, eslint
  apps/blog/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

✨ Add thumbnail shared element view transition
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/components/PostCard.tsx
Due: eslint-blog, prettier

✨ Add directional slide navigation transition
  apps/blog/src/app/layout.tsx
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/NavigationDirection.tsx
Due: eslint-blog, prettier, stylelint

📝 Add React View Transition API blog post
  apps/blog/posts/2026/03/react-view-transition.en.md
  apps/blog/posts/2026/03/react-view-transition.md
  apps/blog/public/demos/view-transition/1-enter-exit.html
  apps/blog/public/demos/view-transition/2-shared-element.html
  apps/blog/public/demos/view-transition/3-nav-slide.html
  apps/blog/public/demos/view-transition/4-list-filter.html
  apps/blog/public/demos/view-transition/5-suspense-loading.html
  apps/blog/public/thumbnails/2026/03/react-view-transition.png
Due: prettier

🐛 Fix view transition broken by smooth scroll
  apps/blog/src/app/layout.tsx
  apps/blog/src/app/tailwind.css
Due: eslint-blog, prettier, stylelint

📝 Clarify ViewTransition vs native API usage
  apps/blog/posts/2026/03/react-view-transition.en.md
  apps/blog/posts/2026/03/react-view-transition.md
Due: prettier

🐛 Fix Twitter Card showing homepage meta on posts
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
Due: eslint-blog, prettier

♻️ Extract buildOgImageUrl helper for OG image URLs
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/about/layout.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/app/layout.tsx
  apps/blog/src/app/page.tsx
  apps/blog/src/app/pages/[id]/page.tsx
  apps/blog/src/app/resume/layout.tsx
  apps/blog/src/app/tags/layout.tsx
  apps/blog/src/utils/og.ts
Due: eslint-blog, prettier

⚡ Prefetch OG images in PostCard for faster navigation
  apps/blog/src/components/PostCard.tsx
Due: eslint-blog, prettier

🗑️ Remove unused Hero.tsx and OpenToWorkBanner.tsx
  apps/blog/src/components/Hero.tsx
  apps/blog/src/components/OpenToWorkBanner.tsx
Due: eslint-blog, prettier

📦 Move lint/type deps to devDependencies
  apps/blog/package.json
  apps/research/package.json
  pnpm-lock.yaml
Due: prettier

♻️ Unify TS path alias from # to @/ convention
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/about/layout.tsx
  apps/blog/src/app/about/page.tsx
  apps/blog/src/app/api/og/route.tsx
  apps/blog/src/app/api/push/send/route.ts
  apps/blog/src/app/api/push/subscribe/route.ts
  apps/blog/src/app/api/search/route.ts
  apps/blog/src/app/api/tags/route.ts
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/feed.xml/route.ts
  apps/blog/src/app/en/layout.tsx
  apps/blog/src/app/en/page.tsx
  apps/blog/src/app/en/pages/[id]/page.tsx
  apps/blog/src/app/feed.xml/route.ts
  apps/blog/src/app/layout.tsx
  apps/blog/src/app/page.tsx
  apps/blog/src/app/pages/[id]/page.tsx
  apps/blog/src/app/resume/layout.tsx
  apps/blog/src/app/sitemap.ts
  apps/blog/src/app/tags/[tag]/pages/[id]/page.tsx
  apps/blog/src/app/tags/layout.tsx
  apps/blog/src/app/tags/page.tsx
  apps/blog/src/components/BotTracker.tsx
  apps/blog/src/components/Footer.tsx
  apps/blog/src/components/GoogleAnalyticsWebVitalsTracker.tsx
  apps/blog/src/components/HeroE.tsx
  apps/blog/src/components/LanguageSwitch.tsx
  apps/blog/src/components/LayoutWrapper.tsx
  apps/blog/src/components/MDXComponents.tsx
  apps/blog/src/components/MobileNav.tsx
  apps/blog/src/components/PostCard.tsx
  apps/blog/src/components/ProfileImage.tsx
  apps/blog/src/components/SeriesNavigation.tsx
  apps/blog/src/components/layouts/ListLayout.tsx
  apps/blog/src/config.ts
  apps/blog/tsconfig.json
Due: eslint-blog, prettier

🔧 Fix Node engine version to match .nvmrc
  package.json
Due: prettier

🔧 Fix commithelper protect branch to main
  .commithelperrc.json
Due: prettier

📝 Update profile: NAVER Financial tenure ended 2026.03
  apps/blog/src/app/about/page.tsx
Due: eslint-blog, prettier

🔥 Remove @naverpay/commit-helper
  .commithelperrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier

📝 Remove beta reader recruitment deadline
  apps/blog/posts/2026/02/nodejs-deep-dive-beta-reader.md
  apps/blog/src/components/Banner.tsx
Due: eslint-blog, prettier

📝 Add React server functions deep dive post
  apps/blog/posts/2026/03/react-server-functions-deep-dive.md
  apps/blog/public/thumbnails/2026/03/react-server-functions-deep-dive.png
Due: prettier

🔧 Increase recent posts count from 3 to 6
  apps/blog/src/constants/index.ts
Due: eslint-blog, prettier

📝 Add AI-era development workflow post (draft)
  apps/blog/posts/2026/03/markdown-before-code-editor.md
  apps/blog/public/thumbnails/2026/03/markdown-before-code-editor.png
Due: prettier

⬆️ Bump dependencies (prettier, stylelint, tailwindcss/postcss, isbot, @types/node)
  apps/blog/package.json
  apps/research/package.json
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier

📝 Add Next.js Edge Runtime rise and fall post
  apps/blog/posts/2026/03/nextjs-edge-runtime-rise-and-fall.en.md
  apps/blog/posts/2026/03/nextjs-edge-runtime-rise-and-fall.md
  apps/blog/public/thumbnails/2026/03/nextjs-edge-runtime-rise-and-fall.png
Due: prettier

🔥 Remove featured section and floating banner
  apps/blog/src/app/page.tsx
  apps/blog/src/components/LayoutWrapper.tsx
Due: eslint-blog, prettier

🐛 Fill popular posts to 6 when GA4 matches are insufficient
  apps/blog/src/app/en/page.tsx
Due: eslint-blog, prettier

✨ Add series badge to PostCard component
  apps/blog/src/components/PostCard.tsx
Due: eslint-blog, prettier

📝 Add series metadata to Edge Runtime post
  apps/blog/posts/2026/03/nextjs-edge-runtime-rise-and-fall.md
Due: prettier

📝 Add Cloudflare Next.js rebuild analysis post
  apps/blog/posts/2026/03/why-cloudflare-rebuilt-nextjs.en.md
  apps/blog/posts/2026/03/why-cloudflare-rebuilt-nextjs.md
Due: prettier

🎨 Add thumbnail for Cloudflare Next.js rebuild post
  apps/blog/public/thumbnails/2026/03/why-cloudflare-rebuilt-nextjs.png
Due: none

🐛 Add missing series metadata to EN post
  apps/blog/posts/2026/03/nextjs-edge-runtime-rise-and-fall.en.md
Due: prettier

📝 Add React governance analysis post
  apps/blog/posts/2026/03/react-is-whose.md
  apps/blog/public/thumbnails/2026/03/react-is-whose.png
Due: prettier

⬆️ Bump next, react-is, @types/react, @types/node
  apps/blog/package.json
  apps/research/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier

🐛 Escape dollar signs in React governance post
  apps/blog/posts/2026/03/react-is-whose.md
Due: prettier

📝 Add Next.js performance benchmark analysis post
  apps/blog/posts/2026/03/is-nextjs-fast-enough.md
  apps/blog/public/thumbnails/2026/03/is-nextjs-fast-enough.png
Due: prettier

✏️ Improve data reliability and tone in Next.js perf post
  apps/blog/posts/2026/03/is-nextjs-fast-enough.md
Due: prettier

📝 Add Next.js path dependence analysis post
  apps/blog/posts/2026/03/why-still-nextjs.md
Due: prettier

✏️ Strengthen analysis in Next.js path dependence post
  apps/blog/posts/2026/03/why-still-nextjs.md
Due: prettier

✏️ Refine tone and rigor in path dependence post
  apps/blog/posts/2026/03/why-still-nextjs.md
Due: prettier

✏️ Tighten claims and compress AI section
  apps/blog/posts/2026/03/why-still-nextjs.md
Due: prettier
