Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

eslint-blog:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-research:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-shared:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

✨ Add GA4-based popular series selection
  apps/blog/src/utils/Series.ts
  apps/blog/src/utils/analytics.ts
Due: eslint-blog, prettier

✨ Show popular series card and badges on home grid
  apps/blog/src/app/page.tsx
  apps/blog/src/components/PopularSeriesCard.tsx
  apps/blog/src/components/PostCard.tsx
  apps/blog/src/constants/index.ts
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

⬆️ Upgrade to TypeScript 7 and Next.js 16.3
  apps/blog/next.config.ts
  apps/blog/package.json
  apps/blog/tsconfig.json
  apps/research/package.json
  package.json
  packages/shared/package.json
Due: eslint-blog, prettier

🔧 Replace eslint and prettier with oxlint and oxfmt
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc
  apps/blog/eslint.config.js
  apps/blog/package.json
  apps/research/eslint.config.js
  apps/research/package.json
  lefthook.yml
  package.json
  packages/shared/eslint.config.js
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint-blog, eslint-research, eslint-shared, prettier

♻️ Adapt code to oxlint ruleset
  apps/blog/scripts/translate.mjs
  apps/blog/src/app/archive/page.tsx
  apps/blog/src/app/en/pages/[id]/page.tsx
  apps/blog/src/app/offline/page.tsx
  apps/blog/src/app/pages/[id]/page.tsx
  apps/blog/src/app/tags/[tag]/pages/[id]/page.tsx
  apps/blog/src/components/ImageZoom.tsx
  apps/blog/src/components/MDXComponents.tsx
  apps/blog/src/components/Mermaid.tsx
  apps/blog/src/components/ScrollTop.tsx
  apps/blog/src/components/SiteSearch.tsx
  apps/blog/src/components/TableOfContents.tsx
  apps/blog/src/components/TweaksPanel.tsx
  apps/blog/src/components/about-fx/HeroFxB.tsx
  apps/blog/src/utils/Post.ts
  apps/blog/src/utils/Series.ts
  apps/blog/src/utils/llmsFull.ts
  apps/blog/tsconfig.json
  apps/research/src/app/page.tsx
  apps/research/src/components/SlideListWithFilter.tsx
  apps/research/src/components/TweaksPanel.tsx
  apps/research/src/hooks/useBroadcastChannel.ts
  apps/research/src/lib/slidesIndex.ts
Due: eslint-blog, eslint-research, prettier

📝 Drop empty markdown links
  apps/blog/posts/2020/08/mobx-study-1.md
  apps/blog/posts/2020/09/javascript-string.md
  apps/blog/posts/2021/10/difference-between-link-and-button.md
  apps/blog/posts/2021/11/responsibility-of-javascript-code-2.md
Due: prettier

⬆️ Migrate to pnpm 11 and trim overrides
  package.json
  pnpm-workspace.yaml
Due: prettier

🔒 Replace vulnerable image-size with sharp
  apps/blog/package.json
  apps/blog/src/utils/imageMetadata.ts
Due: eslint-blog, prettier

⬆️ Update analytics, three, web-vitals, anthropic sdk
  apps/blog/package.json
  apps/research/package.json
  pnpm-lock.yaml
Due: prettier

🔒 Bump lab app deps to fix npm advisories
  labs/k8s-for-frontend/app/package-lock.json
  labs/k8s-for-frontend/app/package.json
  lefthook.yml
Due: prettier

⬆️ Bump swiper, GA data client, node types majors
  apps/blog/package.json
  apps/research/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier

♿ Adopt native dialog and button semantics
  .oxlintrc.json
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/ImageZoom.tsx
  apps/blog/src/components/Mermaid.tsx
  apps/blog/src/components/SiteSearch.tsx
  apps/blog/src/components/TweaksPanel.tsx
  apps/research/src/app/tailwind.css
  apps/research/src/components/MarpHelpModal.tsx
  apps/research/src/components/MarpQrModal.tsx
  apps/research/src/components/MarpSearchModal.tsx
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/TweaksPanel.tsx
  packages/shared/src/components/MobileNav.tsx
  packages/shared/src/components/icons/social/facebook.tsx
  packages/shared/src/components/icons/social/github.tsx
  packages/shared/src/components/icons/social/linkedin.tsx
  packages/shared/src/components/icons/social/twitter.tsx
  packages/shared/src/components/icons/social/youtube.tsx
Due: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

🐛 Fix sitemap tag urls and issue link slug
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/sitemap.ts
Due: eslint-blog, prettier

🔧 Enable type-aware linting via tsgolint
  .oxlintrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier

♻️ Fix type-aware lint findings
  apps/blog/src/app/api/og/art/route.tsx
  apps/blog/src/app/api/og/route.tsx
  apps/blog/src/app/page.tsx
  apps/blog/src/app/tags/[tag]/pages/[id]/page.tsx
  apps/blog/src/app/tags/page.tsx
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/AmbientEffects.tsx
  apps/blog/src/components/HeroArt.tsx
  apps/blog/src/components/HeroE.tsx
  apps/blog/src/components/HeroHeatmap.tsx
  apps/blog/src/components/ImageZoom.tsx
  apps/blog/src/components/Mermaid.tsx
  apps/blog/src/components/ServiceWorkerRegistration.tsx
  apps/blog/src/components/SiteSearch.tsx
  apps/blog/src/components/TableOfContents.tsx
  apps/blog/src/components/TweaksPanel.tsx
  apps/blog/src/components/about-fx/HeroFxA.tsx
  apps/blog/src/components/about-fx/HeroFxB.tsx
  apps/blog/src/hooks/useLocale.ts
  apps/blog/src/utils/ogSharpUnblock.ts
  apps/research/src/components/AmbientEffects.tsx
  apps/research/src/components/Hero.tsx
  apps/research/src/components/Marp.tsx
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/SlidePreview.tsx
  apps/research/src/components/TweaksPanel.tsx
  apps/research/src/hooks/useBroadcastChannel.ts
  apps/research/src/hooks/useDrawing.ts
  apps/research/src/hooks/useFontFace.tsx
  apps/research/src/hooks/useLaserPointer.ts
  packages/shared/src/components/MobileNav.tsx
  packages/shared/src/utils/contact.ts
Due: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

🔥 Remove hero aside panel candidates
  apps/blog/src/app/page.tsx
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/HeroArt.tsx
  apps/blog/src/components/HeroE.tsx
  apps/blog/src/components/HeroHeatmap.tsx
Due: eslint-blog, prettier, stylelint

💄 Flatten home hero into wide single-line layout
  apps/blog/src/app/tailwind.css
Due: stylelint

📝 Add TypeScript 7 and oxc migration post
  apps/blog/posts/2026/08/typescript-7-oxc-migration.md
Due: prettier

🔧 Move k8s finale earlier to feature new post
  apps/blog/posts/2026/08/k8s-for-frontend-5.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-5.md
Due: prettier

📝 Add interviewee recruitment post
  apps/blog/posts/2026/08/who-learns-to-judge-interviews.md
Due: prettier

✨ Add interview recruitment floating banner
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/AnnouncementBanner.tsx
  apps/blog/src/components/LayoutWrapper.tsx
Due: eslint-blog, prettier, stylelint

📝 Update README to match current tooling
  README.md
Due: prettier

📝 Expand uncaught async error post
  apps/blog/posts/2021/08/uncaught-async-error.md
Due: prettier

📈 Track SPA page views in GA4
  apps/blog/src/app/layout.tsx
  apps/blog/src/components/GoogleAnalyticsPageViewTracker.tsx
Due: eslint-blog, prettier

✨ Add RSS subscribe CTA to post pages
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/SubscribeCta.tsx
Due: eslint-blog, prettier, stylelint

🐛 Wrap usePathname consumers in Suspense
  apps/blog/src/app/layout.tsx
Due: eslint-blog, prettier

🌐 Add English translations for two posts
  apps/blog/posts/2021/01/from-github-workflow-to-firebase-functions.en.md
  apps/blog/posts/2021/08/uncaught-async-error.en.md
Due: prettier

🐛 Hide broken /en links from language switch
  apps/blog/src/app/layout.tsx
  apps/blog/src/components/LanguageSwitch.tsx
  apps/blog/src/components/LayoutWrapper.tsx
Due: eslint-blog, prettier

🐛 Redirect untranslated en posts to Korean original
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
Due: eslint-blog, prettier

🐛 Return real 404 for unroutable paths in proxy
  apps/blog/src/proxy.ts
Due: eslint-blog, prettier

📝 Add manuscript excerpt to recruitment post
  apps/blog/posts/2026/08/who-learns-to-judge-interviews.md
Due: prettier

🐛 Cache visited pages for offline in service worker
  apps/blog/public/sw.js
Due: eslint-blog, prettier

✨ Show toast when page is saved for offline
  apps/blog/src/components/ServiceWorkerRegistration.tsx
Due: eslint-blog, prettier

🐛 Cache page images for offline in service worker
  apps/blog/public/sw.js
Due: eslint-blog, prettier

✨ Add web push subscribe API and SW handlers
  apps/blog/public/sw.js
  apps/blog/src/app/api/push/subscribe/route.ts
  apps/blog/src/utils/upstash.ts
Due: eslint-blog, prettier

✨ Add push subscription toggle to Tweaks panel
  apps/blog/src/components/TweaksPanel.tsx
Due: eslint-blog, prettier

🔔 Notify push subscribers of new posts on main
  .github/workflows/notify-push.yaml
  apps/blog/scripts/notify-push.mjs
  package.json
  pnpm-lock.yaml
Due: eslint-blog, prettier

🐛 Start SW message dispatch and animate saved toast
  apps/blog/src/components/ServiceWorkerRegistration.tsx
Due: eslint-blog, prettier

✨ Add one-time push alert tooltip in header
  apps/blog/src/components/LayoutWrapper.tsx
  apps/blog/src/components/PushAlertTooltip.tsx
Due: eslint-blog, prettier

Path conditions:
  eslint-blog: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/blog/
  eslint-research: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/research/
  eslint-shared: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^packages/shared/
  prettier: any of: *.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}
  stylelint: any of: *.{scss,css}
