Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

eslint-blog:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-research:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-shared:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

🐛 Use GA4 popular posts on English home
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

✨ Add current role, topics, contact section to about
  apps/blog/src/components/about/AboutIntro.tsx
Due: eslint-blog, prettier

✨ Add author contact note to post footer
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/app/tailwind.css
Due: eslint-blog, prettier, stylelint

📈 Track outbound and mailto clicks in GA4
  apps/blog/src/app/layout.tsx
  apps/blog/src/components/OutboundLinkTracker.tsx
Due: eslint-blog, prettier

🔥 Remove Vercel Analytics and Speed Insights
  apps/blog/package.json
  apps/blog/src/app/layout.tsx
  apps/blog/src/components/BotTracker.tsx
  apps/research/package.json
  apps/research/src/app/layout.tsx
  pnpm-lock.yaml
Due: eslint-blog, eslint-research, prettier

📈 Track push notification funnel events in GA4
  apps/blog/src/components/PushAlertTooltip.tsx
  apps/blog/src/components/TweaksPanel.tsx
Due: eslint-blog, prettier

📝 Draft post on service worker caching
  apps/blog/posts/2026/08/service-worker-caching-pwa.md
Due: prettier

📈 Add web vitals attribution and SW context to GA4
  apps/blog/src/components/GoogleAnalyticsWebVitalsTracker.tsx
Due: eslint-blog, prettier

🔧 Drop labs ignore entries after lab repo split
  .oxfmtrc.json
  .oxlintrc.json
Due: prettier

🔥 Remove unused translate script
  apps/blog/package.json
  apps/blog/scripts/translate.mjs
Due: eslint-blog, prettier

🐛 Normalize slide dates to fix feed and sitemap order
  apps/research/src/lib/slidesIndex.ts
Due: eslint-research, prettier

✨ Add RSS feed to research site
  apps/research/src/app/feed.xml/route.ts
  apps/research/src/components/Footer.tsx
Due: eslint-research, prettier

🐛 Fix research favicons, lang, and GA page views
  apps/research/src/app/layout.tsx
  apps/research/src/components/GoogleAnalyticsPageViewTracker.tsx
Due: eslint-research, prettier

💄 Redesign research home with cards and pagination
  apps/research/src/app/page.tsx
  apps/research/src/app/tailwind.css
  apps/research/src/components/SlideListWithFilter.tsx
  apps/research/src/components/SlidePreview.tsx
  apps/research/src/config.ts
Due: eslint-research, prettier, stylelint

🔥 Drop markdown-it-mermaid to fix server errors
  apps/research/package.json
  apps/research/src/lib/marp.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint-research, prettier

✏️ Fix review issues in service worker draft
  apps/blog/posts/2026/08/service-worker-caching-pwa.md
Due: prettier

🐛 Escape tildes and fix broken bold in posts
  apps/blog/posts/2020/09/eslint-config-yceffort.md
  apps/blog/posts/2021/10/understanding-of-nodejs-buffer.md
  apps/blog/posts/2025/05/web-performance-analysis-2.en.md
  apps/blog/posts/2025/05/web-performance-analysis-2.md
  apps/blog/posts/2026/02/infinite-scroll-dark-side.md
  apps/blog/posts/2026/02/react-compiler-deep-dive.en.md
  apps/blog/posts/2026/03/react-is-whose.md
Due: prettier

🐛 Add remark-cjk-friendly for CJK bold parsing
  apps/blog/package.json
  apps/blog/src/components/PostArticle.tsx
  pnpm-lock.yaml
Due: eslint-blog, prettier

✨ Add markdown emphasis lint for posts
  apps/blog/scripts/check-markdown.mjs
  package.json
Due: eslint-blog, prettier

🌐 Add English translation for number-flow fork post
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.en.md
Due: prettier

📝 Add number-flow fork deep-dive post
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.md
Due: prettier

🐛 Notify on posts from every commit in a push
  .github/workflows/notify-push.yaml
Due: prettier

🐛 Open notification links as absolute URLs
  apps/blog/public/sw.js
Due: eslint-blog, prettier

🐛 Fix GA4 credentials JSON parsing in local builds
  apps/blog/src/utils/analytics.ts
Due: eslint-blog, prettier

📈 Add CLS attribution params to web vitals
  apps/blog/src/components/GoogleAnalyticsWebVitalsTracker.tsx
Due: eslint-blog, prettier

📈 Track book store link clicks in GA4
  apps/blog/src/components/OutboundLinkTracker.tsx
Due: eslint-blog, prettier

⚡️ Prerender top yearly GA4 posts at build time
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/constants/index.ts
  apps/blog/src/utils/Post.ts
  apps/blog/src/utils/analytics.ts
Due: eslint-blog, prettier

⚡️ Optimize art thumbnails with next/image
  apps/blog/next.config.ts
  apps/blog/src/components/PopularSeriesCard.tsx
  apps/blog/src/components/PostCard.tsx
  apps/blog/src/components/PostRow.tsx
Due: eslint-blog, prettier

⚡️ Preload above-the-fold card thumbnails
  apps/blog/src/app/en/page.tsx
  apps/blog/src/app/page.tsx
  apps/blog/src/components/PostCard.tsx
Due: eslint-blog, prettier

🔥 Remove unused og image prefetch links
  apps/blog/src/components/PostCard.tsx
Due: eslint-blog, prettier

📝 Add Promise deep dive slide deck draft
  apps/research/research/promise-deep-dive.md
Due: prettier

🚀 Publish Promise deep dive deck
  apps/research/research/promise-deep-dive.md
Due: prettier

✏️ Polish Korean wording in August posts
  apps/blog/posts/2026/08/k8s-for-frontend-1.md
  apps/blog/posts/2026/08/k8s-for-frontend-2.md
  apps/blog/posts/2026/08/k8s-for-frontend-3.md
  apps/blog/posts/2026/08/k8s-for-frontend-4.md
  apps/blog/posts/2026/08/k8s-for-frontend-5.md
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.md
  apps/blog/posts/2026/08/typescript-7-oxc-migration.md
  apps/blog/posts/2026/08/who-learns-to-judge-interviews.md
Due: prettier

📝 Draft service worker caching deep dive series
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
  apps/blog/posts/2026/08/service-worker-caching-2.en.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
  apps/blog/posts/2026/08/service-worker-caching-pwa.md
  apps/blog/public/2026/08/images/service-worker-caching/ga4-fcp-ttfb-before-after.en.png
  apps/blog/public/2026/08/images/service-worker-caching/ga4-fcp-ttfb-before-after.png
  apps/blog/public/2026/08/images/service-worker-caching/offline-article.png
  apps/blog/public/2026/08/images/service-worker-caching/offline-saved-toast.png
  apps/blog/series/service-worker-caching.md
Due: prettier

📝 Add react-query deep dive lecture decks
  apps/research/research/react-query-deep-dive-1.md
  apps/research/research/react-query-deep-dive-2.md
Due: prettier

🐛 Skip series push notification when no published posts
  apps/blog/scripts/notify-push.mjs
Due: eslint-blog

📈 Add bot, outbound, and slide view tracking to research
  apps/research/package.json
  apps/research/src/app/layout.tsx
  apps/research/src/components/BotTracker.tsx
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/OutboundLinkTracker.tsx
  apps/research/src/constants/bot-signatures.ts
  pnpm-lock.yaml
Due: eslint-research, prettier

🐛 Load GA scripts only in production builds
  apps/blog/src/app/layout.tsx
Due: eslint-blog, prettier

✏️ Unify deck wording to slides
  apps/research/src/app/api/llms-full/route.ts
  apps/research/src/app/api/llms/route.ts
  apps/research/src/components/Hero.tsx
  apps/research/src/components/SlideListWithFilter.tsx
Due: eslint-research, prettier

Path conditions:
  eslint-blog: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/blog/
  eslint-research: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/research/
  eslint-shared: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^packages/shared/
  prettier: any of: *.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}
  stylelint: any of: *.{scss,css}
