Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-blog:
      root: 'apps/blog/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-research:
      root: 'apps/research/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-shared:
      root: 'packages/shared/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{scss,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    # 고쳐야할게 넘 많아서 패스..
    # markdownlint:
    #   glob: '*.md'
    #   run: pnpm exec markdownlint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: 'pnpm exec commit-helper {1}'

🔗 Link OG posts to decks and rework part 2 ending
  apps/blog/posts/2026/08/og-scraping-server-1.md
  apps/blog/posts/2026/08/og-scraping-server-2.md
  apps/research/research/og-scraping-server-nodejs-1.md
  apps/research/research/og-scraping-server-nodejs-2.md
Due: prettier

✏️ Summarize part 2 ending and make repro code readable
  apps/blog/posts/2026/08/og-scraping-server-2.md
Due: prettier

✏️ Drop em dashes from OG scraping part 1 deck
  apps/research/research/og-scraping-server-nodejs-1.md
Due: prettier

✏️ Rewrite SSRF bypass sections threat-first
  apps/blog/posts/2026/08/og-scraping-server-2.md
  apps/research/research/og-scraping-server-nodejs-2.md
Due: prettier

💄 Set slide link apart from neighboring cards
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/tailwind.css
Due: eslint-blog, prettier, stylelint

🐛 Use physical key codes for slide shortcuts
  apps/research/src/components/MarpSlides.tsx
Due: eslint-research, prettier

✨ Add text tool to slide drawing mode
  apps/research/src/components/MarpSlides.module.scss
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/hooks/useDrawing.ts
Due: eslint-research, prettier, stylelint

🔧 Add GA4 monthly report script
  apps/blog/scripts/ga4-monthly-report.mjs
Due: eslint-blog

🌐 Add English translation for framer-motion post
  apps/blog/posts/2026/08/framer-motion-banner-frame-drop.en.md
  apps/blog/posts/2026/08/framer-motion-banner-frame-drop.md
Due: prettier

🔧 Skip linter-ignored public dir in pre-commit
  lefthook.yml
Due: prettier

⚡️ Enable navigation preload in service worker
  apps/blog/public/sw.js
Due: eslint-blog, prettier

🔧 Lint and format sw.js instead of bypassing
  .oxfmtrc.json
  .oxlintrc.json
  apps/blog/public/sw.js
  lefthook.yml
Due: eslint-blog, prettier

🎨 Format blog scripts with oxfmt
  apps/blog/scripts/check-translation-sync.mjs
  apps/blog/scripts/ga4-monthly-report.mjs
Due: eslint-blog

📣 Make interview banner stand out, extend to Sep 30
  apps/blog/posts/2026/08/who-learns-to-judge-interviews.md
  apps/blog/src/components/AnnouncementBanner.tsx
Due: eslint-blog, prettier

📊 Add referrer and user flow to GA4 report skill
  .claude/skills/ga4-report/SKILL.md
  .claude/skills/ga4-report/scripts/fetch-ga4.cjs
  .claude/skills/ga4-report/template.html
Due: prettier

📈 Track internal nav impressions and clicks
  apps/blog/src/app/layout.tsx
  apps/blog/src/components/InternalNavTracker.tsx
  apps/blog/src/components/RelatedPosts.tsx
  apps/blog/src/components/SeriesNavigation.tsx
  apps/blog/src/components/SeriesPrevNext.tsx
Due: eslint-blog, prettier

✏️ Humanize og-scraping posts and add English translations
  apps/blog/posts/2026/08/og-scraping-server-1.en.md
  apps/blog/posts/2026/08/og-scraping-server-1.md
  apps/blog/posts/2026/08/og-scraping-server-2.en.md
  apps/blog/posts/2026/08/og-scraping-server-2.md
Due: prettier

📈 Detect SW-served navigation via workerStart
  apps/blog/src/components/GoogleAnalyticsWebVitalsTracker.tsx
Due: eslint-blog, prettier

✏️ Add sw_controlled mislabel fix to SW caching part 2
  apps/blog/posts/2026/08/service-worker-caching-2.en.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
Due: prettier

📈 Open series list by default in SeriesNavigation
  apps/blog/src/components/SeriesNavigation.tsx
Due: eslint-blog, prettier

🐛 Fix text tool losing focus in Marp drawing mode
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/hooks/useDrawing.ts
Due: eslint-research, prettier

💄 Fix draw text input border and focus ring
  apps/research/src/components/MarpSlides.module.scss
Due: stylelint

💄 Fix clipped code lines in react-query deck 1
  apps/research/research/react-query-deep-dive-1.md
Due: prettier

✏️ Add part 1 recap quiz and ease Part 4 in react-query deck 2
  apps/research/research/react-query-deep-dive-2.md
Due: prettier

✏️ Split part 1 recap quiz into one question per slide
  apps/research/research/react-query-deep-dive-2.md
Due: prettier

✏️ Unpack the hard explanations in react-query deck 2
  apps/research/research/react-query-deep-dive-2.md
Due: prettier

✏️ Add SW caching part 3 draft on worker cost
  apps/blog/posts/2026/08/service-worker-caching-3.en.md
  apps/blog/posts/2026/08/service-worker-caching-3.md
  apps/blog/public/2026/08/images/service-worker-caching/lab-cold-ttfb-by-condition.en.png
  apps/blog/public/2026/08/images/service-worker-caching/lab-cold-ttfb-by-condition.png
  apps/blog/public/2026/08/images/service-worker-caching/rum-daily-ttfb-p50.en.png
  apps/blog/public/2026/08/images/service-worker-caching/rum-daily-ttfb-p50.png
  apps/blog/series/service-worker-caching.md
Due: prettier

📈 Add service worker cost lab harness
  apps/blog/scripts/sw-lab/analyze.cjs
  apps/blog/scripts/sw-lab/bw-nosw-fixed.jsonl
  apps/blog/scripts/sw-lab/bw-nosw.jsonl
  apps/blog/scripts/sw-lab/bw-sw-fixed.jsonl
  apps/blog/scripts/sw-lab/bw-sw-nosave.jsonl
  apps/blog/scripts/sw-lab/bw-sw.jsonl
  apps/blog/scripts/sw-lab/extract-test.cjs
  apps/blog/scripts/sw-lab/measure-bw.cjs
  apps/blog/scripts/sw-lab/measure-cpu.cjs
  apps/blog/scripts/sw-lab/measure.cjs
  apps/blog/scripts/sw-lab/proxy-stats.cjs
  apps/blog/scripts/sw-lab/proxy.cjs
  apps/blog/scripts/sw-lab/run-triple.sh
  apps/blog/scripts/sw-lab/runall.sh
  apps/blog/scripts/sw-lab/runcpu.sh
  apps/blog/scripts/sw-lab/runs-nosw-cpu6.jsonl
  apps/blog/scripts/sw-lab/runs-nosw.jsonl
  apps/blog/scripts/sw-lab/runs-sw-cpu6.jsonl
  apps/blog/scripts/sw-lab/runs-sw-nopreload.jsonl
  apps/blog/scripts/sw-lab/runs-sw.jsonl
Due: eslint-blog, prettier

🐛 Parse srcSet case-insensitively in SW
  apps/blog/public/sw.js
Due: eslint-blog, prettier

⬆️ Bump Node 24.20.0, pnpm 12.1.0, oxlint 1.80.0
  .nvmrc
  .oxlintrc.json
  apps/blog/src/components/GoogleAnalyticsWebVitalsTracker.tsx
  package.json
  pnpm-lock.yaml
Due: eslint-blog, prettier

🐛 Fix set-state-in-effect violations from oxlint 1.80
  .oxlintrc.json
  apps/blog/src/components/PullToRefresh.tsx
  apps/research/src/hooks/useDrawing.ts
  packages/shared/src/components/MobileNav.tsx
Due: eslint-blog, eslint-research, eslint-shared, prettier

🔧 Override Vercel installCommand for pnpm 12
  apps/blog/vercel.json
  apps/research/vercel.json
Due: prettier

💄 Normalize markdown emphasis to underscores
  apps/blog/posts/2021/08/event-loop-deep-dive.md
  apps/blog/posts/2021/09/react-18-ssr-architecture.md
  apps/blog/posts/2026/02/infinite-scroll-dark-side.md
  apps/blog/posts/2026/06/learning-what-ai-cant-do.md
  apps/blog/posts/2026/06/when-job-titles-blur.md
  apps/research/research/render-nothing-faster.md
Due: prettier

💄 Fix code block spacing in list items
  apps/blog/posts/2025/06/web-performance-analysis-3.en.md
  apps/blog/posts/2025/06/web-performance-analysis-3.md
  apps/blog/posts/2025/06/web-performance-analysis-4.en.md
  apps/blog/posts/2025/06/web-performance-analysis-4.md
  apps/blog/posts/2026/08/k8s-for-frontend-5.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-5.md
Due: prettier

🚀 Publish vendor SDK rebuild and verification post
  apps/blog/posts/2026/08/rebuilding-a-vendor-sdk.en.md
  apps/blog/posts/2026/08/rebuilding-a-vendor-sdk.md
Due: prettier

🐛 Stop announcement banner from eating page clicks
  apps/blog/src/components/AnnouncementBanner.tsx
Due: eslint-blog, prettier

✨ Add share button to the floating post dock
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/TableOfContents.tsx
Due: eslint-blog, prettier, stylelint

🐛 Wait for gtag before observing nav blocks
  apps/blog/src/components/InternalNavTracker.tsx
Due: eslint-blog, prettier

🐛 Only enable GA on the production hostname
  apps/blog/src/app/layout.tsx
Due: eslint-blog, prettier

📊 Add nav block and bot reports to GA4 fetch
  .claude/skills/ga4-report/scripts/fetch-ga4.cjs
Due: prettier
