Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-blog:
      root: 'apps/blog/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-research:
      root: 'apps/research/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-shared:
      root: 'packages/shared/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{scss,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    # 고쳐야할게 넘 많아서 패스..
    # markdownlint:
    #   glob: '*.md'
    #   run: pnpm exec markdownlint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: 'pnpm exec commit-helper {1}'

🐛 Keep unchanged offline decks across deployments
  apps/research/src/lib/offline/client.ts
  apps/research/src/lib/offline/types.ts
  apps/research/tests/offline-updates.spec.ts
Due: eslint-research, prettier

📝 Repin offline article and document update race
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
Due: prettier

🐛 Recheck offline updates triggered mid-scan
  apps/research/src/lib/offline/client.ts
Due: eslint-research, prettier

📝 Repin offline article to the update race fix
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
Due: prettier

📝 Add offline library capture and trim measurement note
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
  apps/blog/public/2026/09/images/offline-marp-slides/offline-library-indexeddb.png
Due: prettier

🐛 Start saved offline routes from the stored viewer
  apps/research/public/sw.js
  apps/research/tests/offline.spec.ts
Due: eslint-research, prettier

🐛 Preserve untouched CSS url() values when saving
  apps/research/src/lib/offline/assets.ts
  apps/research/tests/offline-updates.spec.ts
Due: eslint-research, prettier

🐛 Pin offline presentations to their saved snapshot
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/PresenterView.tsx
  apps/research/src/components/offline/OfflineLibrary.tsx
  apps/research/src/lib/offline/client.ts
  apps/research/src/lib/offline/snapshots.ts
  apps/research/tests/offline-updates.spec.ts
  apps/research/tests/offline.spec.ts
Due: eslint-research, prettier

✅ Cover cancelling an offline deck update
  apps/research/tests/offline-updates.spec.ts
Due: eslint-research, prettier

📝 Repin offline article to snapshot pinning
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
Due: prettier

🔧 Share workspace dependency versions via pnpm catalog
  apps/blog/package.json
  apps/research/package.json
  package.json
  packages/markdown-rs/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

📝 Restructure offline article around measured fixes
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
  apps/blog/public/2026/09/images/offline-marp-slides/navigation-measurements.json
  apps/blog/public/2026/09/images/offline-marp-slides/offline-library-indexeddb.png
  apps/blog/public/2026/09/images/offline-marp-slides/offline-library.png
  experiments/offline-marp/measure.mjs
Due: prettier

📝 Add conclusion with WebKit and Safari results
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
Due: prettier

📝 Tighten offline article conclusion
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
Due: prettier

📝 Drop follow-up promise from offline article
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
Due: prettier

📝 Add IndexedDB note to offline article conclusion
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
Due: prettier

📝 Reword IndexedDB note
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
Due: prettier

📝 Publish offline-marp-slides-in-nextjs
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/data/tag-scores.json
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.en.md
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
  apps/blog/public/thumbnails/2026/09/offline-marp-slides-in-nextjs.webp
Due: prettier

🔧 Add publish-post skill
  .claude/skills/publish-post/SKILL.md
Due: prettier

🔧 Set publish time in publish-post skill
  .claude/skills/publish-post/SKILL.md
Due: prettier

💄 Restyle footnotes apart from body text
  apps/blog/src/components/post/article.css
Due: stylelint

💄 Remove backticks around inline code
  apps/blog/src/styles/typography.css
Due: stylelint

💄 Tint inline code background instead of text
  apps/blog/src/components/post/article.css
Due: stylelint

👷 Install web-push outside pnpm workspace root
  .github/workflows/notify-push.yaml
Due: prettier

📝 Reuse server host detection on client in webview post
  apps/blog/posts/2026/09/one-web-on-multiple-webviews.en.md
  apps/blog/posts/2026/09/one-web-on-multiple-webviews.md
Due: prettier

🐛 Let /en/llms-full.txt pass proxy route check
  apps/blog/src/proxy.ts
Due: eslint-blog, prettier

✨ Serve markdown to AI agents instead of HTML
  apps/blog/src/constants/bot-signatures.ts
  apps/blog/src/proxy.ts
Due: eslint-blog, prettier

🔒 Hide unpublished posts from raw markdown
  apps/blog/src/utils/postsRaw.ts
Due: eslint-blog, prettier

✨ Redirect untranslated English .md to Korean
  apps/blog/src/app/api/posts-raw/en/[year]/[...slug]/route.ts
Due: eslint-blog, prettier

🐛 Return real 404 for missing posts in proxy
  apps/blog/next.config.ts
  apps/blog/src/proxy.ts
Due: eslint-blog, prettier

🐛 Redirect untranslated English posts with 308
  apps/blog/src/proxy.ts
Due: eslint-blog, prettier

💄 Use green-shirt Patrick for research header logo
  apps/research/public/profile.png
Due: none

📝 Add queue priority shorts preview post
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/posts/2026/10/queue-priority-shorts.md
  apps/blog/public/2026/10/images/queue-priority-shorts/poster.jpg
  apps/blog/public/2026/10/images/queue-priority-shorts/queue-priority.mp4
Due: prettier

🐛 Skip the proxy for mp4 files
  apps/blog/src/proxy.ts
Due: eslint-blog, prettier

📝 Add task queue order video to event loop post
  apps/blog/posts/2021/08/browser-nodejs-event-loop.md
  apps/blog/public/2021/08/images/browser-nodejs-event-loop/poster.jpg
  apps/blog/public/2021/08/images/browser-nodejs-event-loop/queue-priority.mp4
Due: prettier

✨ Show post updated dates in lists and detail pages
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/archive/archive.styles.ts
  apps/blog/src/app/archive/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/components/home/RecentRow.tsx
  apps/blog/src/components/post/PostCard.tsx
  apps/blog/src/components/post/PostRow.tsx
  apps/blog/src/type/index.ts
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

🔍 Use updated date for dateModified and sitemap lastmod
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/app/sitemap.ts
  apps/blog/src/utils/jsonLd.ts
Due: eslint-blog, prettier

🔧 Stamp post updated time in a pre-commit hook
  apps/blog/scripts/stamp-post-updated.mjs
  lefthook.yml
Due: eslint-blog, prettier
