Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

eslint-blog:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-research:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-shared:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

✨ Cross-link posts with research slides
  apps/blog/posts/2026/05/use-cache-deep-dive.md
  apps/blog/posts/2026/05/use-client-deep-dive.md
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/type/index.ts
  apps/research/research/react-server-functions-deep-dive.md
  apps/research/research/use-cache-deep-dive.md
  apps/research/research/use-client-deep-dive.md
  apps/research/src/app/page.tsx
  apps/research/src/app/slides/[slug]/page.tsx
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/SlideListWithFilter.tsx
Due: eslint-blog, eslint-research, prettier

✨ Add LiveDemo iframe component for MDX
  apps/blog/src/components/LiveDemo.tsx
  apps/blog/src/components/MDXComponents.tsx
Due: eslint-blog, prettier

📝 Add framer-motion banner frame drop post
  apps/blog/posts/2026/08/framer-motion-banner-frame-drop.md
  apps/blog/public/demos/2026/08/banner-image.png
  apps/blog/public/demos/2026/08/banner-motion.html
Due: prettier

🐛 Send push notification after blog deploy succeeds
  .github/workflows/notify-push.yaml
  apps/blog/scripts/notify-push.mjs
Due: eslint-blog, prettier

✨ Add pull-to-refresh for iOS standalone PWA
  apps/blog/src/app/layout.tsx
  apps/blog/src/components/PullToRefresh.tsx
Due: eslint-blog, prettier

📝 Add multi-webview architecture post (draft)
  apps/blog/posts/2026/08/one-web-on-multiple-webviews.md
Due: prettier

✨ Add ga4-report skill for blog analytics
  .claude/skills/ga4-report/SKILL.md
  .claude/skills/ga4-report/scripts/fetch-ga4.cjs
  .claude/skills/ga4-report/template.html
  .gitignore
Due: prettier

🐛 Allow same-origin framing for demo iframes
  apps/blog/vercel.json
Due: prettier

🔧 Allow cross-site framing between blog and research
  apps/blog/vercel.json
  apps/research/vercel.json
Due: prettier

🐛 Make banner demo reproduce frame drops on mobile
  apps/blog/posts/2026/08/framer-motion-banner-frame-drop.md
  apps/blog/public/demos/2026/08/banner-motion.html
Due: prettier

🔥 Remove unpublished draft posts
  apps/blog/posts/2019/05/20/react-study-9-redux.md
  apps/blog/posts/2019/07/19/javascript-memory-management.md
  apps/blog/posts/2019/12/13/retrospective-2019.md
  apps/blog/posts/2020/07/faster-async-functions-and-promises.md
  apps/blog/posts/2020/07/new-reconciliation-algorithm-in-react.md
  apps/blog/posts/2020/09/understanding-ecmascript-2.md
  apps/blog/posts/2020/10/react-rendering.md
  apps/blog/posts/2020/11/npm-v7-package-lock.json.md
  apps/blog/posts/2020/11/worker-threads-in-nodejs.md
  apps/blog/posts/2020/12/typescript-performance-tip.md
  apps/blog/posts/2021/02/javascript-function.md
  apps/blog/posts/2021/02/nodejs-async-hooks.md
  apps/blog/posts/2021/03/javascript-this.md
  apps/blog/posts/2021/06/react-hooks-with-condition.md
  apps/blog/posts/2021/10/difference-between-link-and-button.md
  apps/blog/posts/2021/12/journey-from-javascript-to-jit.md
  apps/blog/posts/2022/02/javascript-monorepo.md
  apps/blog/posts/2022/02/page-visibility-api-and-performance.md
  apps/blog/posts/2022/03/rust-for-javascript-developer-chapter2.md
  apps/blog/posts/2023/06/how-to-analyze-nodejs-performance.md
  apps/blog/posts/2023/06/what-is-esmodule.md
  apps/blog/posts/2026/03/markdown-before-code-editor.en.md
  apps/blog/posts/2026/03/markdown-before-code-editor.md
Due: prettier

📝 Fix technical inaccuracies in service worker post 1
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
Due: prettier

📝 Add data caveats to service worker post 2
  apps/blog/posts/2026/08/service-worker-caching-2.en.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
Due: prettier

✨ Expand markdown check into a render-pipeline linter
  apps/blog/package.json
  apps/blog/scripts/check-markdown.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint-blog, prettier

🔧 Widen .editorconfig and let oxfmt own width
  .editorconfig
Due: none

🐛 Fix dead anchor in use-cache deep dive translation
  apps/blog/posts/2026/05/use-cache-deep-dive.en.md
Due: prettier

🔧 Exclude html from oxfmt
  .oxfmtrc.json
Due: prettier

🐛 Read post dates as UTC in the markdown check
  apps/blog/scripts/check-markdown.mjs
Due: eslint-blog

📝 Note remaining frame drops in banner post
  apps/blog/posts/2026/08/framer-motion-banner-frame-drop.md
Due: prettier

📝 Add OG scraping server Node.js deep-dive post
  apps/research/research/og-scraping-server-nodejs.md
Due: prettier

📝 Add turbopack scope hoisting singleton post
  apps/blog/posts/2026/08/turbopack-scope-hoisting-singleton-split.en.md
  apps/blog/posts/2026/08/turbopack-scope-hoisting-singleton-split.md
  apps/blog/public/thumbnails/2026/08/turbopack-scope-hoisting-singleton-split.png
Due: prettier

✏️ Revise singleton post per author feedback
  apps/blog/posts/2026/08/turbopack-scope-hoisting-singleton-split.en.md
  apps/blog/posts/2026/08/turbopack-scope-hoisting-singleton-split.md
Due: prettier

✏️ Drop local-build tip from lessons section
  apps/blog/posts/2026/08/turbopack-scope-hoisting-singleton-split.en.md
  apps/blog/posts/2026/08/turbopack-scope-hoisting-singleton-split.md
Due: prettier

✂️ Split OG scraping deck into three parts
  apps/research/research/og-scraping-server-nodejs-1.md
  apps/research/research/og-scraping-server-nodejs-2.md
  apps/research/research/og-scraping-server-nodejs-3.md
  apps/research/research/og-scraping-server-nodejs.md
Due: prettier

📝 Add OG scraping server design note series
  apps/blog/posts/2026/08/og-scraping-server-1.md
  apps/blog/posts/2026/08/og-scraping-server-2.md
  apps/blog/posts/2026/08/og-scraping-server-3.md
  apps/blog/series/og-scraping-server.md
Due: prettier

📝 Add checkpoint quizzes to react-query decks
  apps/research/research/react-query-deep-dive-1.md
  apps/research/research/react-query-deep-dive-2.md
Due: prettier

✏️ Fix clipped slides in react-query decks
  apps/research/research/react-query-deep-dive-1.md
  apps/research/research/react-query-deep-dive-2.md
Due: prettier

✏️ Polish awkward phrasing in SW caching posts
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
  apps/blog/posts/2026/08/service-worker-caching-2.en.md
  apps/blog/posts/2026/08/service-worker-caching-2.md
Due: prettier

📝 Add adoption decision summary to SW caching pt 1
  apps/blog/posts/2026/08/service-worker-caching-1.en.md
  apps/blog/posts/2026/08/service-worker-caching-1.md
Due: prettier

🔧 Add translation sync pre-commit guard
  apps/blog/scripts/check-translation-sync.mjs
  lefthook.yml
Due: eslint-blog, prettier

🐛 Fix CJK-adjacent bold breaking in research slides
  apps/research/package.json
  apps/research/src/lib/marp.ts
  pnpm-lock.yaml
Due: eslint-research, prettier

🔧 Add emphasis lint hook for research slides
  apps/research/scripts/check-slides-markdown.mjs
  lefthook.yml
Due: eslint-research, prettier

🚀 Publish OG scraping server design note series
  apps/blog/posts/2026/08/og-scraping-server-1.md
  apps/blog/posts/2026/08/og-scraping-server-2.md
  apps/blog/posts/2026/08/og-scraping-server-3.md
Due: prettier

✂️ Restructure OG scraping series into two parts
  apps/blog/posts/2026/08/og-scraping-server-1.md
  apps/blog/posts/2026/08/og-scraping-server-2.md
  apps/blog/posts/2026/08/og-scraping-server-3.md
  apps/blog/series/og-scraping-server.md
Due: prettier

✂️ Merge OG scraping decks into two parts
  apps/research/research/og-scraping-server-nodejs-1.md
  apps/research/research/og-scraping-server-nodejs-2.md
  apps/research/research/og-scraping-server-nodejs-3.md
Due: prettier

⬆️ Bump dependencies and drop lodash.trim override
  apps/blog/package.json
  apps/research/package.json
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Path conditions:
  eslint-blog: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/blog/
  eslint-research: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/research/
  eslint-shared: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^packages/shared/
  prettier: any of: *.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}
  stylelint: any of: *.{scss,css}
