Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

eslint-blog:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-research:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-shared:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

✨ Swipe down to dismiss the mobile menu sheet
  packages/shared/src/components/MobileNav.tsx
Due: eslint-shared, prettier

💄 Smooth mobile menu sheet motion and spacing
  apps/blog/src/components/layout/MobileNav.styles.ts
  apps/research/src/components/MobileNav.styles.ts
Due: eslint-blog, eslint-research, prettier

✨ Add Jev tag vocabulary and retag script for research
  apps/research/data/tag-vocabulary.json
  apps/research/scripts/retag-slides.mjs
Due: eslint-research, prettier

🏷️ Retag research decks with Jev
  apps/research/research/best-practice-for-package-1.md
  apps/research/research/best-practice-for-package-2.md
  apps/research/research/best-practice-for-package-3.md
  apps/research/research/best-practice-for-package-4.md
  apps/research/research/cdn-and-http-cache-2.md
  apps/research/research/cdn-and-http-cache.md
  apps/research/research/example.md
  apps/research/research/feconf-2026-vendor-sdk.md
  apps/research/research/k.md
  apps/research/research/lottie-deep-dive-1.md
  apps/research/research/lottie-deep-dive-2.md
  apps/research/research/og-scraping-server-nodejs-1.md
  apps/research/research/og-scraping-server-nodejs-2.md
  apps/research/research/pie-bot-help-wanted.md
  apps/research/research/promise-deep-dive.md
  apps/research/research/react-query-deep-dive-1.md
  apps/research/research/react-query-deep-dive-2.md
  apps/research/research/react-rendering-optimization-guide.md
  apps/research/research/render-nothing-faster.md
  apps/research/research/sentry-deep-dive-1.md
  apps/research/research/sentry-deep-dive-2.md
  apps/research/research/suspense-error-boundary-deep-dive.md
  apps/research/research/use-cache-deep-dive.md
  apps/research/research/use-client-deep-dive.md
  apps/research/research/use-server-user-client.md
  apps/research/research/useEffect-race-condition-stale-closure.md
  apps/research/research/vite-bundle-optimization.md
  apps/research/research/what-is-LLM.md
  apps/research/research/what-is-RAG.md
Due: prettier

🔧 Retag research decks with Jev on commit
  lefthook.yml
Due: prettier

⚡️ Lazy-load mermaid and share Marp shadow root
  apps/research/src/components/Marp.tsx
  apps/research/src/components/SlidePreview.tsx
  apps/research/src/hooks/useFontFace.tsx
  apps/research/src/hooks/useMarpShadowRoot.ts
Due: eslint-research, prettier

🔥 Remove unused research styles and dead code
  apps/research/src/components/SlideList.styles.ts
  apps/research/src/config.ts
  apps/research/src/hooks/useTimer.ts
  apps/research/src/lib/offline/client.ts
  apps/research/src/styles/hero-fx.css
  apps/research/src/styles/markdown.css
  apps/research/src/styles/stylex.css
  apps/research/src/styles/theme.css
  apps/research/src/styles/transitions.css
Due: eslint-research, prettier, stylelint

♻️ Load research decks through one shared index
  apps/research/package.json
  apps/research/src/app/api/slides/[slug]/offline/route.ts
  apps/research/src/app/page.tsx
  apps/research/src/app/slides/[slug]/layout.tsx
  apps/research/src/app/slides/[slug]/page.tsx
  apps/research/src/app/slides/[slug]/presenter/page.tsx
  apps/research/src/components/SlideListWithFilter.tsx
  apps/research/src/lib/marp.ts
  apps/research/src/lib/slidesIndex.ts
  pnpm-lock.yaml
Due: eslint-research, prettier

♻️ Reuse transition types in the tweaks panel
  apps/research/src/components/TweaksPanel.tsx
Due: eslint-research, prettier

🏷️ Declare the gtag window type once
  apps/research/src/components/BotTracker.tsx
  apps/research/src/components/GoogleAnalyticsPageViewTracker.tsx
  apps/research/types/gtag.d.ts
Due: eslint-research, prettier

🐛 Close slide search with Escape inside the input
  apps/research/src/components/MarpSearchModal.tsx
Due: eslint-research, prettier

♻️ Split MarpSlides into menu, overview and drawing
  apps/research/src/components/MarpContextMenu.tsx
  apps/research/src/components/MarpDrawingLayer.tsx
  apps/research/src/components/MarpHelpModal.tsx
  apps/research/src/components/MarpOverview.tsx
  apps/research/src/components/MarpQrModal.tsx
  apps/research/src/components/MarpSearchModal.tsx
  apps/research/src/components/MarpSlides.constants.ts
  apps/research/src/components/MarpSlides.styles.ts
  apps/research/src/components/MarpSlides.tsx
Due: eslint-research, prettier

🔗 Open demo artifacts as plain links
  apps/blog/src/components/post/MDXComponents.tsx
Due: eslint-blog, prettier

📝 Add coldpath series intro
  apps/blog/public/thumbnails/series/coldpath.webp
  apps/blog/series/coldpath.md
Due: prettier

📝 Publish coldpath part 1: tracing blog JavaScript
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/posts/2026/09/tracing-bundle-waste-with-v8-coverage-and-sourcemaps.en.md
  apps/blog/posts/2026/09/tracing-bundle-waste-with-v8-coverage-and-sourcemaps.md
  apps/blog/public/demos/coldpath/applied-2026-09-26.json
  apps/blog/public/demos/coldpath/applied-report-2026-09-26.html
  apps/blog/public/demos/coldpath/blog-replay-0.1.1-2026-09-25.tar.gz
  apps/blog/public/demos/coldpath/blog-reproduction-2026-09-25.md
  apps/blog/public/demos/coldpath/measure-applied-2026-09-26.md
  apps/blog/public/demos/coldpath/post-2026-09-25.md
  apps/blog/public/demos/coldpath/recalculation-0.1.1-2026-09-25.json
  apps/blog/public/demos/coldpath/recalculation-0.1.1-2026-09-25.md
  apps/blog/public/thumbnails/2026/09/tracing-bundle-waste-with-v8-coverage-and-sourcemaps.webp
Due: prettier

📝 Publish coldpath part 3: tracing Toss Securities JS
  apps/blog/posts/2026/09/tracing-third-party-javascript-without-sourcemaps.en.md
  apps/blog/posts/2026/09/tracing-third-party-javascript-without-sourcemaps.md
  apps/blog/public/demos/coldpath/gitlab-validation-2026-09-25.json
  apps/blog/public/demos/coldpath/toss-candidates-2026-09-26.md
  apps/blog/public/demos/coldpath/toss-report-2026-09-26.html
  apps/blog/public/demos/coldpath/toss-reproduction-2026-09-26.md
  apps/blog/public/demos/coldpath/toss-summary-2026-09-26.json
  apps/blog/public/thumbnails/2026/09/tracing-third-party-javascript-without-sourcemaps.webp
Due: prettier

📝 Publish coldpath part 2: building the analyzer
  apps/blog/posts/2026/09/building-coldpath-v8-coverage-analyzer.en.md
  apps/blog/posts/2026/09/building-coldpath-v8-coverage-analyzer.md
  apps/blog/public/demos/coldpath/coldpath-architecture-2026-09-26.html
  apps/blog/public/thumbnails/2026/09/building-coldpath-v8-coverage-analyzer.webp
Due: prettier

🔗 Update tags and related posts for coldpath series
  apps/blog/data/tag-scores.json
Due: prettier

🔥 Remove comments that restate the code
  apps/blog/src/app/api/og/route.tsx
  apps/blog/src/app/feed.xml/route.ts
  apps/blog/src/components/about/LoadTrace.tsx
  apps/blog/src/proxy.ts
Due: eslint-blog, prettier

💄 Match research tag chips and card meta to the blog
  apps/research/src/components/SlideList.styles.ts
  apps/research/src/components/SlideListWithFilter.tsx
Due: eslint-research, prettier

🐛 Skip presenter note sync after refs detach
  apps/research/src/components/PresenterNotes.tsx
Due: eslint-research, prettier

⬆️ Bump @react-three/fiber to 9.8.1 for Activity
  apps/blog/package.json
  pnpm-lock.yaml
Due: prettier

📝 Publish cacheComponents and Activity post
  apps/blog/posts/2026/09/nextjs-cache-components-activity.en.md
  apps/blog/posts/2026/09/nextjs-cache-components-activity.md
  apps/blog/public/thumbnails/2026/09/nextjs-cache-components-activity.webp
Due: prettier

🔗 Update tags and related posts for Activity post
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/data/tag-scores.json
Due: prettier

📝 Publish Rails World 2026 keynote essay
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/posts/2026/09/dhh-rails-world-2026-keynote.en.md
  apps/blog/posts/2026/09/dhh-rails-world-2026-keynote.md
  apps/blog/public/thumbnails/2026/09/dhh-rails-world-2026-keynote.webp
Due: prettier

🔗 Update tag scores for Rails World essay
  apps/blog/data/tag-scores.json
Due: prettier

💄 Lead the home page with recent posts
  apps/blog/src/app/en/page.tsx
  apps/blog/src/app/page.tsx
  apps/blog/src/constants/index.ts
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

💄 Widen the post reading column to 920px
  apps/blog/src/components/post/article.css
Due: stylelint

🙈 Unpublish the Rails World essay translation
  apps/blog/data/related-posts.json
  apps/blog/posts/2026/09/dhh-rails-world-2026-keynote.en.md
Due: prettier

🖼️ Add a thumbnail to the Next.js caching guide
  apps/blog/posts/2025/12/nextjs-caching-deep-dive.en.md
  apps/blog/posts/2025/12/nextjs-caching-deep-dive.md
  apps/blog/public/thumbnails/2025/12/nextjs-caching-deep-dive.webp
Due: prettier

🔥 Remove the beta reader recruitment banner
  apps/blog/src/components/layout/LayoutWrapper.tsx
Due: eslint-blog, prettier

📝 Publish the FEConf 2026 vendor SDK deck
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

✨ Pin featured decks to the top of the research home
  apps/research/src/app/page.tsx
  apps/research/src/lib/slidesIndex.ts
Due: eslint-research, prettier

📝 Feature the FEConf 2026 vendor SDK deck
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

💄 Make featured research decks glow
  apps/research/src/app/page.tsx
  apps/research/src/components/SlideList.styles.ts
  apps/research/src/components/SlideListWithFilter.tsx
Due: eslint-research, prettier

💄 Strengthen the featured deck glow
  apps/research/src/components/SlideList.styles.ts
Due: eslint-research, prettier

🐛 Delete superseded offline viewer caches
  apps/research/docs/offline.md
  apps/research/public/sw.js
  apps/research/tests/offline-updates.spec.ts
Due: eslint-research, prettier

⚡️ Reuse unchanged offline viewer files
  apps/research/docs/offline.md
  apps/research/src/lib/offline/client.ts
  apps/research/tests/offline-updates.spec.ts
Due: eslint-research, prettier

🐛 Open saved decks after a 5s network stall
  apps/research/docs/offline.md
  apps/research/public/sw.js
  apps/research/tests/offline.spec.ts
Due: eslint-research, prettier

📝 Draft offline Marp implementation article
  apps/blog/posts/2026/09/offline-marp-slides-in-nextjs.md
Due: prettier

Path conditions:
  eslint-blog: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/blog/
  eslint-research: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/research/
  eslint-shared: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^packages/shared/
  prettier: any of: *.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}
  stylelint: any of: *.{scss,css}
