Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-blog:
      root: 'apps/blog/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-research:
      root: 'apps/research/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-shared:
      root: 'packages/shared/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{scss,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    # 고쳐야할게 넘 많아서 패스..
    # markdownlint:
    #   glob: '*.md'
    #   run: pnpm exec markdownlint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: 'pnpm exec commit-helper {1}'

🐛 Read post dates as KST in JSON-LD, sitemap, and feeds
  apps/blog/src/app/en/feed.xml/route.ts
  apps/blog/src/app/feed.xml/route.ts
  apps/blog/src/app/sitemap.ts
  apps/blog/src/utils/jsonLd.ts
  apps/blog/src/utils/postDate.ts
Due: eslint-blog, prettier

🌐 Show post dates in the reader's time zone
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/archive/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/components/home/RecentRow.tsx
  apps/blog/src/components/post/PostCard.tsx
  apps/blog/src/components/post/PostDate.tsx
  apps/blog/src/components/post/PostRow.tsx
  apps/blog/src/components/series/PopularSeriesCard.tsx
  apps/blog/src/components/series/SeriesRow.tsx
Due: eslint-blog, prettier

📝 Draft a post on how bundlers remember imports
  apps/blog/posts/2026/10/how-bundlers-remember-imports.md
Due: prettier

📝 Restructure FEConf deck for a 30-minute talk
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

📝 Drop stage directions from FEConf speaker notes
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

✨ Let presenters drag to resize the notes panel
  apps/research/src/components/PresenterNotes.tsx
  apps/research/src/components/PresenterView.styles.ts
  apps/research/src/components/PresenterView.tsx
  apps/research/tests/presenter-notes.spec.ts
Due: eslint-research, prettier

✅ Retarget viewer edge-link test and await glide
  apps/research/tests/viewer.spec.ts
Due: eslint-research, prettier

📝 Close book interview and beta reader recruitment
  apps/blog/posts/2026/08/who-learns-to-judge-interviews.md
Due: prettier

📝 Close beta reader recruitment for the book
  apps/blog/posts/2026/09/who-learns-to-judge-beta-reader.md
Due: prettier

🔧 Keep embedded code verbatim in the bundler import post
  .oxfmtrc.json
Due: prettier

📝 Replace jargon terms in FEConf deck
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

📝 Reframe the bundler import draft around coldpath
  apps/blog/posts/2026/10/how-bundlers-remember-imports.md
Due: prettier

📝 Add the number-flow series
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.en.md
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.md
  apps/blog/series/number-flow.md
Due: prettier

📝 Correct the Safari section of the number-flow fork post
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.en.md
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.md
Due: prettier

📝 Publish number-flow-compositor-performance
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/data/tag-scores.json
  apps/blog/posts/2026/10/number-flow-compositor-performance.en.md
  apps/blog/posts/2026/10/number-flow-compositor-performance.md
  apps/blog/public/demos/number-flow/animation-lab.html
  apps/blog/public/demos/number-flow/engine-path.html
  apps/blog/public/demos/number-flow/engine-path.workflow.json
  apps/blog/public/thumbnails/2026/10/number-flow-compositor-performance.webp
Due: prettier

📝 Link the number-flow compositor post from the FEConf deck
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

📝 Add the instance reuse measurement to the markdown pipeline post
  apps/blog/posts/2026/09/markdown-pipeline-to-rust-wasm.md
Due: prettier

✏️ Replace raw-record wording in markdown-rs post
  apps/blog/posts/2026/09/markdown-pipeline-to-rust-wasm.md
Due: prettier

🐛 Only enable research GA on the production hostname
  apps/research/src/app/layout.tsx
Due: eslint-research, prettier

✨ Add English series and tag pages
  apps/blog/next.config.ts
  apps/blog/series/ai-era-judgment.en.md
  apps/blog/series/coldpath.en.md
  apps/blog/series/directive-deep-dive.en.md
  apps/blog/series/k8s-for-frontend.en.md
  apps/blog/series/number-flow.en.md
  apps/blog/series/og-scraping-server.en.md
  apps/blog/series/service-worker-caching.en.md
  apps/blog/series/state-of-nextjs.en.md
  apps/blog/series/web-performance-analysis.en.md
  apps/blog/src/app/en/series/[slug]/page.tsx
  apps/blog/src/app/en/series/page.tsx
  apps/blog/src/app/en/tags/[tag]/pages/[id]/page.tsx
  apps/blog/src/app/en/tags/layout.tsx
  apps/blog/src/app/en/tags/page.tsx
  apps/blog/src/app/sitemap.ts
  apps/blog/src/components/layout/LanguageSwitch.tsx
  apps/blog/src/components/layout/LayoutWrapper.tsx
  apps/blog/src/components/series/SeriesDetailView.tsx
  apps/blog/src/components/series/SeriesIndexView.tsx
  apps/blog/src/components/series/SeriesRow.tsx
  apps/blog/src/components/tags/TagPostsView.tsx
  apps/blog/src/components/tags/TagsIndexView.tsx
  apps/blog/src/proxy.ts
  apps/blog/src/utils/Series.ts
Due: eslint-blog, prettier

♻️ Share post detail between Korean and English
  apps/blog/src/app/[year]/[...slug]/loading.tsx
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/[year]/[...slug]/loading.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/components/post/PostDetail.tsx
  apps/blog/src/components/post/PostLoading.tsx
  apps/blog/src/components/post/Tag.tsx
  apps/blog/src/components/series/SeriesNavigation.tsx
  apps/blog/src/utils/Series.ts
Due: eslint-blog, prettier

💄 Widen the post column to 960px
  apps/blog/src/app/[year]/[...slug]/layout.tsx
  apps/blog/src/components/post/article.css
Due: eslint-blog, prettier, stylelint

🐛 Ignore title emphasis when ranking related posts
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/scripts/generate-related-posts.mjs
Due: eslint-blog, prettier

🐛 Strip title emphasis from push notifications
  apps/blog/scripts/notify-push.mjs
Due: eslint-blog

🐛 Strip title emphasis from llms-full.txt
  apps/blog/src/utils/llmsFull.ts
Due: eslint-blog, prettier

🌐 Localize the popular series card
  apps/blog/src/components/series/PopularSeriesCard.tsx
Due: eslint-blog, prettier

♻️ Render both home pages from a shared HomeView
  apps/blog/src/app/en/page.tsx
  apps/blog/src/app/page.tsx
  apps/blog/src/components/home/HomeView.tsx
Due: eslint-blog, prettier

🐛 Switch language with a full page load
  apps/blog/src/components/layout/LanguageSwitch.tsx
Due: eslint-blog, prettier

🌐 Use the English series name in number-flow posts
  apps/blog/posts/2026/08/number-flow-fork-for-old-browsers.en.md
  apps/blog/posts/2026/10/number-flow-compositor-performance.en.md
Due: prettier

✏️ Unlink the set post from two performance posts
  apps/blog/posts/2026/09/blog-performance-after-migrations.md
  apps/blog/posts/2026/09/markdown-pipeline-to-rust-wasm.md
Due: prettier

🔒 Restrict OG thumbnail to same-origin paths
  apps/blog/src/app/api/og/route.tsx
Due: eslint-blog, prettier

♻️ Move duplicated trackers and ambient effects to shared
  apps/blog/package.json
  apps/blog/src/app/layout.tsx
  apps/blog/src/proxy.ts
  apps/blog/typing/custom.d.ts
  apps/research/package.json
  apps/research/src/app/layout.tsx
  apps/research/src/components/AmbientEffects.tsx
  apps/research/src/components/BotTracker.tsx
  apps/research/src/components/GoogleAnalyticsPageViewTracker.tsx
  apps/research/src/components/OutboundLinkTracker.tsx
  apps/research/src/constants/bot-signatures.ts
  packages/shared/package.json
  packages/shared/src/components/AmbientEffects.tsx
  packages/shared/src/components/BotTracker.tsx
  packages/shared/src/components/GoogleAnalyticsPageViewTracker.tsx
  packages/shared/src/components/OutboundLinkTracker.tsx
  packages/shared/src/components/index.ts
  packages/shared/src/gtag.d.ts
  packages/shared/src/utils/bot-signatures.ts
  packages/shared/src/utils/index.ts
  pnpm-lock.yaml
Due: eslint-blog, eslint-research, eslint-shared, prettier

🔥 Remove unused EmphasizedTitle and date-fns from shared
  packages/shared/package.json
  packages/shared/src/components/EmphasizedTitle.tsx
  packages/shared/src/components/index.ts
  pnpm-lock.yaml
Due: eslint-shared, prettier

⬆️ Bump isbot to 5.2.2
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

✅ Require literal true or false for published
  apps/blog/README.md
  apps/blog/scripts/check-markdown.mjs
  apps/research/scripts/check-slides-markdown.mjs
Due: eslint-blog, eslint-research, prettier

🔥 Remove unused GA report and art generation scripts
  .claude/skills/publish-post/SKILL.md
  apps/blog/scripts/ga4-monthly-report.mjs
  apps/blog/scripts/generate-art-spec.mjs
  apps/blog/scripts/generate-thumbnail.mjs
  apps/blog/src/app/api/og/art/layouts.tsx
  apps/blog/src/type/index.ts
Due: eslint-blog, prettier

♻️ Drop always-true English filter in llms route
  apps/blog/src/app/api/llms/route.ts
Due: eslint-blog, prettier
