Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-blog:
      root: 'apps/blog/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-research:
      root: 'apps/research/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    eslint-shared:
      root: 'packages/shared/'
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{scss,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    # 고쳐야할게 넘 많아서 패스..
    # markdownlint:
    #   glob: '*.md'
    #   run: pnpm exec markdownlint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: 'pnpm exec commit-helper {1}'

📝 Add Sentry deep-dive slide deck draft
  apps/research/research/sentry-deep-dive.md
Due: prettier

📝 Split Sentry deep-dive deck into two parts and publish
  apps/research/research/sentry-deep-dive-1.md
  apps/research/research/sentry-deep-dive-2.md
Due: prettier

📝 Clarify retry and transition slides in Suspense deck
  apps/research/research/suspense-error-boundary-deep-dive.md
Due: prettier

📝 Add tearing aside slide to Suspense deck
  apps/research/research/suspense-error-boundary-deep-dive.md
Due: prettier

📝 Add Vite bundle optimization slide deck draft
  apps/research/research/vite-bundle-optimization.md
Due: prettier

📝 Publish Vite bundle optimization deck
  apps/research/research/vite-bundle-optimization.md
Due: prettier

📝 Clarify gzip, exports slides in Vite deck
  apps/research/research/vite-bundle-optimization.md
Due: prettier

📝 Set Vite deck date below Sentry decks
  apps/research/research/vite-bundle-optimization.md
Due: prettier

✍️ Sharpen pod sizing post: break-even, load-test caveats
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
Due: prettier

📝 Publish pod termination deep-dive (part 4)
  apps/blog/posts/2026/08/k8s-for-frontend-4.md
  apps/blog/public/thumbnails/2026/08/k8s-for-frontend-4.png
Due: prettier

🎨 Reformat shared type declarations
  packages/shared/src/components/SocialIcon.tsx
  packages/shared/src/utils/title.ts
Due: eslint-shared, prettier

📝 Cross-link k8s series and fix review nits
  apps/blog/posts/2026/08/k8s-for-frontend-1.md
  apps/blog/posts/2026/08/k8s-for-frontend-2.md
Due: prettier

📝 Publish k8s traffic path deep-dive (part 3)
  apps/blog/posts/2026/08/k8s-for-frontend-3.md
  apps/blog/public/thumbnails/2026/08/k8s-for-frontend-3.png
Due: prettier

✨ Add series readme content and loader
  apps/blog/series/ai-era-judgment.md
  apps/blog/series/directive-deep-dive.md
  apps/blog/series/k8s-for-frontend.md
  apps/blog/series/state-of-nextjs.md
  apps/blog/series/web-performance-analysis.md
  apps/blog/src/type/index.ts
  apps/blog/src/utils/Series.ts
Due: eslint-blog, prettier

✨ Add series index and detail pages
  apps/blog/src/app/series/[slug]/page.tsx
  apps/blog/src/app/series/page.tsx
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/LayoutWrapper.tsx
  apps/blog/src/components/SeriesRow.tsx
Due: eslint-blog, prettier, stylelint

✨ Surface series on home and header nav
  apps/blog/src/app/page.tsx
  apps/blog/src/config.ts
Due: eslint-blog, prettier

🔗 Link posts and sitemap to series pages
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/sitemap.ts
  apps/blog/src/components/SeriesNavigation.tsx
Due: eslint-blog, prettier

💄 Tighten home hero scale
  apps/blog/src/app/tailwind.css
Due: stylelint

💄 Revamp home: now-reading hero card, section order
  apps/blog/src/app/page.tsx
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/HeroE.tsx
  apps/blog/src/constants/index.ts
Due: eslint-blog, prettier, stylelint

💄 Scale up now-reading hero card
  apps/blog/src/app/page.tsx
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/HeroE.tsx
Due: eslint-blog, prettier, stylelint

✨ Add generative thumbnail art route prototype
  apps/blog/src/app/api/og/art/route.tsx
Due: eslint-blog, prettier

💄 Move popular section above series on home
  apps/blog/src/app/page.tsx
Due: eslint-blog, prettier

📝 Publish HPA autoscaling deep-dive (part 5)
  apps/blog/posts/2026/08/k8s-for-frontend-5.md
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.en.md
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
Due: prettier

🌐 Add English translations for k8s series
  apps/blog/posts/2026/08/k8s-for-frontend-1.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-2.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-3.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-4.en.md
Due: prettier

✨ Diversify art thumbnails: papers, palettes, genres
  apps/blog/src/app/api/og/art/route.tsx
Due: eslint-blog, prettier

💄 Serve generated art as post thumbnails
  apps/blog/src/components/PostCard.tsx
  apps/blog/src/components/PostRow.tsx
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

✨ Prefer real thumbnail PNG over generated art
  apps/blog/src/components/PostCard.tsx
  apps/blog/src/components/PostRow.tsx
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

✍️ Fill in measurements and refine autoscaling post
  apps/blog/posts/2026/08/k8s-for-frontend-5.md
Due: prettier

✍️ Mention new performance book in about intro
  apps/blog/src/components/about/AboutIntro.tsx
Due: eslint-blog, prettier

✨ Add series prev/next navigation at end of posts
  apps/blog/src/app/[year]/[...slug]/page.tsx
  apps/blog/src/app/tailwind.css
  apps/blog/src/components/SeriesPrevNext.tsx
Due: eslint-blog, prettier, stylelint

✨ Show series navigation on English posts
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/components/SeriesNavigation.tsx
Due: eslint-blog, prettier

🔧 Migrate translate script to claude-sonnet-5
  apps/blog/scripts/translate.mjs
Due: eslint-blog

🌐 Add English translation for when-job-titles-blur
  apps/blog/posts/2026/06/when-job-titles-blur.en.md
Due: prettier

📝 Publish part 5 after adversarial review rework
  apps/blog/posts/2026/08/k8s-for-frontend-5.md
Due: prettier

🌐 Add English translation for autoscaling post
  apps/blog/posts/2026/08/k8s-for-frontend-5.en.md
Due: prettier

🔗 Link parts 1, 2, 4 to autoscaling part 5
  apps/blog/posts/2026/08/k8s-for-frontend-1.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-1.md
  apps/blog/posts/2026/08/k8s-for-frontend-2.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-2.md
  apps/blog/posts/2026/08/k8s-for-frontend-4.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-4.md
Due: prettier

🔗 Link term index HPA row to part 5
  apps/blog/posts/2026/08/k8s-for-frontend-1.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-1.md
Due: prettier

🙈 Exclude labs from prettier formatting
  .prettierignore
Due: none
