Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

eslint-blog:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-research:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-shared:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

♻️ Share pagination across post, tag, and slide lists
  apps/blog/src/app/en/pages/[id]/page.tsx
  apps/blog/src/app/pages/[id]/page.tsx
  apps/blog/src/components/post/PaginatedList.tsx
  apps/blog/src/components/post/PostsPageView.tsx
  apps/blog/src/components/tags/TagPostsView.tsx
  apps/research/src/components/SlideListWithFilter.tsx
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/pagination.ts
Due: eslint-blog, eslint-research, eslint-shared, prettier

♻️ Derive locale path prefix from one helper
  apps/blog/src/components/about/AboutTabs.tsx
  apps/blog/src/components/about/pageMetadata.ts
  apps/blog/src/components/layout/AnnouncementBanner.tsx
  apps/blog/src/components/layout/LayoutWrapper.tsx
  apps/blog/src/components/post/PostsPageView.tsx
  apps/blog/src/components/post/TableOfContents.tsx
  apps/blog/src/components/pwa/PushAlertTooltip.tsx
  apps/blog/src/components/tags/TagPostsView.tsx
  apps/blog/src/components/tags/TagsIndexView.tsx
  apps/blog/src/hooks/useLocale.ts
  apps/blog/src/utils/postPaths.ts
Due: eslint-blog, prettier

♻️ Share unDraw thumbnail engine between apps
  apps/blog/scripts/generate-undraw-thumbnail.mjs
  apps/research/scripts/generate-undraw-thumbnail.mjs
  packages/shared/package.json
  packages/shared/scripts/undraw-thumbnail.mjs
  pnpm-lock.yaml
Due: eslint-blog, eslint-research, eslint-shared, prettier

🍱 Add missing unDraw thumbnails and keep book cover
  apps/blog/posts/2026/07/frontend-performance-deep-dive-is-out-now.md
  apps/blog/public/thumbnails/2026/09/markdown-pipeline-to-rust-wasm.webp
  apps/blog/public/thumbnails/series/blog-performance.webp
  apps/blog/series/blog-performance.md
  apps/research/public/thumbnails/cdn-and-http-cache-2.webp
  packages/shared/scripts/undraw-thumbnail.mjs
Due: eslint-shared, prettier

🔧 Warn only when a post date precedes its path
  apps/blog/scripts/check-markdown.mjs
Due: eslint-blog

♻️ Share asset walker between offline collect and rewrite
  apps/research/src/lib/offline/assets.ts
Due: eslint-research, prettier

♻️ Keep offline cache names in one module
  apps/research/scripts/generate-offline-runtime.mjs
  apps/research/src/lib/offline/cacheNames.ts
  apps/research/src/lib/offline/client.ts
  apps/research/src/lib/offline/snapshots.ts
Due: eslint-research, prettier

🔥 Remove unused blog code and the tags API
  apps/blog/src/app/api/tags/route.ts
  apps/blog/src/components/layout/LayoutWrapper.tsx
  apps/blog/src/components/layout/SectionContainer.tsx
  apps/blog/src/constants/index.ts
  apps/blog/src/type/index.ts
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

♻️ Build both RSS feeds from one function
  apps/blog/src/app/en/feed.xml/route.ts
  apps/blog/src/app/feed.xml/route.ts
  apps/blog/src/utils/feed.ts
Due: eslint-blog, prettier

♻️ List published slides through one helper
  apps/research/src/app/api/llms-full/route.ts
  apps/research/src/app/api/llms/route.ts
  apps/research/src/app/feed.xml/route.ts
  apps/research/src/app/sitemap.ts
  apps/research/src/lib/slidesIndex.ts
Due: eslint-research, prettier

♻️ Read the transition cookie with shared getCookie
  apps/research/src/components/MarpSlides.constants.ts
Due: eslint-research, prettier

🏷️ Share the Slide type between home and list
  apps/research/src/app/page.tsx
  apps/research/src/components/SlideListWithFilter.tsx
Due: eslint-research, prettier

♻️ Compute series neighbors in one place
  apps/blog/src/components/series/SeriesNavigation.tsx
  apps/blog/src/components/series/SeriesPrevNext.tsx
  apps/blog/src/components/series/neighbors.ts
Due: eslint-blog, prettier

♻️ Share theme cookie and GA scripts across apps
  apps/blog/src/app/layout.tsx
  apps/research/src/app/layout.tsx
  packages/shared/src/components/GoogleAnalyticsScripts.tsx
  packages/shared/src/components/index.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/themeScript.ts
Due: eslint-blog, eslint-research, eslint-shared, prettier

🏷️ Type search results without a double cast
  apps/blog/src/components/search/SiteSearch.tsx
Due: eslint-blog, prettier

⚡ Reuse the OG font across renders
  apps/blog/src/app/api/og/art/route.tsx
  apps/blog/src/app/api/og/route.tsx
  apps/blog/src/utils/ogFont.ts
Due: eslint-blog, prettier

✅ Fail markdown checks when the slug table is stale
  apps/blog/scripts/check-markdown.mjs
  packages/markdown-rs/scripts/gen-slug-table.mjs
Due: eslint-blog

♻️ Pick the layout container in one expression
  apps/blog/src/components/layout/LayoutWrapper.tsx
Due: eslint-blog, prettier

📝 Add Wasm basics slides for frontend developers
  apps/research/research/wasm-basics-for-frontend.md
Due: prettier

📝 Correct bundler draft details found in review
  apps/blog/posts/2026/10/how-bundlers-remember-imports.md
Due: prettier

📝 Follow coldpath's suggestion across releases
  apps/blog/posts/2026/10/how-bundlers-remember-imports.md
Due: prettier

📝 Shorten the module factory detour
  apps/blog/posts/2026/10/how-bundlers-remember-imports.md
Due: prettier

📝 Define recurring terms up front
  apps/blog/posts/2026/10/how-bundlers-remember-imports.md
Due: prettier

📝 Move the coldpath fix after the bundler survey
  apps/blog/posts/2026/10/how-bundlers-remember-imports.md
Due: prettier

📝 Publish how-bundlers-remember-imports
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/data/tag-scores.json
  apps/blog/posts/2026/10/how-bundlers-remember-imports.en.md
  apps/blog/posts/2026/10/how-bundlers-remember-imports.md
  apps/blog/public/thumbnails/2026/10/how-bundlers-remember-imports.webp
Due: prettier

📝 Foreshadow execution timing and trim the bundler post
  apps/blog/posts/2026/10/how-bundlers-remember-imports.en.md
  apps/blog/posts/2026/10/how-bundlers-remember-imports.md
Due: prettier

📝 Add slides on why useQuery cannot suspend itself
  apps/research/research/why-usequery-cannot-suspend-itself.md
Due: prettier

📝 Publish the useQuery self-suspend deck
  apps/research/research/why-usequery-cannot-suspend-itself.md
Due: prettier

🍱 Add unDraw thumbnail for the useQuery deck
  apps/research/public/thumbnails/why-usequery-cannot-suspend-itself.webp
  apps/research/research/why-usequery-cannot-suspend-itself.md
Due: prettier

📝 Add coding agent model evaluation series
  apps/blog/series/coding-agent-model-evaluation.md
Due: prettier

📝 Draft comparing coding agent models with SWE-bench
  apps/blog/posts/2026/10/swe-bench-before-swapping-models.md
  apps/blog/public/demos/swe-bench/eval-flow.html
  apps/blog/public/demos/swe-bench/eval-flow.workflow.json
Due: prettier

📝 Publish swe-bench-before-swapping-models
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/data/tag-scores.json
  apps/blog/posts/2026/10/swe-bench-before-swapping-models.en.md
  apps/blog/posts/2026/10/swe-bench-before-swapping-models.md
  apps/blog/public/thumbnails/2026/10/swe-bench-before-swapping-models.webp
  apps/blog/series/coding-agent-model-evaluation.en.md
Due: prettier

📝 Clarify why the useQuery promise was removed
  apps/research/research/why-usequery-cannot-suspend-itself.md
Due: prettier

Path conditions:
  eslint-blog: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/blog/
  eslint-research: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/research/
  eslint-shared: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^packages/shared/
  prettier: any of: *.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}
  stylelint: any of: *.{scss,css}
