Repository yceffort/blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-blog, eslint-research, eslint-shared, prettier, stylelint

eslint-blog:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-research:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

eslint-shared:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

📝 Frame FEConf deck around keeping vendor logic intact
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

💄 Space out the FEConf takeaways closing line
  apps/research/src/lib/themes/feconf.ts
Due: eslint-research, prettier

✨ Auto-update offline decks and improve slide interactions
  apps/research/docs/offline.md
  apps/research/public/sw.js
  apps/research/src/app/api/slides/[slug]/offline/route.ts
  apps/research/src/components/MarpQrModal.tsx
  apps/research/src/components/MarpSlides.styles.ts
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/offline/OfflineLibrary.tsx
  apps/research/src/components/offline/OfflineRegistration.tsx
  apps/research/src/lib/offline/client.ts
  apps/research/src/lib/offline/types.ts
  apps/research/src/styles/marp.css
  apps/research/src/styles/offline.css
  apps/research/tests/offline-updates.spec.ts
  apps/research/tests/viewer.spec.ts
Due: eslint-research, prettier, stylelint

📝 Bookend FEConf notes with the vendor SDK thesis
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

♻️ Use paths for offline deck and presenter URLs
  apps/research/docs/offline.md
  apps/research/public/sw.js
  apps/research/src/app/layout.tsx
  apps/research/src/app/offline/[slug]/page.tsx
  apps/research/src/app/offline/[slug]/presenter/page.tsx
  apps/research/src/components/offline/OfflineLibrary.tsx
  apps/research/src/lib/offline/client.ts
  apps/research/tests/offline-updates.spec.ts
  apps/research/tests/offline.spec.ts
Due: eslint-research, prettier

📝 Unwrap and tidy research offline docs
  apps/research/docs/offline.md
Due: prettier

✨ Make presenter note scrolling visible and accessible
  apps/research/src/components/PresenterNotes.tsx
  apps/research/src/components/PresenterView.styles.ts
  apps/research/src/components/PresenterView.tsx
  apps/research/src/styles/marp.css
  apps/research/tests/offline-updates.spec.ts
  apps/research/tests/offline.spec.ts
  apps/research/tests/presenter-notes.spec.ts
Due: eslint-research, prettier, stylelint

📝 Drop message UI mention from FEConf deck
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

📝 Pseudonymize SDK send API in FEConf deck
  apps/research/research/feconf-2026-vendor-sdk.md
Due: prettier

📝 Soften AI tone in k8s series part 1
  apps/blog/posts/2026/08/k8s-for-frontend-1.en.md
  apps/blog/posts/2026/08/k8s-for-frontend-1.md
Due: prettier

📝 Soften AI tone in k8s series part 5
  apps/blog/posts/2026/08/k8s-for-frontend-5.md
Due: prettier

📝 Soften AI tone in Node.js pod sizing post
  apps/blog/posts/2026/08/nodejs-k8s-pod-sizing.md
Due: prettier

📝 Soften AI tone in k8s series part 2
  apps/blog/posts/2026/08/k8s-for-frontend-2.md
Due: prettier

📝 Soften AI tone in k8s series part 4
  apps/blog/posts/2026/08/k8s-for-frontend-4.md
Due: prettier

📝 Soften AI tone in k8s series part 3
  apps/blog/posts/2026/08/k8s-for-frontend-3.md
Due: prettier

⚡️ Load minisearch only when search opens
  apps/blog/src/components/search/SiteSearch.tsx
Due: eslint-blog, prettier

⚡️ Use lightFormat for client-side post dates
  apps/blog/src/components/post/PostCard.tsx
  apps/blog/src/components/series/PopularSeriesCard.tsx
Due: eslint-blog, prettier

⚡️ Load panzoom only when a diagram is zoomed
  apps/blog/src/components/post/Mermaid.tsx
Due: eslint-blog, prettier

🔧 Rename the bundle analysis build to coldpath
  apps/blog/next.config.ts
  apps/blog/tsconfig.json
Due: eslint-blog, prettier

✨ Add coldpath scenarios for a post with diagrams
  apps/blog/coldpath/.gitignore
  apps/blog/coldpath/coldpath.scenarios.json
  apps/blog/coldpath/scenarios/search.mjs
  apps/blog/coldpath/scenarios/zoom-diagram.mjs
Due: eslint-blog, prettier

✨ Add Jev-ranked related posts generator
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/scripts/generate-related-posts.mjs
Due: eslint-blog, prettier

⚡️ Use Jev-ranked related posts with tag fallback
  apps/blog/src/utils/Post.ts
Due: eslint-blog, prettier

🔧 Refresh related posts on post commits
  lefthook.yml
Due: prettier

🔀 Redirect merged and removed tag pages
  apps/blog/next.config.ts
Due: eslint-blog, prettier

✨ Add Jev tag classifier and tag vocabulary
  apps/blog/data/tag-scores.json
  apps/blog/data/tag-vocabulary.json
  apps/blog/scripts/propose-tags.mjs
  apps/blog/scripts/retag-posts.mjs
Due: eslint-blog, prettier

🙈 Unpublish Go, Delphi and startup posts
  apps/blog/posts/2018/05/31/some-trick-delphi.md
  apps/blog/posts/2018/06/01/golang-structure-embedding.md
  apps/blog/posts/2019/05/03/disciplined-entrepreneurship.md
Due: prettier

🙈 Unpublish the old Docker and K8s study posts
  apps/blog/data/related-posts.json
  apps/blog/data/related-scores.json
  apps/blog/posts/2020/07/docker-study-1.md
  apps/blog/posts/2020/07/docker-study-2.md
  apps/blog/posts/2020/08/docker-study-3.md
  apps/blog/posts/2021/06/study-k8s-1.md
  apps/blog/posts/2021/06/study-k8s-2.md
  apps/blog/posts/2021/06/study-k8s-3.md
  apps/blog/posts/2021/06/study-k8s-4.md
Due: prettier

♻️ Tag new posts with Jev instead of Claude
  apps/blog/scripts/generate-tags.mjs
  apps/blog/scripts/propose-tags.mjs
  apps/blog/scripts/retag-posts.mjs
Due: eslint-blog

🏷️ Retag the bundle waste draft with Jev
  apps/blog/data/tag-scores.json
  apps/blog/posts/2026/09/tracing-bundle-waste-with-v8-coverage-and-sourcemaps.md
Due: prettier

✨ Replace the about hero with a live load trace
  apps/blog/src/components/about/AboutHero.tsx
  apps/blog/src/components/about/HeroFxA.tsx
  apps/blog/src/components/about/HeroFxB.tsx
  apps/blog/src/components/about/LoadTrace.tsx
  apps/blog/src/components/about/LoadTraceShell.tsx
  apps/blog/src/components/about/about.styles.ts
  apps/blog/src/components/about/collectTrace.ts
  apps/blog/src/components/about/hero-fx.css
  apps/blog/src/components/about/traceText.ts
  apps/blog/src/styles/README.md
  apps/blog/src/styles/stylex.css
Due: eslint-blog, prettier, stylelint

🌐 Add English about and resume pages
  apps/blog/src/app/about/layout.tsx
  apps/blog/src/app/en/[year]/[...slug]/page.tsx
  apps/blog/src/app/en/about/layout.tsx
  apps/blog/src/app/en/about/page.tsx
  apps/blog/src/app/en/resume/layout.tsx
  apps/blog/src/app/en/resume/page.tsx
  apps/blog/src/app/sitemap.ts
  apps/blog/src/components/about/AboutHero.tsx
  apps/blog/src/components/about/AboutIntro.tsx
  apps/blog/src/components/about/AboutPageView.tsx
  apps/blog/src/components/about/AboutTabs.tsx
  apps/blog/src/components/about/ProjectTags.tsx
  apps/blog/src/components/about/Resume.tsx
  apps/blog/src/components/about/ResumePageView.tsx
  apps/blog/src/components/about/openSourceProjects.ts
  apps/blog/src/components/about/pageMetadata.ts
  apps/blog/src/components/about/resumeContent.ts
  apps/blog/src/components/layout/LanguageSwitch.tsx
  apps/blog/src/components/layout/LayoutWrapper.tsx
  apps/blog/src/components/layout/MobileNav.tsx
  apps/blog/src/proxy.ts
Due: eslint-blog, prettier

✨ List coldpath among open source projects
  apps/blog/src/components/about/openSourceProjects.ts
Due: eslint-blog, prettier

✏️ Use npm package names for open source projects
  apps/blog/src/components/about/openSourceProjects.ts
Due: eslint-blog, prettier

🐛 Resync tweak settings when a tab becomes visible
  apps/blog/src/components/settings/TweaksPanel.tsx
  apps/research/src/components/TweaksPanel.tsx
Due: eslint-blog, eslint-research, prettier

💄 Align research header and hero with the blog
  apps/research/public/profile.png
  apps/research/src/components/LayoutWrapper.styles.ts
  apps/research/src/components/LayoutWrapper.tsx
  apps/research/src/components/hero.styles.ts
Due: eslint-research, prettier

⚡ Remove common web fonts from research
  apps/research/src/app/layout.tsx
  apps/research/src/styles/theme.css
Due: eslint-research, prettier, stylelint

✏️ Rename saved decks menu to Offline
  apps/research/src/app/offline/page.tsx
  apps/research/src/components/MarpSlides.tsx
  apps/research/src/components/SlideListWithFilter.tsx
  apps/research/src/components/offline/OfflineLibrary.tsx
  apps/research/src/config.ts
Due: eslint-research, prettier

Path conditions:
  eslint-blog: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/blog/
  eslint-research: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^apps/research/
  eslint-shared: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx} and ^packages/shared/
  prettier: any of: *.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}
  stylelint: any of: *.{scss,css}
